.checkbox-group {
    --checkbox-group-display: grid;
    --checkbox-group-grid-template-columns: auto 1fr;
    --checkbox-group-grid-gap: 0 var(--spacing-s);

    --checkbox-group-label-font-family: var(--font-family-text);
    --checkbox-group-label-font-size: var(--font-size-normal);
    --checkbox-group-label-font-weight: var(--font-weight-text-normal);
    --checkbox-group-label-color: var(--color-font);

    --checkbox-group-description-column: 2;

    --checkbox-group-error-column: 2;
    --checkbox-group-error-padding: 0;

    --multi-check-group-row-margin: var(--spacing-xs) 0;


    display: var(--checkbox-group-display);
    grid-template-columns: var(--checkbox-group-grid-template-columns);
    grid-gap: var(--checkbox-group-grid-gap);
}

.input-group--type-multi-check .checkbox-group {
    margin: var(--multi-check-group-row-margin);
}

.input-group.input-group--type-checkbox::after,
.input-group.input-group--type-multi-check::after{
    --input-group-icon-display: none;
}

.checkbox-group__label {
    font-family: var(--checkbox-group-label-font-family);
    font-size: var(--checkbox-group-label-font-size);
    font-weight: var(--checkbox-group-label-font-weight);
    color: var(--checkbox-group-label-color);
}

.input-group--disabled .checkbox-group__label {
    --checkbox-group-label-color: var(--color-font-light);

    pointer-events: none;
}

.form__description.checkbox-group__description {
    --form-description-padding: 0;

    grid-column: var(--checkbox-group-description-column);
}

.form__error.checkbox-group__error {
    --form-error-padding: 0;

    grid-column: var(--checkbox-group-error-column);
}

@media (hover: hover) {
    .checkbox-group__label:hover {
        cursor: pointer;
    }
}