.fieldset {
    --fieldset-padding: var(--spacing-normal);
    --fieldset-border-color: var(--color-font);
    --fieldset-border-width: 2px;
    --fieldset-border-radius: var(--border-radius-normal);

    --fieldset-legend-color: var(--color-font);
    --fieldset-legend-font-family: var(--font-family-text);
    --fieldset-legend-font-size: var(--font-size-normal);
    --fieldset-legend-font-weight: var(--font-weight-text-normal);

    padding: var(--fieldset-padding);
    border: var(--fieldset-border-width) solid var(--fieldset-border-color);
    border-radius: var(--fieldset-border-radius);
}

.fieldset:focus-within {
    --fieldset-border-color: var(--color-primary);
    --fieldset-legend-color: var(--color-primary);
}

.fieldset__legend {
    color: var(--fieldset-legend-color);
    font-family: var(--fieldset-legend-font-family);
    font-size: var(--fieldset-legend-font-size);
    font-weight: var(--fieldset-legend-font-weight);
}