.input-label {
    --input-label-position: absolute;
    --input-label-top: var(--spacing-s);
    --input-label-left: var(--spacing-s);
    --input-label-font-size: var(--font-size-xs);
    --input-label-color: var(--form-input-color);
    --input-label-required-content: var(--form-required-suffix);
    --input-label-required-content-margin: var(--form-require-suffix-margin);

    position: var(--input-label-position);
    top: var(--input-label-top);
    left: var(--input-label-left);
    font-size: var(--input-label-font-size);
    color: var(--input-label-color);
}

.toujou-input-group[is-required] .input-label::after {
    content: var(--input-label-required-content);
    margin: var(--input-label-required-content-margin);
}

.toujou-input-group:focus-within .input-label {
    --input-label-color: var(--color-primary);
}

.toujou-input-group[is-disabled] .input-label {
    --input-label-color: var(--color-font-light);
}

.toujou-input-group[has-error] .input-label {
    --input-label-color: var(--color-error);
}

.toujou-input-group[has-success] .input-label {
    --input-label-color: var(--color-success);
}

.toujou-input-group[input-group-type="multi-select"] .input-label {
    background-color: var(--color-bg);
    width: calc(100% - var(--spacing-l))
}