.toujou-form-description {
    --form-description-order: 10;
    --form-description-margin: var(--spacing-s) 0 0;
    --form-description-padding: 0 var(--spacing-xs);
    --form-description-color: var(--color-font-light);
    --form-description-font-family: var(--font-family-text);
    --form-description-font-size: var(--font-size-s);
    --form-description-font-weight: var(--font-weight-text-normal);
    --form-description-column: 1 / -1;

    order: var(--form-description-order);
    margin: var(--form-description-margin);
    padding: var(--form-description-padding);
    color: var(--form-description-color);
    font-family: var(--form-description-font-family);
    font-size: var(--form-description-font-size);
    font-weight: var(--form-description-font-weight);
    grid-column: var(--form-description-column);
}

.toujou-form-description--after-group {
    --form-description-padding: 0 var(--spacing-s) 0 calc(var(--spacing-m) + 2px);
}

.toujou-form-description--checkbox-group {
    --form-description-padding: 0;

    grid-column: var(--checkbox-group-description-column);
}

.toujou-form-description--toggle-group {
    --form-description-padding: 0;

    grid-column: var(--toggle-group-description-column);
}