:root,
::before,
::after {
    --icon-size-m: var(--spacing-m);
    --icon-size-normal: var(--spacing-ms);

    --icon-accessiblity: url('../assets/icons/icon-accessibility.svg');
    --icon-account: url('../assets/icons/icon-account.svg');
    --icon-alarm: url('../assets/icons/icon-alarm.svg');
    --icon-arrow-down: url('../assets/icons/icon-arrow-down.svg');
    --icon-arrow-drop-down: url('../assets/icons/icon-arrow-drop-down.svg');
    --icon-arrow-left: url('../assets/icons/icon-arrow-left.svg');
    --icon-arrow-right: url('../assets/icons/icon-arrow-right.svg');
    --icon-arrow-up: url('../assets/icons/icon-arrow-up.svg');
    --icon-article: url('../assets/icons/icon-article.svg');
    --icon-audiotrack: url('../assets/icons/icon-audiotrack.svg');
    --icon-audiotrack-circle-filled: url('../assets/icons/icon-audiotrack-circle-filled.svg');
    --icon-bell: url('../assets/icons/icon-bell.svg');
    --icon-blockquote-round: url('../assets/icons/icon-blockquote-round.svg');
    --icon-bookmark: url('../assets/icons/icon-bookmark.svg');
    --icon-bookmark-filled: url('../assets/icons/icon-bookmark-filled.svg');
    --icon-briefcase: url('../assets/icons/icon-briefcase.svg');
    --icon-calendar-check: url('../assets/icons/icon-calendar-check.svg');
    --icon-calendar-day: url('../assets/icons/icon-calendar-day.svg');
    --icon-calendar-empty: url('../assets/icons/icon-calendar-empty.svg');
    --icon-calendar-lines: url('../assets/icons/icon-calendar-lines.svg');
    --icon-campaign: url('../assets/icons/icon-campaign.svg');
    --icon-cancel-circle-filled: url('../assets/icons/icon-cancel-circle-filled.svg');
    --icon-chart: url('../assets/icons/icon-chart.svg');
    --icon-check: url('../assets/icons/icon-check.svg');
    --icon-check-circle: url('../assets/icons/icon-check-circle.svg');
    --icon-chevron-down: url('../assets/icons/icon-chevron-down.svg');
    --icon-chevron-filled-down: url('../assets/icons/icon-chevron-filled-down.svg');
    --icon-chevron-filled-left: url('../assets/icons/icon-chevron-filled-left.svg');
    --icon-chevron-filled-right: url('../assets/icons/icon-chevron-filled-right.svg');
    --icon-chevron-filled-up: url('../assets/icons/icon-chevron-filled-up.svg');
    --icon-chevron-left: url('../assets/icons/icon-chevron-left.svg');
    --icon-chevron-right: url('../assets/icons/icon-chevron-right.svg');
    --icon-chevron-up: url('../assets/icons/icon-chevron-up.svg');
    --icon-clock-circle: url('../assets/icons/icon-clock-circle.svg');
    --icon-clock-circle-filled: url('../assets/icons/icon-clock-circle-filled.svg');
    --icon-close: url('../assets/icons/icon-close.svg');
    --icon-cloud: url('../assets/icons/icon-cloud.svg');
    --icon-coffee: url('../assets/icons/icon-coffee.svg');
    --icon-company: url('../assets/icons/icon-company.svg');
    --icon-coronavirus: url('../assets/icons/icon-coronavirus.svg');
    --icon-dashboard: url('../assets/icons/icon-dashboard.svg');
    --icon-drink: url('../assets/icons/icon-drink.svg');
    --icon-email: url('../assets/icons/icon-email.svg');
    --icon-euro: url('../assets/icons/icon-euro.svg');
    --icon-equalizer: url('../assets/icons/icon-equalizer.svg');
    --icon-equalizer-circle-filled: url('../assets/icons/icon-equalizer-circle-filled.svg');
    --icon-eye: url('../assets/icons/icon-eye.svg');
    --icon-eye-off: url('../assets/icons/icon-eye-off.svg');
    --icon-fax: url('../assets/icons/icon-fax.svg');
    --icon-file-download: url('../assets/icons/icon-file-download.svg');
    --icon-filter: url('../assets/icons/icon-filter.svg');
    --icon-flag: url('../assets/icons/icon-flag.svg');
    --icon-flower: url('../assets/icons/icon-flower.svg');
    --icon-folder: url('../assets/icons/icon-folder.svg');
    --icon-food: url('../assets/icons/icon-food.svg');
    --icon-forward: url('../assets/icons/icon-forward.svg');
    --icon-forward-circle-filled: url('../assets/icons/icon-forward-circle-filled.svg');
    --icon-globe: url('../assets/icons/icon-globe.svg');
    --icon-grid: url('../assets/icons/icon-grid.svg');
    --icon-heart: url('../assets/icons/icon-heart.svg');
    --icon-heart-stroke: url('../assets/icons/icon-heart-stroke.svg');
    --icon-home: url('../assets/icons/icon-home.svg');
    --icon-home-smooth: url('../assets/icons/icon-home-smooth.svg');
    --icon-hotel: url('../assets/icons/icon-hotel.svg');
    --icon-image: url('../assets/icons/icon-image.svg');
    --icon-image-circle-filled: url('../assets/icons/icon-image-circle-filled.svg');
    --icon-image-collection: url('../assets/icons/icon-image-collection.svg');
    --icon-image-collection-circle-filled: url('../assets/icons/icon-image-collection-circle-filled.svg');
    --icon-info: url('../assets/icons/icon-info.svg');
    --icon-link: url('../assets/icons/icon-link.svg');
    --icon-list: url('../assets/icons/icon-list.svg');
    --icon-location: url('../assets/icons/icon-location.svg');
    --icon-map: url('../assets/icons/icon-map.svg');
    --icon-message-bubble: url('../assets/icons/icon-message-bubble.svg');
    --icon-monument: url('../assets/icons/icon-monument.svg');
    --icon-new: url('../assets/icons/icon-new.svg');
    --icon-pause: url('../assets/icons/icon-pause.svg');
    --icon-pause-circle-filled: url('../assets/icons/icon-pause-circle-filled.svg');
    --icon-pending-circle-filled: url('../assets/icons/icon-pending-circle-filled.svg');
    --icon-play: url('../assets/icons/icon-play.svg');
    --icon-play-circle-filled: url('../assets/icons/icon-play-circle-filled.svg');
    --icon-play-circle: url('../assets/icons/icon-play-circle.svg');
    --icon-play-circle-filled: url('../assets/icons/icon-play-circle-filled.svg');
    --icon-prize: url('../assets/icons/icon-prize.svg');
    --icon-plus-circle: url('../assets/icons/icon-plus-circle.svg');
    --icon-question: url('../assets/icons/icon-question.svg');
    --icon-rewind: url('../assets/icons/icon-rewind.svg');
    --icon-rewind-circle-filled: url('../assets/icons/icon-rewind-circle-filled.svg');
    --icon-school: url('../assets/icons/icon-school.svg');
    --icon-science: url('../assets/icons/icon-science.svg');
    --icon-search: url('../assets/icons/icon-search.svg');
    --icon-settings: url('../assets/icons/icon-settings.svg');
    --icon-shopping-bag: url('../assets/icons/icon-shopping-bag.svg');
    --icon-shopping-cart: url('../assets/icons/icon-shopping-cart.svg');
    --icon-skip-back: url('../assets/icons/icon-skip-back.svg');
    --icon-skip-back-circle-filled: url('../assets/icons/icon-skip-back-circle-filled.svg');
    --icon-skip-next: url('../assets/icons/icon-skip-next.svg');
    --icon-skip-next-circle-filled: url('../assets/icons/icon-skip-next-circle-filled.svg');
    --icon-sm-facebook: url('../assets/icons/icon-sm-facebook.svg');
    --icon-sm-facebook-circle: url('../assets/icons/icon-sm-facebook-circle.svg');
    --icon-sm-instagram: url('../assets/icons/icon-sm-instagram.svg');
    --icon-sm-instagram-circle: url('../assets/icons/icon-sm-instagram-circle.svg');
    --icon-sm-linkedin: url('../assets/icons/icon-sm-linkedin.svg');
    --icon-sm-linkedin-circle: url('../assets/icons/icon-sm-linkedin-circle.svg');
    --icon-sm-pinterest: url('../assets/icons/icon-sm-pinterest.svg');
    --icon-sm-pinterest-circle: url('../assets/icons/icon-sm-pinterest-circle.svg');
    --icon-sm-twitter: url('../assets/icons/icon-sm-twitter.svg');
    --icon-sm-twitter-circle: url('../assets/icons/icon-sm-twitter-circle.svg');
    --icon-sm-tiktok: url('../assets/icons/icon-sm-tiktok.svg');
    --icon-sm-tiktok-circle: url('../assets/icons/icon-sm-tiktok-circle.svg');
    --icon-sm-xing: url('../assets/icons/icon-sm-xing.svg');
    --icon-sm-xing-circle: url('../assets/icons/icon-sm-xing-circle.svg');
    --icon-sm-youtube: url('../assets/icons/icon-sm-youtube.svg');
    --icon-sm-youtube-circle: url('../assets/icons/icon-sm-youtube-circle.svg');
    --icon-sports: url('../assets/icons/icon-sports.svg');
    --icon-star: url('../assets/icons/icon-star.svg');
    --icon-stop: url('../assets/icons/icon-stop.svg');
    --icon-stop-circle-filled: url('../assets/icons/icon-stop-circle-filled.svg');
    --icon-support: url('../assets/icons/icon-support.svg');
    --icon-tag: url('../assets/icons/icon-tag.svg');
    --icon-tag-filled: url('../assets/icons/icon-tag-filled.svg');
    --icon-target: url('../assets/icons/icon-target.svg');
    --icon-telephone: url('../assets/icons/icon-telephone.svg');
    --icon-thumb-up: url('../assets/icons/icon-thumb-up.svg');
    --icon-tools: url('../assets/icons/icon-tools.svg');
    --icon-tune: url('../assets/icons/icon-tune.svg');
    --icon-tune-circle-filled: url('../assets/icons/icon-tune-circle-filled.svg');
    --icon-videocam: url('../assets/icons/icon-videocam.svg');
    --icon-videocam-circle-filled: url('../assets/icons/icon-videocam-circle-filled.svg');
    --icon-volume-down: url('../assets/icons/icon-volume-down.svg');
    --icon-volume-down-circle-filled: url('../assets/icons/icon-volume-down-circle-filled.svg');
    --icon-volume-mute: url('../assets/icons/icon-volume-mute.svg');
    --icon-volume-mute-circle-filled: url('../assets/icons/icon-volume-mute-circle-filled.svg');
    --icon-volume-off: url('../assets/icons/icon-volume-off.svg');
    --icon-volume-off-circle-filled: url('../assets/icons/icon-volume-off-circle-filled.svg');
    --icon-volume-up: url('../assets/icons/icon-volume-up.svg');
    --icon-volume-up-circle-filled: url('../assets/icons/icon-volume-up-circle-filled.svg');
    --icon-warning: url('../assets/icons/icon-warning.svg');
}
