:root,
::before,
::after {
    --spacing-base: 1rem;

    --spacing-xxxxl: calc(var(--spacing-base) * 7.5);    /* 120px */
    --spacing-xxxl: calc(var(--spacing-base) * 6);       /* 96px */
    --spacing-xxl: calc(var(--spacing-base) * 4);        /* 64px */
    --spacing-xl: calc(var(--spacing-base) * 3);         /* 48px */
    --spacing-l: calc(var(--spacing-base) * 2);          /* 32px */
    --spacing-m: calc(var(--spacing-base) * 1.5);        /* 24px */
    --spacing-ms: calc(var(--spacing-base) * 1.25);      /* 20px */
    --spacing-normal: var(--spacing-base);               /* 16px */
    --spacing-s: calc(var(--spacing-base) * .5);         /* 8px */
    --spacing-xs: calc(var(--spacing-base) * .25);       /* 4px */
    --spacing-xxs: calc(var(--spacing-base) * .125);     /* 2px */
    --spacing-1px: 1px;
    --spacing-2px: 2px;

    --spacing-between-elements-normal: var(--spacing-xl);
    --spacing-between-elements-s: calc(var(--spacing-between-elements-normal) / 2);
    --spacing-between-consecutive-elements-normal: var(--spacing-l);
}

@media screen and (min-width: 840px) {
    :root,
    ::before,
    ::after {
        --spacing-between-elements-normal: var(--spacing-xxxl);
    }
}
