.counter-grid {
    --counter-grid-list-style: none;
    --counter-grid-display: flex;
    --counter-flex-flow: row wrap;
    --counter-grid-gap: var(--content-spacing-between-columns);
    --counter-grid-justify-content: center;
    --counter-grid-align-items: flex-start;
    --counter-grid-width: var(--content-width-with-padding);
    --counter-grid-max-width: var(--content-wide-max-width);
    --counter-grid-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
    --counter-grid-padding: 0;

    --counter-grid-item-width: 100%;

    list-style: var(--counter-grid-list-style);
    display: var(--counter-grid-display);
    flex-flow: var(--counter-flex-flow);
    gap: var(--counter-grid-gap);
    justify-content: var(--counter-grid-justify-content);
    align-items: var(--counter-grid-align-items);
    width: var(--counter-grid-width);
    max-width: var(--counter-grid-max-width);
    margin: var(--counter-grid-margin);
    padding: var(--counter-grid-padding);
}

.counter-grid__item {
    width: var(--counter-grid-item-width);
}

@container (min-width: 640px) {
    .counter-grid {
        --counter-grid-item-width: calc(calc(100% - var(--content-spacing-between-columns)) / 2);
    }
}

@container (min-width: 840px) {
    .counter-grid {
        --counter-grid-item-width: calc(calc(100% - calc(var(--content-spacing-between-columns) * 3)) / 4);
    }
}
