@layer components {
    .departures-header {
        --departures-header-display: none;
        --departures-header-grid-template-columns: var(--departures-grid-template-columns);
        --departures-header-grid-gap: var(--spacing-normal);
        --departures-header-background-color: var(--color-font);
        --departures-header-color: var(--color-bg);
        --departures-header-border-radius: var(--border-radius-normal);
        --departures-header-font-family: var(--font-family-headline);
        --departures-header-padding: var(--spacing-normal);

        --departures-header-prices-display: grid;
        --departures-header-prices-grid-template-columns: var(--departures-prices-grid-template-columns);

        --departures-header-note-display: block;
        --departures-header-note-font-size: var(--font-size-xs);

        --departures-header-text-hidden-opacity: 0;
        --departures-header-text-hidden-pointer-events: none;

        display: var(--departures-header-display);
        grid-template-columns: var(--departures-header-grid-template-columns);
        grid-gap: var(--departures-header-grid-gap);
        background-color: var(--departures-header-background-color);
        color: var(--departures-header-color);
        border-radius: var(--departures-header-border-radius);
        font-family: var(--departures-header-font-family);
        padding: var(--departures-header-padding);
    }

    .departures-header__prices {
        display: var(--departures-header-prices-display);
        grid-template-columns: var(--departures-header-prices-grid-template-columns);
    }

    .departures-header__note {
        display: var(--departures-header-note-display);
        font-size: var(--departures-header-note-font-size);
    }

    .departures-header__text--hidden {
        opacity: var(--departures-header-text-hidden-opacity);
        pointer-events: var(--departures-header-text-hidden-pointer-events);
    }

    @container (width >= 840px) {
        .departures-header {
            --departures-header-display: grid;
        }
    }
}
