@layer components {
    .departure {
        --departure-display: grid;
        --departure-grid-template-columns: var(--departures-grid-template-columns);
        --departure-grid-gap: var(--spacing-normal);
        --departure-align-items: center;
        --departure-font-family: var(--font-family-text);
        --departure-padding: var(--spacing-normal);
        --departure-border-radius: var(--border-radius-normal);
        --departure-background-color-light: transparent;
        --departure-background-color-dark: var(--color-font-o-05);

        --departure-title-font-family: var(--font-family-text);
        --departure-title-font-size: var(--font-size-ms);
        --departure-title-font-weight: var(--font-weight-text-bold);
        --departure-title-line-height: var(--font-size-normal);
        --departure-title-margin: 0;

        --departure-infos-display: grid;
        --departure-infos-grid-template-columns: var(--departures-prices-grid-template-columns);
        --departure-infos-grid-gap: var(--spacing-s);

        --departure-info-display: flex;
        --departure-info-align-items: center;
        --departure-info-justify-content: space-between;
        --departure-info-margin: 0;
        --departure-info-font-family: var(--font-family-text);
        --departure-info-font-size: var(--font-size-normal);

        --departure-info-label-display: block;

        --departure-info-value-font-weight: var(--font-weight-text-normal);

        --departure-status-margin: 0;

        --departure-status-text-display: flex;
        --departure-status-text-gap: var(--spacing-s);
        --departure-status-text-align-items: center;
        --departure-status-text-justify-content: flex-start;
        --departure-status-text-text-transform: uppercase;
        --departure-status-text-font-family: var(--font-family-text);
        --departure-status-text-font-weight: var(--font-weight-text-bold);
        --departure-status-text-font-size: var(--font-size-s);
        --departure-status-text-line-height: 1;

        --departure-status-text-before-size: 1rem;
        --departure-status-text-before-display: block;
        --departure-status-text-before-border-radius: var(--border-radius-circle);
        --departure-status-text-before-flex-shrink: 0;

        --departure-status-info-font-family: var(--font-family-text);
        --departure-status-info-font-size: var(--font-size-s);
        --departure-status-info-line-height: var(--departure-status-info-font-size);
        --departure-status-info-margin: var(--spacing-xs) 0 0;
        --departure-status-display: inline-block;

        --departure-cta-button-margin: 0 0 0 auto;
        --departure-cta-button-width: fit-content;

        display: var(--departure-display);
        grid-template-columns: var(--departure-grid-template-columns);
        grid-gap: var(--departure-grid-gap);
        align-items: var(--departure-align-items);
        padding: var(--departure-padding);
        border-radius: var(--departure-border-radius);
        font-family: var(--departure-font-family);
        background-color: var(--departure-background-color-dark);
    }

    .departure__title {
        margin: var(--departure-title-margin);
        font-family: var(--departure-title-font-family);
        font-weight: var(--departure-title-font-weight);
        font-size: var(--departure-title-font-size);
        line-height: var(--departure-title-line-height);
    }

    .departure__infos {
        display: var(--departure-infos-display);
        grid-template-columns: var(--departure-infos-grid-template-columns);
        grid-gap: var(--departure-infos-grid-gap);
    }

    .departure__info {
        display: var(--departure-info-display);
        align-items: var(--departure-info-align-items);
        justify-content: var(--departure-info-justify-content);
        margin: var(--departure-info-margin);
        font-family: var(--departure-info-font-family);
        font-size: var(--departure-info-font-size);
    }

    .departure__info-label {
        display: var(--departure-info-label-display);
    }

    .departure__info-value {
        font-weight: var(--departure-info-value-font-weight);
    }

    .departure__status {
        margin: var(--departure-status-margin);
    }

    .departure__status[has-no-status] {
        height: 0;
    }

    .departure__status-text {
        --departure-status-text-before-background-color: transparent;

        display: var(--departure-status-text-display);
        gap: var(--departure-status-text-gap);
        align-items: var(--departure-status-text-align-items);
        justify-content: var(--departure-status-text-justify-content);
        text-transform: var(--departure-status-text-text-transform);
        font-family: var(--departure-status-text-font-family);
        font-weight: var(--departure-status-text-font-weight);
        font-size: var(--departure-status-text-font-size);
        line-height: var(--departure-status-text-line-height);
    }

    .departure__status-text--success {
        --departure-status-text-before-background-color: var(--color-success);
    }

    .departure__status-text--warning {
        --departure-status-text-before-background-color: var(--color-warning);
    }

    .departure__status-text--error {
        --departure-status-text-before-background-color: var(--color-error);
    }

    .departure__status-text::before {
        content: "";
        height: var(--departure-status-text-before-size);
        width: var(--departure-status-text-before-size);
        display: var(--departure-status-text-before-display);
        border-radius: var(--departure-status-text-before-border-radius);
        background-color: var(--departure-status-text-before-background-color);
        flex-shrink: var(--departure-status-text-before-flex-shrink);
    }

    .departure__status-info {
        display: var(--departure-status-display);
        margin: var(--departure-status-info-margin);
        font-family: var(--departure-status-info-font-family);
        font-size: var(--departure-status-info-font-size);
        line-height: var(--departure-status-info-line-height);
    }

    .departure__cta-button {
        margin: var(--departure-cta-button-margin);
        width: var(--departure-cta-button-width);
    }

    .departure__cta-button[disabled] {
        margin: var(--departure-cta-button-margin);
        width: var(--departure-cta-button-width);
    }

    @container (width < 840px) {
        .departure {
            --departure-cta-button-width: 100%;
            --departure-info-value-font-weight: var(--font-weight-text-bold);
        }

        .departure__info:empty {
            display: none;
        }
    }

    @container (width >= 840px) {
        .departure {
            --departure-padding: var(--spacing-s) var(--spacing-normal);
            --departure-title-font-size: var(--font-size-normal);
            --departure-info-label-display: none;
        }
    }
}
