@layer components {
    .felogin {
        --felogin-display: block;
        --felogin-width: var(--content-width-with-padding);
        --felogin-max-width: var(--content-max-width);
        --felogin-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
        --felogin-background-color: transparent;
        --felogin-border-radius: 0;
        --felogin-padding: 0;

        --felogin-form-width: 100%;

        display: var(--felogin-display);
        width: var(--felogin-width);
        max-width: var(--felogin-max-width);
        margin: var(--felogin-margin);
        background-color: var(--felogin-background-color);
        border-radius: var(--felogin-border-radius);
        padding: var(--felogin-padding);
    }

    .chapter[background-color]:not([background-color="bg"]) .felogin,
    .chapter[has-background-media] .felogin {
        --felogin-background-color: var(--color-bg);
        --felogin-border-radius: var(--border-radius-default);
        --felogin-padding: var(--content-inner-padding);
    }

    .felogin__form {
        --form-margin: var(--spacing-m) auto 0;

        width: var(--felogin-form-width);
    }
}
