@layer components {
    .indexedsearch-form {
        --indexedsearch-form-position: relative;
        --indexedsearch-form-width: var(--content-width-with-padding);
        --indexedsearch-form-max-width: var(--content-max-width);
        --indexedsearch-form-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
        --indexedsearch-form-z-index: var(--z-index-content);

        position: var(--indexedsearch-form-position);
        width: var(--indexedsearch-form-width);
        max-width: var(--indexedsearch-form-max-width);
        margin: var(--indexedsearch-form-margin);
        z-index: var(--indexedsearch-form-z-index);
    }

    .indexedsearch-page .indexedsearch-form {
        --indexedsearch-form-width: 100%;
    }
}
