@layer components {
    .location-list {
        --location-list-display: flex;
        --location-list-gap: var(--spacing-s);
        --location-list-width: var(--content-width-with-padding);
        --location-list-max-width: var(--content-max-width);
        --location-list-margin: var(--spacing-between-elements-normal) auto 0;

        display: var(--location-list-display);
        gap: var(--location-list-gap);
        width: var(--location-list-width);
        max-width: var(--location-list-max-width);
        margin: var(--location-list-margin);
    }
}
