@layer components {
    .pagination {
        --pagination-padding: 0;
        --pagination-margin: var(--spacing-l) 0 0;

        --pagination-list-padding: 0;
        --pagination-list-margin: 0;
        --pagination-list-list-style: none;
        --pagination-list-list-display: flex;
        --pagination-list-list-align-items: center;
        --pagination-list-list-justify-content: space-between;
        --pagination-list-list-gap: var(--spacing-s);

        --pagination-pages-list-style: none;
        --pagination-pages-display: flex;
        --pagination-pages-align-items: center;
        --pagination-pages-justify-content: center;
        --pagination-pages-flex-flow: row wrap;
        --pagination-pages-gap: var(--spacing-s);
        --pagination-pages-margin: 0;
        --pagination-pages-padding: 0;

        --pagination-link-bg-color: var(--color-primary-o-10);
        --pagination-link-color: var(--color-primary);
        --pagination-link-border: none;
        --pagination-link-padding: 0;
        --pagination-link-size: var(--font-size-xl);
        --pagination-link-text-decoration: none;
        --pagination-link-border-radius: var(--border-radius-s);
        --pagination-link-transition: all 0 var(--animation-easing-normal);
        --pagination-link-display: flex;
        --pagination-link-align-items: center;
        --pagination-link-justify-content: center;

        --pagination-link-lisabled-opacity: 0;

        --pagination-select-padding: var(--spacing-s) var(--spacing-xl) var(--spacing-s) var(--spacing-normal);
        --pagination-select-width: auto;

        --pagination-select-postfix-display: none;

        margin: var(--pagination-margin);
        padding: var(--pagination-padding);
    }

    .pagination__list {
        margin: var(--pagination-list-margin);
        padding: var(--pagination-list-padding);
        list-style: var(--pagination-list-list-style);
        display: var(--pagination-list-list-display);
        align-items: var(--pagination-list-list-align-items);
        justify-content: var(--pagination-list-list-justify-content);
        gap: var(--pagination-list-list-gap);
    }

    .pagination__pages {
        list-style: var(--pagination-pages-list-style);
        display: var(--pagination-pages-display);
        align-items: var(--pagination-pages-align-items);
        justify-content: var(--pagination-pages-justify-content);
        flex-flow: var(--pagination-pages-flex-flow);
        gap: var(--pagination-pages-gap);
        margin: var(--pagination-pages-margin);
        padding: var(--pagination-pages-padding);
    }

    .pagination__button {
        --pagination-link-bg-color: var(--color-primary-o-10);
    }

    .pagination__item {
        --pagination-link-bg-color: transparent;
    }

    .pagination__item:has(.pagination__link[aria-current="page"]) {
        --pagination-link-bg-color: var(--color-primary);
        --pagination-link-color: var(--color-bg);

        pointer-events: none;
    }

    .pagination__link {
        background-color: var(--pagination-link-bg-color);
        border: var(--pagination-link-border);
        padding: var(--pagination-link-padding);
        height: var(--pagination-link-size);
        width: var(--pagination-link-size);
        text-decoration: var(--pagination-link-text-decoration);
        border-radius: var(--pagination-link-border-radius);
        transition: var(--pagination-link-transition);
        display: var(--pagination-link-display);
        align-items: var(--pagination-link-align-items);
        justify-content: var(--pagination-link-justify-content);
        color: var(--pagination-link-color);
    }

    .pagination__link[disabled] {
        opacity: var(--pagination-link-lisabled-opacity);
        pointer-events: none;
        user-select: none;
    }

    .pagination__link:is(:hover, :focus-visible) {
        --pagination-link-bg-color-active: var(--color-primary-light);
        --pagination-link-color-active: var(--color-bg);

        background-color: var(--pagination-link-bg-color-active);
        color: var(--pagination-link-color-active) !important;
    }

    .pagination__link:is(:hover, :focus-visible) .icon {
        --icon-color: var(--color-bg);
    }

    .pagination__select {
        padding: var(--pagination-select-padding);
        width: var(--pagination-select-width);
    }

    .pagination__select-postfix {
        display: var(--pagination-select-postfix-display);
    }

    .pagination__select-wrapper::after {
        top: 50%;
        transform: translateY(-50%);
    }
}
