@layer components {
    .post-authors {
        --post-authors-display: flex;
        --post-authors-flex-direction: column;
        --post-authors-gap: var(--spacing-normal);
        --post-authors-width: var(--content-width-with-padding);
        --post-authors-max-width: var(--content-max-width);
        --post-authors-margin: var(--spacing-between-consecutive-elements-normal) auto 0;

        display: var(--post-authors-display);
        flex-direction: var(--post-authors-flex-direction);
        gap: var(--post-authors-gap);
        width: var(--post-authors-width);
        max-width: var(--post-authors-max-width);
        margin: var(--post-authors-margin);
    }
}
