@layer components {
    .trip-description-day {
        --trip-description-day-display: flex;
        --trip-description-day-align-items: center;
        --trip-description-day-justify-content: center;
        --trip-description-day-gap: var(--spacing-xs);
        --trip-description-day-flex-direction: column;
        --trip-description-day-height: fit-content;
        --trip-description-day-border: var(--border-width-normal) solid var(--border-color-default);
        --trip-description-day-border-radius: var(--border-radius-normal);
        --trip-description-day-padding: var(--spacing-s) var(--spacing-xxs);
        --trip-description-day-margin: 0;

        --trip-description-day-title-font-family: var(--font-family-text);
        --trip-description-day-title-font-weight: var(--font-weight-text-normal);
        --trip-description-day-title-font-size: var(--font-size-xs);
        --trip-description-day-title-line-height: var(--trip-description-day-title-font-size);
        --trip-description-day-title-color: var(--color-font);
        --trip-description-day-title-margin: 0;
        --trip-description-day-title-text-transform: uppercase;

        --trip-description-day-day-font-family: var(--font-family-text);
        --trip-description-day-day-font-weight: var(--font-weight-text-bold);
        --trip-description-day-day-font-size: var(--font-size-normal);
        --trip-description-day-day-line-height: var(--trip-description-day-day-font-size);
        --trip-description-day-day-color: var(--color-font);
        --trip-description-day-day-margin: 0;
        --trip-description-day-day-font-variant-numeric: tabular-nums;

        display: var(--trip-description-day-display);
        align-items: var(--trip-description-day-align-items);
        justify-content: var(--trip-description-day-justify-content);
        flex-direction: var(--trip-description-day-flex-direction);
        gap: var(--trip-description-day-gap);
        height: var(--trip-description-day-height);
        min-width: 3.5rem;
        border: var(--trip-description-day-border);
        border-radius: var(--trip-description-day-border-radius);
        padding: var(--trip-description-day-padding);
        margin: var(--trip-description-day-margin);
    }

    .trip-description-day__title {
        font-family: var(--trip-description-day-title-font-family);
        font-weight: var(--trip-description-day-title-font-weight);
        font-size: var(--trip-description-day-title-font-size);
        line-height: var(--trip-description-day-title-line-height);
        color: var(--trip-description-day-title-color);
        margin: var(--trip-description-day-title-margin);
        text-transform: var(--trip-description-day-title-text-transform);
    }

    .trip-description-day__day {
        font-family: var(--trip-description-day-day-font-family);
        font-weight: var(--trip-description-day-day-font-weight);
        font-size: var(--trip-description-day-day-font-size);
        line-height: var(--trip-description-day-day-line-height);
        color: var(--trip-description-day-day-color);
        margin: var(--trip-description-day-day-margin);
        font-variant-numeric: var(--trip-description-day-day-font-variant-numeric);
    }
}
