.chapter {
    --chapter-background-color: transparent;
    --chapter-margin: var(--spacing-between-elements-normal) 0 0;
    --chapter-padding: var(--spacing-between-elements-normal) 0;

    background-color: var(--chapter-background-color);
    margin: var(--chapter-margin);
    padding: var(--chapter-padding);
}

.chapter + .chapter {
    --chapter-margin: 0;
}

.chapter--primary {
    --chapter-background-color: var(--color-primary);
    --color-headline: var(--color-primary-dark);
}

.chapter--secondary {
    --chapter-background-color: var(--color-secondary);
    --color-headline: var(--color-secondary-dark);
}

.chapter--inverted {
    --chapter-background-color: var(--color-font);
    --color-headline: var(--color-primary-light);
}

/* We need to separate the children from the chapter selector so the bg and font color variables don't collide! */
:is(.chapter--primary, .chapter--secondary, .chapter--inverted) :is(p, ul, ol, table) {
    --color-font: var(--color-bg);
}

:is(.chapter--primary, .chapter--secondary, .chapter--inverted) p a {
    color: var(--color-font);
}

.chapter--white {
    --chapter-background-color: var(--color-white);
}
