.chip {
    --toujou-chip-color-bg: var(--color-primary-o-10);
    --toujou-chip-font-size: var(--font-size-s);
    --toujou-chip-font-family: var(--font-family-text);
    --toujou-chip-text-color: var(--color-font);
    --toujou-chip-flex-direction: row;
    --toujou-chip-padding: var(--spacing-xs) var(--spacing-normal);
    --toujou-chip-border-radius: var(--spacing-xs);
    --toujou-chip-gap: var(--spacing-s);
    --toujou-chip-width: fit-content;
    --toujou-chip-text-transform: none;
    --toujou-chip-text-decoration: none;
    --toujou-chip-height: fit-content;

    width: var(--toujou-chip-width);
    background-color: var(--toujou-chip-color-bg);
    font-family: var(--toujou-chip-font-family);
    font-size: var(--toujou-chip-font-size);
    color: var(--toujou-chip-text-color);
    padding: var(--toujou-chip-padding);
    border-radius: var(--toujou-chip-border-radius);
    display: inline-flex;
    flex-direction: var(--toujou-chip-flex-direction);
    align-items: center;
    justify-content: center;
    gap: var(--toujou-chip-gap);
    text-transform: var(--toujou-chip-text-transform);
    text-decoration: var(--toujou-chip-text-decoration);
    height: var(--toujou-chip-height);
}

/* BACKGROUND COLOR */
.chip[chip-bg-color="transparent"] {
    --toujou-chip-color-bg: transparent;
    --toujou-chip-text-color: var(--color-font);
}

.chip[chip-bg-color="primary"] {
    --toujou-chip-color-bg: var(--color-primary);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="primary-light"] {
    --toujou-chip-color-bg: var(--color-primary-light);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="primary-very-light"] {
    --toujou-chip-color-bg: var(--color-primary-o-10);
    --toujou-chip-text-color: var(--color-primary-dark);
}

.chip[chip-bg-color="secondary"] {
    --toujou-chip-color-bg: var(--color-secondary);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="secondary-light"] {
    --toujou-chip-color-bg: var(--color-secondary-light);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="secondary-very-light"] {
    --toujou-chip-color-bg: var(--color-secondary-o-10);
    --toujou-chip-text-color: var(--color-secondary-dark);
}

.chip[chip-bg-color="font"] {
    --toujou-chip-color-bg: var(--color-font);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="font-light"] {
    --toujou-chip-color-bg: var(--color-font-light);
    --toujou-chip-text-color: var(--color-font-dark);
}

.chip[chip-bg-color="font-very-light"] {
    --toujou-chip-color-bg: var(--color-font-o-10);
    --toujou-chip-text-color: var(--color-font-dark);
}

.chip[chip-bg-color="success"] {
    --toujou-chip-color-bg: var(--color-success);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="warning"] {
    --toujou-chip-color-bg: var(--color-warning);
    --toujou-chip-text-color: var(--color-bg);
}

.chip[chip-bg-color="error"] {
    --toujou-chip-color-bg: var(--color-error);
    --toujou-chip-text-color: var(--color-bg);
}

/* BORDER RADIUS */
.chip[chip-border-radius="none"] {
    --toujou-chip-border-radius: 0;
}

.chip[chip-border-radius="small"] {
    --toujou-chip-border-radius: var(--spacing-xs);
}

.chip[chip-border-radius="medium"] {
    --toujou-chip-border-radius: var(--spacing-s);
}

.chip[chip-border-radius="round"] {
    --toujou-chip-border-radius: var(--spacing-l);
}

/* SIZE */
.chip[chip-size="extra-small"] {
    --toujou-chip-font-size: var(--font-size-xs);
}

.chip[chip-size="extra-small"] .icon.chip__icon {
    --icon-size: var(--font-size-s);
}

.chip[chip-size="size-small"] {
    --toujou-chip-font-size: var(--font-size-s);
}

.chip[chip-size="normal"] {
    --toujou-chip-font-size: var(--font-size-normal);
}

.chip[chip-size="normal"] .icon.chip__icon {
    --icon-size: var(--font-size-ms);
}

/* ALL CAPS */
.chip[is-uppercase] {
    --toujou-chip-text-transform: uppercase;
}

/* ICON POSITION */
.chip[chip-icon-position="left"] {
    --toujou-chip-padding: var(--spacing-xs) var(--spacing-normal) var(--spacing-xs) var(--spacing-s);
}

.chip[chip-icon-position="right"] {
    --toujou-chip-flex-direction: row-reverse;
    --toujou-chip-padding: var(--spacing-xs) var(--spacing-s) var(--spacing-xs) var(--spacing-normal);
}

.chip a {
    text-decoration: var(--toujou-chip-text-decoration);
    color: inherit;
}

@media (hover: hover) {
    .chip[is-clickable] {
        cursor: pointer;
    }

    .chip[chip-bg-color="transparent"][is-clickable]:hover {
        --toujou-chip-text-color: var(--color-font-dark);
    }

    .chip[chip-bg-color="primary"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-primary-dark);
    }

    .chip[chip-bg-color="primary-light"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-primary);
        --toujou-chip-text-color: var(--color-bg);
    }

    .chip[chip-bg-color="primary-very-light"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-primary-light);
        --toujou-chip-text-color: var(--color-font-dark);
    }

    .chip[chip-bg-color="secondary"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-secondary-dark);
    }

    .chip[chip-bg-color="secondary-light"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-secondary);
        --toujou-chip-text-color: var(--color-bg);
    }

    .chip[chip-bg-color="secondary-very-light"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-secondary-light);
        --toujou-chip-text-color: var(--color-font-dark);
    }

    .chip[chip-bg-color="font"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-font-dark);
    }

    .chip[chip-bg-color="font-light"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-font);
        --toujou-chip-text-color: var(--color-bg);
    }

    .chip[chip-bg-color="font-very-light"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-font-light);
    }

    .chip[chip-bg-color="success"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-success-darken-15);
    }

    .chip[chip-bg-color="warning"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-warning-darken-15);
    }

    .chip[chip-bg-color="error"][is-clickable]:hover {
        --toujou-chip-color-bg: var(--color-error-darken-15);
    }

    .chip:hover .icon {
        background-color: var(--toujou-chip-text-color);
    }
}

