.footer-column {
    --footer-column-display: flex;
    --footer-column-flex-direction: column;
    --footer-column-align-items: center;
    --footer-column-justify-content: flex-start;

    --footer-column-logo-align-items: center;

    display: var(--footer-column-display);
    flex-direction: var(--footer-column-flex-direction);
    align-items: var(--footer-column-align-items);
    justify-content: var(--footer-column-justify-content);
}

@media screen and (min-width: 640px) {
    .footer-column {
        --footer-column-align-items: flex-start;
    }

    .footer-column[column-name="logo"] {
        grid-column: 1 / -1;
        align-items: var(--footer-column-logo-align-items);
    }
}

@media screen and (min-width: 960px) {
    .footer-column[column-name="logo"] {
        --footer-column-logo-align-items: flex-start;

        grid-column: 1;
    }
}
