.header {
    --header-position: relative;
    --header-height: 80vh;
    --header-width: 100%;
    --header-z-index: var(--z-index-content);

    --header-image-height: 100%;
    --header-image-width: 100%;
    --header-image-position: absolute;
    --header-image-top: 0;
    --header-image-left: 0;
    --header-image-width-object-fit: cover;

    position: var(--header-position);
    height: var(--header-height);
    width: var(--header-width);
    z-index: var(--header-z-index);
}

.header[image-height="full"] {
    --header-height: 100vh;
}

.header[image-height="half"] {
    --header-height: 50vh;
}

.header[image-height="quarter"] {
    --header-height: 25vh;
}

.header__image {
    height: var(--header-image-height);
    width: var(--header-image-width);
    position: var(--header-image-position);
    top: var(--header-image-top);
    left: var(--header-image-left);
    object-fit: var(--header-image-width-object-fit);
}
