toujou-modal {
    --toujou-modal-header-padding: var(--spacing-s);
    --toujou-modal-header-position: sticky;
    --toujou-modal-header-top: 0;
    --toujou-modal-header-box-shadow: var(--shadow-s);
    --toujou-modal-header-background: var(--color-bg);
    --toujou-modal-header-border-bottom: none;

    --toujou-modal-title-font-family: var(--font-family-headline);
    --toujou-modal-title-color: var(--color-primary);
    --toujou-modal-title-font-size: var(--font-size-l);

    --toujou-modal-close-color: var(--color-primary);
    --toujou-modal-close-hover-color: var(--color-primary-dark);

    --toujou-modal-progressbar-color: var(--color-secondary);
    --toujou-modal-z-index: var(--z-index-modal);
    --toujou-modal-content-border-radius: var(--border-radius-normal);

    z-index: var(--toujou-modal-z-index);
}
