.search {
    --search-display: flex;
    --search-align-items: stretch;
    --search-justify-content: center;
    --search-flex-direction: row;
    --search-input-padding: 0 var(--spacing-s);

    --search-cancel-button-size: var(--spacing-m);
    --search-cancel-button-color: var(--color-font-light);
    --search-cancel-button-color-hover: var(--color-primary);

    display: var(--search-display);
    align-items: var(--search-align-items);
    justify-content: var(--search-justify-content);
    flex-direction: var(--search-flex-direction);
}

.input--search {
    --input-padding: var(--search-input-padding);

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.button--search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    white-space: nowrap;
}

input[type="search"]::-webkit-search-cancel-button {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    height: var(--search-cancel-button-size);
    width: var(--search-cancel-button-size);
    background-color: var(--search-cancel-button-color);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: var(--icon-close);
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button:is(:hover, :focus-visible) {
    background-color: var(--search-cancel-button-color-hover);
}
