.search {
    --search-display: flex;
    --search-align-items: stretch;
    --search-justify-content: center;
    --search-flex-direction: row;
    --search-input-padding: 0 var(--spacing-s);

    display: var(--search-display);
    align-items: var(--search-align-items);
    justify-content: var(--search-justify-content);
    flex-direction: var(--search-flex-direction);
}

.input--search {
    --input-padding: var(--search-input-padding);

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.button--search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    white-space: nowrap;
}
