.single-media {
    --single-media-position: relative;
    --single-media-height: fit-content;
    --single-media-width: 100%;
    --single-media-max-width: 100%;
    --single-media-margin: var(--spacing-between-elements-normal) auto 0;
    --single-media-display: block;
    --single-media-max-height: 100%;
    --single-media-border-radius: var(--border-radius-default);
    --single-media-overflow: hidden;

    --single-media-media-width: 100%;
    --single-media-media-height: auto;

    --single-media-youtube-videos-aspect-ratio: var(--aspect-ratio-16-9);

    position: var(--single-media-position);
    display: var(--single-media-display);
    width: var(--single-media-width);
    max-width: var(--single-media-max-width);
    height: var(--single-media-height);
    margin: var(--single-media-margin);
    max-height: var(--single-media-max-height);
    border-radius: var(--single-media-border-radius);
    overflow: var(--single-media-overflow);
}

.slider .single-media__image {
    --single-media-media-height: 100%;
    --single-media-media-width: 100%;
    --single-media-media-object-fix: cover;

    object-fit: var(--single-media-media-object-fix);
}

.single-media:first-child,
.media-grid .single-media {
    --single-media-margin: 0 auto;
}

.header .single-media {
    --single-media-margin: 0 auto;

    height: 100%;
    width: 100%;
    position: absolute;
}

.header :is(.single-media__image, .single-media__video) {
    object-fit: cover;
    object-position: center center;
}


.single-media__image,
.single-media__video {
    width: var(--single-media-media-width);
    height: var(--single-media-media-height);
}

main .single-media__video[video-extension="youtube"],
main .single-media__video[video-extension="vimeo"] {
    --single-media-media-height: auto;

    aspect-ratio: var(--single-media-youtube-videos-aspect-ratio);
}

.single-media > picture {
    display: contents;
}
