.single-media {
    --single-media-position: relative;
    --single-media-width: 100%;
    --single-media-max-width: 100%;
    --single-media-height: fit-content;
    --single-media-margin: var(--spacing-between-elements-normal) auto 0;
    --single-media-display: block;
    --single-media-max-height: 100%;
    --single-media-border-radius: unset;
    --single-media-overflow: unset;

    --single-media-media-width: 100%;
    --single-media-media-height: auto;

    position: var(--single-media-position);
    display: var(--single-media-display);
    width: var(--single-media-width);
    max-width: var(--single-media-max-width);
    height: var(--single-media-height);
    margin: var(--single-media-margin);
    max-height: var(--single-media-max-height);
    border-radius: var(--single-media-border-radius);
    overflow: var(--single-media-overflow);
}

.single-media:first-child,
.media-grid .single-media {
    --single-media-margin: 0 auto;
}

.header .single-media {
    --single-media-margin: 0 auto;
}

.header[header-type="slider"] .single-media {
    --single-media-width: 100vw;
    --single-media-height: 80vh;
    --single-media-max-height: 80vh;
}

.header[image-height="full"] .single-media {
    --single-media-height: 80vh;
    --single-media-max-height: 100vh;
}

.header[image-height="half"] .single-media {
    --single-media-height: 50vh;
    --single-media-max-height: 50vh;
}

.header[image-height="quarter"] .single-media {
    --single-media-height: 25vh;
    --single-media-max-height: 25vh;
}

.single-media__image,
.single-media__video {
    width: var(--single-media-media-width);
    height: var(--single-media-media-height);
}
