:root {
    --toujou-scroll-behavior: smooth;
    --toujou-scroll-snap-align: start;
    --toujou-scroll-top-padding-fallback: var(--spacing-l);
    --toujou-scroll-top-padding-gap: var(--spacing-normal);
    /* stylelint-disable-next-line max-line-length */
    --toujou-scroll-top-padding: calc(var(--topbar-height) + var(--inpage-nav-height) + var(--toujou-scroll-top-padding-gap));
}

html {
    scroll-behavior: var(--toujou-scroll-behavior);
    scroll-snap-align: var(--toujou-scroll-snap-align);
    scroll-padding-top: var(--toujou-scroll-top-padding, var(--toujou-scroll-top-padding-fallback));
}

@media screen and (width >= 840px) {
    :root {
        --toujou-scroll-top-padding-gap: var(--spacing-l);
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --toujou-scroll-behavior: auto;
    }
}
