@view-transition {
    navigation: auto;
}

@keyframes viewTransitionSlideToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100vw);
    }
}

@keyframes viewTransitionSlideFromRight {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

/* Custom animation for the page-title element */
::view-transition-old(root) {
    animation: 2s var(--animation-easing-normal) both viewTransitionSlideToLeft !important;
}

::view-transition-new(root) {
    animation: 2s var(--animation-easing-normal) both viewTransitionSlideFromRight !important;
}

