@view-transition {
    navigation: auto;
}

@keyframes viewTransitionSlideToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100vw);
    }
}

@keyframes viewTransitionSlideFromRight {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

:root:has(.pn-nav) ::view-transition-old(body > header) {
    animation: var(--animation-duration-normal) ease-in-out both viewTransitionSlideToLeft;
}

:root:has(.pn-nav) ::view-transition-new(body > header) {
    animation: var(--animation-duration-normal) ease-in-out both viewTransitionSlideFromRight;
}

:root:has(.pn-nav) ::view-transition-old(body > main) {
    animation: var(--animation-duration-normal) ease-in-out both viewTransitionSlideToLeft;
}

:root:has(.pn-nav) ::view-transition-new(body > main) {
    animation: var(--animation-duration-normal) ease-in-out both viewTransitionSlideFromRight;
}

