@media (forced-colors: active) {
    .code-block {
        border: var(--border-width-normal) solid CanvasText;
    }

    .code-block__language-tag {
        --code-block-language-tag-top: calc(var(--border-width-normal) * -1);
        --code-block-language-tag-right: calc(var(--border-width-normal) * -1);

        border: var(--border-width-normal) solid CanvasText;
    }
}
