@media (forced-colors: active) {
    .contact-dialog__close .icon {
        background-color: LinkText !important;
    }

    .contact-dialog__close:is(:hover, :focus-visible) .icon {
        background-color: Highlight !important;
    }
    .contact-dialog__link:is(:hover, :focus-visible) {
        color: Highlight !important;
    }
}
