@media (forced-colors: active) {
    exit-warning {
        --toujou-modal-content-border: var(--border-width-normal) solid CanvasText;
        --toujou-modal-close-color: LinkText;
        --toujou-modal-close-hover-color: Highlight;
    }
}
