@media (forced-colors: active) {
    a.map-contact__social {
        text-decoration: none;
    }

    a.map-contact__social .icon {
        background-color: LinkText;
    }

    a.map-contact__social:is(:hover, :focus-visible) .icon {
        background-color: Highlight;
    }
}
