:root,
::before,
::after {
    --border-radius-xxxxl: 3rem;
    --border-radius-xxxl: 2rem;
    --border-radius-xxl: 1.5rem;
    --border-radius-xl: 1rem;
    --border-radius-l: .75rem;
    --border-radius-m: .5rem;
    --border-radius-normal: .25rem;
    --border-radius-s: .125rem;
    --border-radius-xs: 1px;
    --border-radius-circle: 50%;
    --border-radius-0: 0;

    --border-radius-default: var(--border-radius-normal);
}
