:root,
::before,
::after {
    --icon-size-m: var(--spacing-m);
    --icon-size-normal: var(--spacing-ms);

    --icon-accessiblity: url('../../../../assets/themes/kojo/icons/icon-accessibility.svg');
    --icon-account: url('../../../../assets/themes/kojo/icons/icon-account.svg');
    --icon-alarm: url('../../../../assets/themes/kojo/icons/icon-alarm.svg');
    --icon-arrow-down: url('../../../../assets/themes/kojo/icons/icon-arrow-down.svg');
    --icon-arrow-drop-down: url('../../../../assets/themes/kojo/icons/icon-arrow-drop-down.svg');
    --icon-arrow-left: url('../../../../assets/themes/kojo/icons/icon-arrow-left.svg');
    --icon-arrow-right: url('../../../../assets/themes/kojo/icons/icon-arrow-right.svg');
    --icon-arrow-up: url('../../../../assets/themes/kojo/icons/icon-arrow-up.svg');
    --icon-article: url('../../../../assets/themes/kojo/icons/icon-article.svg');
    --icon-audiotrack: url('../../../../assets/themes/kojo/icons/icon-audiotrack.svg');
    --icon-audiotrack-circle-filled: url('../../../../assets/themes/kojo/icons/icon-audiotrack-circle-filled.svg');
    --icon-bell: url('../../../../assets/themes/kojo/icons/icon-bell.svg');
    --icon-blockquote-round: url('../../../../assets/themes/kojo/icons/icon-blockquote-round.svg');
    --icon-bookmark: url('../../../../assets/themes/kojo/icons/icon-bookmark.svg');
    --icon-bookmark-filled: url('../../../../assets/themes/kojo/icons/icon-bookmark-filled.svg');
    --icon-briefcase: url('../../../../assets/themes/kojo/icons/icon-briefcase.svg');
    --icon-calendar-check: url('../../../../assets/themes/kojo/icons/icon-calendar-check.svg');
    --icon-calendar-day: url('../../../../assets/themes/kojo/icons/icon-calendar-day.svg');
    --icon-calendar-empty: url('../../../../assets/themes/kojo/icons/icon-calendar-empty.svg');
    --icon-calendar-lines: url('../../../../assets/themes/kojo/icons/icon-calendar-lines.svg');
    --icon-campaign: url('../../../../assets/themes/kojo/icons/icon-campaign.svg');
    --icon-cancel-circle-filled: url('../../../../assets/themes/kojo/icons/icon-cancel-circle-filled.svg');
    --icon-chart: url('../../../../assets/themes/kojo/icons/icon-chart.svg');
    --icon-check: url('../../../../assets/themes/kojo/icons/icon-check.svg');
    --icon-check-circle: url('../../../../assets/themes/kojo/icons/icon-check-circle.svg');
    --icon-chevron-down: url('../../../../assets/themes/kojo/icons/icon-chevron-down.svg');
    --icon-chevron-filled-down: url('../../../../assets/themes/kojo/icons/icon-chevron-filled-down.svg');
    --icon-chevron-filled-left: url('../../../../assets/themes/kojo/icons/icon-chevron-filled-left.svg');
    --icon-chevron-filled-right: url('../../../../assets/themes/kojo/icons/icon-chevron-filled-right.svg');
    --icon-chevron-filled-up: url('../../../../assets/themes/kojo/icons/icon-chevron-filled-up.svg');
    --icon-chevron-left: url('../../../../assets/themes/kojo/icons/icon-chevron-left.svg');
    --icon-chevron-right: url('../../../../assets/themes/kojo/icons/icon-chevron-right.svg');
    --icon-chevron-up: url('../../../../assets/themes/kojo/icons/icon-chevron-up.svg');
    --icon-clock-circle: url('../../../../assets/themes/kojo/icons/icon-clock-circle.svg');
    --icon-clock-circle-filled: url('../../../../assets/themes/kojo/icons/icon-clock-circle-filled.svg');
    --icon-close: url('../../../../assets/themes/kojo/icons/icon-close.svg');
    --icon-cloud: url('../../../../assets/themes/kojo/icons/icon-cloud.svg');
    --icon-coffee: url('../../../../assets/themes/kojo/icons/icon-coffee.svg');
    --icon-company: url('../../../../assets/themes/kojo/icons/icon-company.svg');
    --icon-cookie: url('../../../../assets/themes/kojo/icons/icon-cookie.svg');
    --icon-coronavirus: url('../../../../assets/themes/kojo/icons/icon-coronavirus.svg');
    --icon-dashboard: url('../../../../assets/themes/kojo/icons/icon-dashboard.svg');
    --icon-drink: url('../../../../assets/themes/kojo/icons/icon-drink.svg');
    --icon-email: url('../../../../assets/themes/kojo/icons/icon-email.svg');
    --icon-euro: url('../../../../assets/themes/kojo/icons/icon-euro.svg');
    --icon-external-link: url('../../../../assets/themes/kojo/icons/icon-external-link.svg');
    --icon-equalizer: url('../../../../assets/themes/kojo/icons/icon-equalizer.svg');
    --icon-equalizer-circle-filled: url('../../../../assets/themes/kojo/icons/icon-equalizer-circle-filled.svg');
    --icon-eye: url('../../../../assets/themes/kojo/icons/icon-eye.svg');
    --icon-eye-off: url('../../../../assets/themes/kojo/icons/icon-eye-off.svg');
    --icon-fax: url('../../../../assets/themes/kojo/icons/icon-fax.svg');
    --icon-file-download: url('../../../../assets/themes/kojo/icons/icon-file-download.svg');
    --icon-filter: url('../../../../assets/themes/kojo/icons/icon-filter.svg');
    --icon-flag: url('../../../../assets/themes/kojo/icons/icon-flag.svg');
    --icon-flower: url('../../../../assets/themes/kojo/icons/icon-flower.svg');
    --icon-folder: url('../../../../assets/themes/kojo/icons/icon-folder.svg');
    --icon-food: url('../../../../assets/themes/kojo/icons/icon-food.svg');
    --icon-forward: url('../../../../assets/themes/kojo/icons/icon-forward.svg');
    --icon-forward-circle-filled: url('../../../../assets/themes/kojo/icons/icon-forward-circle-filled.svg');
    --icon-globe: url('../../../../assets/themes/kojo/icons/icon-globe.svg');
    --icon-grid: url('../../../../assets/themes/kojo/icons/icon-grid.svg');
    --icon-heart: url('../../../../assets/themes/kojo/icons/icon-heart.svg');
    --icon-heart-stroke: url('../../../../assets/themes/kojo/icons/icon-heart-stroke.svg');
    --icon-home: url('../../../../assets/themes/kojo/icons/icon-home.svg');
    --icon-home-smooth: url('../../../../assets/themes/kojo/icons/icon-home-smooth.svg');
    --icon-hotel: url('../../../../assets/themes/kojo/icons/icon-hotel.svg');
    --icon-image: url('../../../../assets/themes/kojo/icons/icon-image.svg');
    --icon-image-circle-filled: url('../../../../assets/themes/kojo/icons/icon-image-circle-filled.svg');
    --icon-image-collection: url('../../../../assets/themes/kojo/icons/icon-image-collection.svg');
    --icon-image-collection-circle-filled: url('../../../../assets/themes/kojo/icons/icon-image-collection-circle-filled.svg');
    --icon-infinity: url('../../../../assets/themes/kojo/icons/icon-infinity.svg');
    --icon-info: url('../../../../assets/themes/kojo/icons/icon-info.svg');
    --icon-link: url('../../../../assets/themes/kojo/icons/icon-link.svg');
    --icon-list: url('../../../../assets/themes/kojo/icons/icon-list.svg');
    --icon-location: url('../../../../assets/themes/kojo/icons/icon-location.svg');
    --icon-map: url('../../../../assets/themes/kojo/icons/icon-map.svg');
    --icon-message-bubble: url('../../../../assets/themes/kojo/icons/icon-message-bubble.svg');
    --icon-monument: url('../../../../assets/themes/kojo/icons/icon-monument.svg');
    --icon-new: url('../../../../assets/themes/kojo/icons/icon-new.svg');
    --icon-pause: url('../../../../assets/themes/kojo/icons/icon-pause.svg');
    --icon-pause-circle-filled: url('../../../../assets/themes/kojo/icons/icon-pause-circle-filled.svg');
    --icon-pending-circle-filled: url('../../../../assets/themes/kojo/icons/icon-pending-circle-filled.svg');
    --icon-play: url('../../../../assets/themes/kojo/icons/icon-play.svg');
    --icon-play-circle-filled: url('../../../../assets/themes/kojo/icons/icon-play-circle-filled.svg');
    --icon-play-circle: url('../../../../assets/themes/kojo/icons/icon-play-circle.svg');
    --icon-play-circle-filled: url('../../../../assets/themes/kojo/icons/icon-play-circle-filled.svg');
    --icon-prize: url('../../../../assets/themes/kojo/icons/icon-prize.svg');
    --icon-plus-circle: url('../../../../assets/themes/kojo/icons/icon-plus-circle.svg');
    --icon-question: url('../../../../assets/themes/kojo/icons/icon-question.svg');
    --icon-rating-star-00: url('../../../../assets/themes/kojo/icons/icon-rating-star-00.svg');
    --icon-rating-star-10: url('../../../../assets/themes/kojo/icons/icon-rating-star-10.svg');
    --icon-rating-star-20: url('../../../../assets/themes/kojo/icons/icon-rating-star-20.svg');
    --icon-rating-star-30: url('../../../../assets/themes/kojo/icons/icon-rating-star-30.svg');
    --icon-rating-star-40: url('../../../../assets/themes/kojo/icons/icon-rating-star-40.svg');
    --icon-rating-star-50: url('../../../../assets/themes/kojo/icons/icon-rating-star-50.svg');
    --icon-rating-star-60: url('../../../../assets/themes/kojo/icons/icon-rating-star-60.svg');
    --icon-rating-star-70: url('../../../../assets/themes/kojo/icons/icon-rating-star-70.svg');
    --icon-rating-star-80: url('../../../../assets/themes/kojo/icons/icon-rating-star-80.svg');
    --icon-rating-star-90: url('../../../../assets/themes/kojo/icons/icon-rating-star-90.svg');
    --icon-rating-star-100: url('../../../../assets/themes/kojo/icons/icon-rating-star-100.svg');
    --icon-rewind: url('../../../../assets/themes/kojo/icons/icon-rewind.svg');
    --icon-rewind-circle-filled: url('../../../../assets/themes/kojo/icons/icon-rewind-circle-filled.svg');
    --icon-school: url('../../../../assets/themes/kojo/icons/icon-school.svg');
    --icon-science: url('../../../../assets/themes/kojo/icons/icon-science.svg');
    --icon-search: url('../../../../assets/themes/kojo/icons/icon-search.svg');
    --icon-settings: url('../../../../assets/themes/kojo/icons/icon-settings.svg');
    --icon-shopping-bag: url('../../../../assets/themes/kojo/icons/icon-shopping-bag.svg');
    --icon-shopping-cart: url('../../../../assets/themes/kojo/icons/icon-shopping-cart.svg');
    --icon-skip-back: url('../../../../assets/themes/kojo/icons/icon-skip-back.svg');
    --icon-skip-back-circle-filled: url('../../../../assets/themes/kojo/icons/icon-skip-back-circle-filled.svg');
    --icon-skip-next: url('../../../../assets/themes/kojo/icons/icon-skip-next.svg');
    --icon-skip-next-circle-filled: url('../../../../assets/themes/kojo/icons/icon-skip-next-circle-filled.svg');
    --icon-sm-facebook: url('../../../../assets/themes/kojo/icons/icon-sm-facebook.svg');
    --icon-sm-facebook-circle: url('../../../../assets/themes/kojo/icons/icon-sm-facebook-circle.svg');
    --icon-sm-instagram: url('../../../../assets/themes/kojo/icons/icon-sm-instagram.svg');
    --icon-sm-instagram-circle: url('../../../../assets/themes/kojo/icons/icon-sm-instagram-circle.svg');
    --icon-sm-linkedin: url('../../../../assets/themes/kojo/icons/icon-sm-linkedin.svg');
    --icon-sm-linkedin-circle: url('../../../../assets/themes/kojo/icons/icon-sm-linkedin-circle.svg');
    --icon-sm-pinterest: url('../../../../assets/themes/kojo/icons/icon-sm-pinterest.svg');
    --icon-sm-pinterest-circle: url('../../../../assets/themes/kojo/icons/icon-sm-pinterest-circle.svg');
    --icon-sm-snapchat: url('../../../../assets/themes/kojo/icons/icon-sm-snapchat.svg');
    --icon-sm-snapchat-circle: url('../../../../assets/themes/kojo/icons/icon-sm-snapchat-circle.svg');
    --icon-sm-twitter: url('../../../../assets/themes/kojo/icons/icon-sm-twitter.svg');
    --icon-sm-twitter-circle: url('../../../../assets/themes/kojo/icons/icon-sm-twitter-circle.svg');
    --icon-sm-tiktok: url('../../../../assets/themes/kojo/icons/icon-sm-tiktok.svg');
    --icon-sm-tiktok-circle: url('../../../../assets/themes/kojo/icons/icon-sm-tiktok-circle.svg');
    --icon-sm-whatsapp: url('../../../../assets/themes/kojo/icons/icon-sm-whatsapp.svg');
    --icon-sm-whatsapp-circle: url('../../../../assets/themes/kojo/icons/icon-sm-whatsapp-circle.svg');
    --icon-sm-xing: url('../../../../assets/themes/kojo/icons/icon-sm-xing.svg');
    --icon-sm-xing-circle: url('../../../../assets/themes/kojo/icons/icon-sm-xing-circle.svg');
    --icon-sm-youtube: url('../../../../assets/themes/kojo/icons/icon-sm-youtube.svg');
    --icon-sm-youtube-circle: url('../../../../assets/themes/kojo/icons/icon-sm-youtube-circle.svg');
    --icon-sports: url('../../../../assets/themes/kojo/icons/icon-sports.svg');
    --icon-star: url('../../../../assets/themes/kojo/icons/icon-star.svg');
    --icon-stop: url('../../../../assets/themes/kojo/icons/icon-stop.svg');
    --icon-stop-circle-filled: url('../../../../assets/themes/kojo/icons/icon-stop-circle-filled.svg');
    --icon-support: url('../../../../assets/themes/kojo/icons/icon-support.svg');
    --icon-tag: url('../../../../assets/themes/kojo/icons/icon-tag.svg');
    --icon-tag-filled: url('../../../../assets/themes/kojo/icons/icon-tag-filled.svg');
    --icon-target: url('../../../../assets/themes/kojo/icons/icon-target.svg');
    --icon-telephone: url('../../../../assets/themes/kojo/icons/icon-telephone.svg');
    --icon-thumb-up: url('../../../../assets/themes/kojo/icons/icon-thumb-up.svg');
    --icon-tools: url('../../../../assets/themes/kojo/icons/icon-tools.svg');
    --icon-tune: url('../../../../assets/themes/kojo/icons/icon-tune.svg');
    --icon-tune-circle-filled: url('../../../../assets/themes/kojo/icons/icon-tune-circle-filled.svg');
    --icon-videocam: url('../../../../assets/themes/kojo/icons/icon-videocam.svg');
    --icon-videocam-circle-filled: url('../../../../assets/themes/kojo/icons/icon-videocam-circle-filled.svg');
    --icon-volume-down: url('../../../../assets/themes/kojo/icons/icon-volume-down.svg');
    --icon-volume-down-circle-filled: url('../../../../assets/themes/kojo/icons/icon-volume-down-circle-filled.svg');
    --icon-volume-mute: url('../../../../assets/themes/kojo/icons/icon-volume-mute.svg');
    --icon-volume-mute-circle-filled: url('../../../../assets/themes/kojo/icons/icon-volume-mute-circle-filled.svg');
    --icon-volume-off: url('../../../../assets/themes/kojo/icons/icon-volume-off.svg');
    --icon-volume-off-circle-filled: url('../../../../assets/themes/kojo/icons/icon-volume-off-circle-filled.svg');
    --icon-volume-up: url('../../../../assets/themes/kojo/icons/icon-volume-up.svg');
    --icon-volume-up-circle-filled: url('../../../../assets/themes/kojo/icons/icon-volume-up-circle-filled.svg');
    --icon-warning: url('../../../../assets/themes/kojo/icons/icon-warning.svg');
}
