.main-nav__list[nav-list-level="1"] {
    --main-nav-level-1-visibility: visible;

    display: var(--main-nav-list-display);
    flex-direction: var(--main-nav-list-flex-direction);
    align-items: var(--main-nav-list-align-items);
    justify-content: var(--main-nav-list-justify-content);
    gap: var(--main-nav-list-gap);
    list-style: var(--main-nav-list-list-style);
    margin: var(--main-nav-list-margin);
    padding: var(--main-nav-list-padding);
    visibility: var(--main-nav-level-1-visibility);
}

.main-nav[open-level="2"] .main-nav__list-item[nav-item-level="1"],
.main-nav[open-level="3"] .main-nav__list-item[nav-item-level="1"] {
    --main-nav-level-1-visibility: hidden !important;

    visibility: var(--main-nav-level-1-visibility);
}

.main-nav__list-item {
    width: var(--main-nav-list-item-text-width);
    display: var(--main-nav-list-item-text-display);
    align-items: var(--main-nav-list-item-text-align-items);
    justify-content: var(--main-nav-list-item-text-justify-content);
    gap: var(--main-nav-list-item-text-gap);
}

.main-nav__link {
    text-decoration: var(--main-nav-link-text-decoration);
    font-family: var(--main-nav-link-font-family);
    font-weight: var(--main-nav-link-font-weight);
    font-size: var(--main-nav-link-font-size);
    color: var(--main-nav-link-color);
}

.main-nav__link:focus {
    outline-color: var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

@media (hover: hover) {
    a.main-nav__link:hover {
        color: var(--main-nav-link-color-hover) !important;
    }
}
