.main-nav {
    --main-nav-position: fixed;
    --main-nav-top: var(--topbar-height);
    --main-nav-left: 0;
    --main-nav-width: 100%;
    --main-nav-height: calc(100% - var(--topbar-height));
    --main-nav-bg-color: var(--color-primary);
    --main-nav-padding: var(--spacing-normal) var(--spacing-normal) calc(var(--service-nav-height) + var(--spacing-l)) var(--spacing-normal);
    --main-nav-display: block;
    --main-nav-transform: translateY(calc(-100% - var(--topbar-height)));
    --main-nav-opacity: 0;
    --main-nav-transition:
            transform var(--animation-duration-normal) var(--animation-easing-normal),
            opacity var(--animation-duration-normal) var(--animation-easing-normal);

    --main-nav-list-display: flex;
    --main-nav-list-flex-direction: column;
    --main-nav-list-align-items: flex-start;
    --main-nav-list-justify-content: center;
    --main-nav-list-gap: var(--spacing-normal);
    --main-nav-list-list-style: none;
    --main-nav-list-margin: var(--spacing-normal) 0 0;
    --main-nav-list-padding: 0;
    --main-nav-overflow-y: auto;

    --main-nav-list-item-text-width: 100%;
    --main-nav-list-item-text-display: flex;
    --main-nav-list-item-text-align-items: center;
    --main-nav-list-item-text-justify-content: space-between;
    --main-nav-list-item-text-gap: var(--spacing-normal);

    --main-nav-link-text-decoration: none;
    --main-nav-link-font-family: var(--font-family-text);
    --main-nav-link-font-weight: var(--font-weight-text-bold);
    --main-nav-link-font-size: var(--font-size-l);
    --main-nav-link-color: var(--color-bg);
    --main-nav-link-color-hover: var(--color-primary-dark);

    --main-nav-back-button-display: flex;
    --main-nav-back-button-padding: 0;
    --main-nav-back-button-margin: var(--spacing-normal) 0 32px;

    --main-nav-subtitle-display: block;
    --main-nav-subtitle-font-family: var(--font-family-text);
    --main-nav-subtitle-font-weight: var(--font-weight-text-bold);
    --main-nav-subtitle-font-size: var(--font-size-l);
    --main-nav-subtitle-color: var(--color-bg);
    --main-nav-subtitle-margin-bottom: 0;

    --main-nav-chevron-color: var(--color-bg);

    display: var(--main-nav-display);
    position: var(--main-nav-position);
    top: var(--main-nav-top);
    left: var(--main-nav-left);
    width: var(--main-nav-width);
    height: var(--main-nav-height);
    background-color: var(--main-nav-bg-color);
    padding: var(--main-nav-padding);
    transform: var(--main-nav-transform);
    opacity: var(--main-nav-opacity);
    transition: var(--main-nav-transition);
    z-index: -1;
    overflow-y: var(--main-nav-overflow-y);
}

.main-nav[open-level="1"] {
    --main-nav-back-button-display: none;
    --main-nav-subtitle-display: none;
}

.main-nav[open-level="2"] .main-nav__list-item[is-open] > .main-nav__link,
.main-nav[open-level="2"] .main-nav__list-item[is-open] > .main-nav__chevron {
    display: none;
}

.main-nav[open-level="2"] .main-nav__list-item[nav-item-level="1"]:not([is-open]) {
    display: none;
}

.topbar[open-nav] .main-nav {
    --main-nav-transform: translateX(0);
    --main-nav-opacity: 1;
}

.main-nav__back-button {
    display: var(--main-nav-back-button-display);
    padding: var(--main-nav-back-button-padding);
    margin: var(--main-nav-back-button-margin);
}

.main-nav__subtitle {
    display: var(--main-nav-subtitle-display);
    font-family: var(--main-nav-subtitle-font-family);
    font-weight: var(--main-nav-subtitle-font-weight);
    font-size: var(--main-nav-subtitle-font-size);
    color: var(--main-nav-subtitle-color);
    margin-bottom: var(--main-nav-subtitle-margin-bottom);
}

.main-nav__chevron .icon {
    --icon-color: var(--main-nav-chevron-color);
}

.main-nav__chevron:focus .icon {
    --icon-color: var(--color-primary-dark);
}

@media (hover: hover) {
    .main-nav__chevron:hover {
        cursor: pointer;
    }

    .main-nav__chevron:hover .icon {
        --icon-color: var(--color-primary-dark);
    }

    .main-nav__back-button:hover {
        --button-color-bg: transparent;
        --button-color-text: var(--color-primary-dark);
    }

    .main-nav__back-button:hover .icon {
        --icon-color: var(--color-primary-dark);
    }
}

@media (hover: hover) and (min-width: 840px) {
    .main-nav__list-item[nav-item-level="1"][has-subnav]:hover .main-nav__list[nav-list-level="2"] {
        --main-nav-level-2-display: block;
        --main-nav-level-2-visibility: visible;
    }

    .main-nav__list-item[nav-item-level="1"]:hover > .main-nav__link {
        color: var(--color-primary-dark);
    }

    .main-nav__list-item[nav-item-level="2"] .main-nav__link:hover {
        --main-nav-link-color: var(--color-primary);

        color: var(--main-nav-link-color) !important;
    }
}

@media screen and (min-width: 840px) {
    .main-nav {
        --main-nav-position: absolute;
        --main-nav-top: unset;
        --main-nav-bottom: 0;
        --main-nav-left: unset;
        --main-nav-right: max(var(--spacing-normal), calc(calc(100% - var(--content-wide-max-width)) / 2));
        --main-nav-width: auto;
        --main-nav-height: auto;
        --main-nav-padding: 0;
        --main-nav-display: flex;
        --main-nav-transform: none;
        --main-nav-opacity: 1;
        --main-nav-transition: none;
        --main-nav-bg-color: transparent;
        --main-nav-z-index: var(--z-index-nav);
        --main-nav-overflow-y: visible;

        --main-nav-list-flex-direction: row;
        --main-nav-list-padding: 0;
        --main-nav-list-position: absolute;
        --main-nav-list-left: 0;
        --main-nav-list-bottom: 0;
        --main-nav-list-width: 100%;
        --main-nav-list-transform: translateY(100%);
        --main-nav-list-border-top: 4px solid var(--color-primary);
        --main-nav-list-bg-color: var(--color-bg);
        --main-nav-list-box-shadow: var(--shadow-normal);

        --main-nav-list-item-height: 100%;

        --main-nav-link-font-size: var(--font-size-normal);
        --main-nav-link-font-weight: var(--font-weight-text-normal);
        --main-nav-link-color: var(--color-primary);
        --main-nav-link-white-space: nowrap;
        --main-nav-link-height: 100%;
        --main-nav-link-display: flex;
        --main-nav-align-items: center;

        --main-nav-chevron-display: none;

        z-index: var(--main-nav-z-index);
        right: var(--main-nav-right);
        bottom: var(--main-nav-bottom);
    }

    .main-nav__link {
        white-space: var(--main-nav-link-white-space);
        height: var(--main-nav-link-height);
        display: var(--main-nav-link-display);
        align-items: var(--main-nav-align-items);
    }

    .main-nav__chevron {
        display: var(--main-nav-chevron-display);
    }

    .main-nav__list[nav-list-level="1"] {
        --main-nav-list-margin: 0;
        --main-nav-list-gap: var(--spacing-l);
        --main-nav-list-height: calc(var(--spacing-l) + var(--spacing-normal));

        height: var(--main-nav-list-height);
    }

    .topbar[logo-size="small"] .main-nav__list[nav-list-level="1"] {
        --main-nav-list-height: var(--spacing-l);

        height: var(--main-nav-list-height);
    }

    .main-nav__list[nav-list-level="2"] {
        --main-nav-list-padding: var(--spacing-normal) var(--spacing-xl);
        --main-nav-level-2-list-column-count: 2;
        --main-nav-level-2-list-gap: var(--spacing-l);
        --main-nav-level-2-border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);

        --main-nav-link-color: var(--color-font);

        --main-nav-text-display: flex;
        --main-nav-text-align-items: center;
        --main-nav-text-gap: var(--spacing-s);
        --main-nav-text-padding: var(--spacing-xs) 0;

        --main-nav-text-before-size: var(--font-size-normal);
        --main-nav-text-before-bg-color: var(--color-font);
        --main-nav-text-before-display: block;
        --main-nav-text-before-icon: var(--icon-chevron-right);

        position: var(--main-nav-list-position);
        left: var(--main-nav-list-left);
        bottom: var(--main-nav-list-bottom);
        width: var(--main-nav-list-width);
        transform: var(--main-nav-list-transform);
        border-top: var(--main-nav-list-border-top);
        background-color: var(--main-nav-list-bg-color);
        box-shadow: var(--main-nav-list-box-shadow);
        column-count: var(--main-nav-level-2-list-column-count);
        column-gap: var(--main-nav-level-2-list-gap);
        border-radius: var(--main-nav-level-2-border-radius);
    }

    .main-nav__list-item {
        height: var(--main-nav-list-item-height);
    }

    .main-nav__list[nav-list-level="2"] .main-nav__link {
        /*font-size: 50px;*/
    }

    .main-nav__list[nav-list-level="2"] .main-nav__text {
        --main-nav-level-2-list-item-font-size: var(--font-size-s);

        display: var(--main-nav-text-display);
        align-items: var(--main-nav-text-align-items);
        gap: var(--main-nav-text-gap);
        padding: var(--main-nav-text-padding);
    }

    .main-nav__list[nav-list-level="2"] .main-nav__text::before {
        content: "";
        display: var(--main-nav-text-before-display);
        height: var(--main-nav-text-before-size);
        width: var(--main-nav-text-before-size);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-image: var(--main-nav-text-before-icon);
        background-color: var(--main-nav-text-before-bg-color);
    }
}
