.main-nav__list[nav-list-level="3"] {
    --main-nav-level-3-list-margin: var(--spacing-normal) 0 0;
    --main-nav-level-3-list-padding: 0 0 var(--spacing-m) var(--spacing-m);
    --main-nav-level-3-list-gap: var(--spacing-normal);

    --main-nav-level-3-list-item-display: none;
    --main-nav-level-3-list-item-grid-column: 1 / -1;
    --main-nav-level-3-list-item-font-size: var(--font-size-ms);

    display: var(--main-nav-level-3-list-item-display);
    grid-column: var(--main-nav-level-3-list-item-grid-column);
    list-style: var(--main-nav-list-list-style);
    gap: var(--main-nav-level-3-list-gap);
    margin: var(--main-nav-level-3-list-margin);
    padding: var(--main-nav-level-3-list-padding);
    width: 100%;
}

.main-nav__list-item[is-open] > .main-nav__list[nav-list-level="3"] {
    --main-nav-level-3-list-item-display: grid;
}

.main-nav__list-item[nav-item-level="3"] .main-nav__text {
    font-size: var(--main-nav-level-3-list-item-font-size);
}

@media screen and (width >= 1024px) {
    .main-nav__list[nav-list-level="3"] {
        --main-nav-level-3-list-item-font-size: var(--font-size-s);
        --main-nav-level-3-list-padding: 0 0 var(--spacing-s) var(--spacing-normal);
        --main-nav-level-3-list-margin: var(--spacing-s) 0 0;
        --main-nav-level-3-list-gap: var(--spacing-s);
    }
}
