.main-nav__list[nav-list-level="2"] {
    --main-nav-level-2-list-margin: 0;
    --main-nav-level-2-list-padding: 0 0 var(--spacing-m) var(--spacing-m);

    --main-nav-level-2-list-item-display: none;
    --main-nav-level-2-list-item-grid-column: 1 / -1;
    --main-nav-level-2-list-item-grid-template-columns: 1fr auto;
    --main-nav-level-2-list-item-font-size: var(--font-size-m);


    display: var(--main-nav-level-2-list-item-display);
    grid-column: var(--main-nav-level-2-list-item-grid-column);
    /*gap: var(--main-nav-list-gap);*/
    list-style: var(--main-nav-list-list-style);
    margin: var(--main-nav-level-2-list-margin);
    padding: var(--main-nav-level-2-list-padding);
    width: 100%;
}

.main-nav__list-item[is-open] > .main-nav__list[nav-list-level="2"] {
    --main-nav-level-2-list-item-display: grid;
    /*grid-template-columns: var(--main-nav-level-2-list-item-grid-template-columns);*/
}

.main-nav__list-item[nav-item-level="2"] .main-nav__text {
    font-size: var(--main-nav-level-2-list-item-font-size);
}
