.service-nav {
    --service-nav-opacity: 0;
    --service-nav-position: fixed;
    --service-nav-height: fit-content;
    --service-nav-bottom: 0;
    --service-nav-left: var(--spacing-normal);
    --service-nav-padding: var(--spacing-s) 0;
    --service-nav-border-top: 1px solid var(--color-white-o-75);
    --service-nav-width: calc(100% - var(--spacing-l));
    --service-nav-display: flex;
    --service-nav-flex-flow: row wrap;
    --service-nav-align-items: center;
    --service-nav-justify-content: flex-start;
    --service-nav-gap: var(--spacing-s) var(--spacing-l);
    --service-nav-transform: translateY(-100vh);
    --service-nav-pointer-events: none;
    --service-nav-transition:
            transform var(--animation-duration-fast) var(--animation-easing-normal),
            opacity var(--animation-duration-fast) var(--animation-easing-normal);

    --service-nav-link-font-family: var(--font-family-text);
    --service-nav-link-font-size: var(--font-size-normal);
    --service-nav-link-text-decoration: none;
    --service-nav-link-color: var(--color-bg);
    --service-nav-link-min-height: var(--a11y-min-target-size);

    position: var(--service-nav-position);
    height: var(--service-nav-height);
    bottom: var(--service-nav-bottom);
    left: var(--service-nav-left);
    padding: var(--service-nav-padding);
    border-top: var(--service-nav-border-top);
    background: var(--service-nav-background-color);
    width: var(--service-nav-width);
    display: var(--service-nav-display);
    flex-flow: var(--service-nav-flex-flow);
    align-items: var(--service-nav-align-items);
    justify-content: var(--service-nav-justify-content);
    gap: var(--service-nav-gap);
    opacity: var(--service-nav-opacity);
    transform: var(--service-nav-transform);
    transition: var(--service-nav-transition);
    pointer-events: var(--service-nav-pointer-events);
}

[navigation-color="default"] .service-nav {
    --service-nav-background-color: var(--color-primary);
    --service-nav-link-color-active: var(--color-bg);
}

[navigation-color="primary"] .service-nav {
    --service-nav-background-color: var(--color-primary);
    --service-nav-link-color-active: var(--color-bg);
}

[navigation-color="secondary"] .service-nav {
    --service-nav-background-color: var(--color-secondary);
    --service-nav-link-color-active: var(--color-bg);
}

[navigation-color="font"] .service-nav {
    --service-nav-background-color: var(--color-font);
    --service-nav-link-color-active: var(--color-bg);
}

.topbar[no-transitions] .service-nav {
    --service-nav-transition: none !important;
}

.service-nav__link {
    font-family: var(--service-nav-link-font-family);
    font-size: var(--service-nav-link-font-size);
    text-decoration: var(--service-nav-link-text-decoration);
    color: var(--service-nav-link-color);
    min-height: var(--service-nav-link-min-height);
}

a.service-nav__link:is(:hover, :focus-visible) {
    --service-nav-link-text-decoration: underline;

    color: var(--service-nav-link-color-active) !important;
}

.topbar[open-nav] .service-nav {
    --service-nav-opacity: 1;
    --service-nav-pointer-events: all;
    --service-nav-transform: translateY(0);
    --service-nav-transition:
            transform var(--animation-duration-fast) var(--animation-easing-normal),
            opacity var(--animation-duration-fast) var(--animation-easing-normal) .25s;
}

@media screen and (width < 1024px) {
    /* For accessibility we hide the content of the service-nav when not open */
    .topbar:not([open-nav]) .service-nav > * {
        display: none;
    }
}

@media screen and (width >= 1024px) {
    .service-nav {
        --service-nav-display: none;
    }
}
