:root {
    --spacing-xxxxl: 7.5rem;
    --spacing-xxxl: 6rem;
    --spacing-xxl: 4rem;
    --spacing-xl: 3rem;
    --spacing-l: 2rem;
    --spacing-m: 1.5rem;
    --spacing-normal: 1rem;
    --spacing-s: .5rem;
    --spacing-xs: .25rem;
}