@media print {
    .media-grid[media-grid-column-number="2"] {
        --media-grid-number-of-columns: 2;
    }

    .media-grid[media-grid-column-number="3"] {
        --media-grid-number-of-columns: 3;
    }

    .media-grid[media-grid-column-number="4"] {
        --media-grid-number-of-columns: 4;
    }
}
