@media print {
    .review {
        --review-content-grid-template-columns: 1fr 2fr;
        --review-footer-padding: 0;
    }

    .review__info-link::after {
        display: none;
    }

    .review toujou-clamped-content {
        --toujou-clamped-content-number-of-lines: 999;
    }

    .review toujou-clamped-content .button {
        display: none;
    }
}
