@media print {
    a:link,
    a:visited,
    a {
        page-break-inside: avoid;
    }

    p > a::after {
        content: "["attr(href)"]";
        word-break: break-all;
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
    }
}
