/* Styles that come from the Reviews EXT */
.average-rating__rating {
    display: block;
    margin-bottom: 1.5rem
}

.average-rating__text {
    margin-bottom: .5rem
}

.average-rating__rating {
    grid-gap: 0 .5rem;
    align-items: baseline;
    display: grid;
    grid-template-areas: "rating stars" "count count";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: fit-content
}

.average-rating__rating-text {
    font-size: 1.25rem;
    grid-area: rating;
    margin: 0
}

.average-rating__rating-stars {
    --rating-stars-letter-spacing: -.2em;
    --rating-stars-color: #fbbc03;
    --rating-stars-font-size: 1.25rem;
    color: var(--rating-stars-color);
    font-size: var(--rating-stars-font-size);
    grid-area: stars;
    letter-spacing: var(--rating-stars-letter-spacing)
}

.average-rating__count {
    grid-area: count;
    margin-bottom: 0
}
