.demo-grid .toujou-grid-column {
    background-color: lightcoral;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-grid__title {
    color: white;
}