.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: var(--spacing-l);
    margin-top: var(--spacing-l);
}

.icon-grid__cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.icon-grid__title {
    font-size: var(--font-size-xs);
    color: var(--color-font-light);
}