.tokens-demo__title {
    color: var(--color-primary);
    margin-bottom: var(--spacing-l);
    font-size: var(--font-size-xl);
}

.tokens-demo__subtitle {
    color: var(--color-secondary);
    margin-bottom: var(--spacing-xl);
    font-size: var(--font-size-m);
}

.tokens-demo__color-stripe {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    font-family: var(--font-family-text);
    height: 3rem;
}

.tokens-demo__swatch {
    display: grid;
    grid-template-columns: 100px repeat(11, 1fr);
}

.tokens-demo__swatch-title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tokens-demo__swatch-item {
    height: 3rem;
}

.tokens-demo__shadows-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--spacing-xl);
}

.tokens-demo__shadow-box {
    background-color: var(--color-bg);
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    font-family: var(--font-family-text);
    color: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
}

.tokens-demo__ratios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-l);
}

.tokens-demo__ratio-box {
    background-color: var(--color-bg);
    height: auto;
    width: 100%;
    max-width: 260px;
    font-family: var(--font-family-text);
    color: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
}

.tokens-demo__animation-container {
    --animation-box-size: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-l);
    max-width: 320px;
}

.tokens-demo__animation-track {
    width: 100%;
    border: 1px solid var(--color-font-light);
    height: var(--animation-box-size);
    position: relative;
}

.tokens-demo__animation-box {
    position: absolute;
    background-color: var(--color-bg);
    height: auto;
    width: 100%;
    max-width: var(--animation-box-size);
    aspect-ratio: var(--aspect-ratio-square);
    font-family: var(--font-family-text);
    color: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
    animation:
        animation-box-slide
        var(--animation-duration-normal)
        var(--animation-easing-normal)
        infinite
        alternate-reverse;
}

.tokens-demo__animation-box.animation-slow {
    animation:
        animation-box-slide
        var(--animation-duration-slow)
        var(--animation-easing-normal)
        infinite
        alternate-reverse;
}

.tokens-demo__animation-box.animation-fast {
    animation:
        animation-box-slide
        var(--animation-duration-fast)
        var(--animation-easing-normal)
        infinite
        alternate-reverse;
}

.tokens-demo__animation-box.animation-very-fast {
    animation:
        animation-box-slide
        var(--animation-duration-very-fast)
        var(--animation-easing-normal)
        infinite
        alternate-reverse;
}

@keyframes animation-box-slide {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - var(--animation-box-size));
    }
}

.tokens-demo__spacing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--spacing-l);
    place-items: center center;
}

.tokens-demo__spacing-box {
    background-color: var(--color-bg);
    height: fit-content;
    width: fit-content;
    aspect-ratio: var(--aspect-ratio-square);
    font-family: var(--font-family-text);
    color: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
}

.tokens-demo__spacing-square-container {
    display: grid;
    grid-template-columns: repeat(10, min-content);
    grid-gap: var(--spacing-l);
    place-items: center center;
    margin-bottom: var(--spacing-xxl);
}

.tokens-demo__spacing-square-box {
    background-color: var(--color-primary);
    aspect-ratio: var(--aspect-ratio-square);
}

.tokens-demo__border-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--spacing-l);
    place-items: center center;
}

.tokens-demo__border-box {
    background-color: var(--color-bg);
    height: auto;
    width: 100%;
    aspect-ratio: var(--aspect-ratio-square);
    font-family: var(--font-family-text);
    color: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
}

.tokens-demo__border-radius-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--spacing-l);
    place-items: center center;
}

.tokens-demo__border-radius-box {
    background-color: var(--color-bg);
    height: auto;
    width: 100%;
    aspect-ratio: var(--aspect-ratio-square);
    font-family: var(--font-family-text);
    color: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
    border: 1px solid var(--color-font-light);
}

.margin-top-xl {
    margin-top: var(--spacing-xl);
}
