@layer components {
    .average-rating {
        --average-rating-display: block;
        --average-rating-width: var(--content-width-with-padding);
        --average-rating-max-width: var(--content-max-width);
        --average-rating-margin: var(--spacing-between-elements-normal) auto 0;
        --average-rating-padding: 0;
        --average-rating-z-index: var(--z-index-content);
        --average-rating-font-family: var(--font-family-text);
        --average-rating-background-color: transparent;
        --average-rating-border-radius: 0;

        --average-rating-text-color: var(--color-font);
        --average-rating-text-font-size: var(--font-size-normal);

        --average-rating-rating-display: grid;
        --average-rating-rating-grid-template-columns: auto auto;
        --average-rating-rating-grid-template-rows: auto auto;
        --average-rating-rating-grid-template-areas:
            "rating stars"
            "count count";
        --average-rating-rating-grid-gap: 0 var(--spacing-s);
        --average-rating-rating-width: fit-content;
        --average-rating-rating-align-items: baseline;
        --average-rating-rating-margin: 0;

        --average-rating-rating-text-font-size: var(--font-size-ms);
        --average-rating-rating-text-color: var(--color-font);
        --average-rating-rating-text-grid-area: rating;
        --average-rating-rating-text-margin: 0;

        --average-rating-rating-rating-stars-font-size: var(--font-size-ms);
        --average-rating-rating-rating-stars-letter-spacing: -2px;
        --average-rating-rating-rating-stars-grid-area: stars;

        --average-rating-count-margin: 0;
        --average-rating-count-grid-area: count;

        display: var(--average-rating-display);
        width: var(--average-rating-width);
        max-width: var(--average-rating-max-width);
        margin: var(--average-rating-margin);
        padding: var(--average-rating-padding);
        z-index: var(--average-rating-z-index);
        font-family: var(--average-rating-font-family);
        background-color: var(--average-rating-background-color);
        border-radius: var(--average-rating-border-radius);
    }

    .average-rating:first-child {
        --average-rating-margin: 0 auto;
    }

    .chapter[background-color]:not([background-color="bg"]) .average-rating,
    .chapter[has-background-media] .average-rating {
        --average-rating-background-color: var(--color-bg);
        --average-rating-padding: var(--spacing-m);
        --average-rating-border-radius: var(--border-radius-default);
    }

    .average-rating__text {
        color: var(--average-rating-text-color);
        font-family: var(--average-rating-font-family);
        font-size: var(--average-rating-text-font-size);
    }

    /* stylelint-disable declaration-block-no-redundant-longhand-properties */
    .average-rating__rating {
        display: var(--average-rating-rating-display);
        grid-template-columns: var(--average-rating-rating-grid-template-columns);
        grid-template-rows: var(--average-rating-rating-grid-template-rows);
        grid-template-areas: var(--average-rating-rating-grid-template-areas);
        grid-gap: var(--average-rating-rating-grid-gap);
        width: var(--average-rating-rating-width);
        align-items: var(--average-rating-rating-align-items);
        margin: var(--average-rating-rating-margin);
    }
    /* stylelint-enable declaration-block-no-redundant-longhand-properties */

    .average-rating__rating-text {
        font-size: var(--average-rating-rating-text-font-size);
        color: var(--average-rating-rating-text-color);
        grid-area: var(--average-rating-rating-text-grid-area);
        margin: var(--average-rating-rating-text-margin);
    }

    .rating-stars.average-rating__rating-stars {
        --rating-stars-font-size: var(--average-rating-rating-rating-stars-font-size);
        --rating-stars-letter-spacing: var(--average-rating-rating-rating-stars-letter-spacing);

        grid-area: stars;
        font-size: var(--rating-stars-font-size);
    }

    .average-rating__count {
        margin: var(--average-rating-count-margin);
        grid-area: var(--average-rating-count-grid-area);
    }
}
