.blog-post {
    --blog-post-data-display: flex;
    --blog-post-data-flex-direction: row;
    --blog-post-data-align-items: center;
    --blog-post-data-justify-content: flex-start;
    --blog-post-data-gap: var(--spacing-l);
    --blog-post-data-font-family: var(--font-family-text);
    --blog-post-data-font-size: var(--font-size-normal);
    --blog-post-data-color: var(--color-font);
    --blog-post-data-margin: 0 auto var(--spacing-l);
    --blog-post-data-width: var(--content-width-with-padding);
    --blog-post-data-max-width: var(--content-medium-max-width);

    --blog-post-date-display: flex;
    --blog-post-date-flex-direction: row;
    --blog-post-date-align-items: center;
    --blog-post-date-justify-content: flex-start;
    --blog-post-date-gap: var(--spacing-s);

    --blog-post-author-margin: 0;
    --blog-post-author-display: flex;
    --blog-post-author-flex-direction: row;
    --blog-post-author-align-items: center;
    --blog-post-author-justify-content: flex-start;
    --blog-post-author-gap: var(--spacing-s);

    --blog-post-category-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
    --blog-post-category-width: var(--content-width-with-padding);
    --blog-post-category-max-width: var(--content-medium-max-width);

    --blog-post-categories-list-display: flex;
    --blog-post-categories-list-flex-direction: column;
    --blog-post-categories-list-align-items: flex-start;
    --blog-post-categories-list-justify-content: flex-start;
    --blog-post-categories-list-gap: var(--spacing-s);
    --blog-post-categories-list-list-style: none;
    --blog-post-categories-list-margin: 0;

    --blog-post-categories-link-display: flex;
    --blog-post-categories-link-align-items: center;
    --blog-post-categories-link-justify-content: flex-start;
    --blog-post-categories-link-gap: var(--spacing-s);
    --blog-post-categories-link-text-decoration: none;

    --blog-post-comments-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
    --blog-post-comments-width: var(--content-width-with-padding);
    --blog-post-comments-max-width: var(--content-medium-max-width);

    --blog-post-comments-list-display: flex;
    --blog-post-comments-list-flex-direction: column;
    --blog-post-comments-list-align-items: flex-start;
    --blog-post-comments-list-justify-content: flex-start;
    --blog-post-comments-list-gap: var(--spacing-s);
    --blog-post-comments-list-list-style: none;
    --blog-post-comments-list-margin: 0;

    --blog-post-comments-item-margin: 0 0 var(--spacing-normal);

    --blog-post-comments-data-display: flex;
    --blog-post-comments-data-flex-direction: row;
    --blog-post-comments-data-align-items: flex-start;
    --blog-post-comments-data-justify-content: flex-start;
    --blog-post-comments-data-gap: var(--spacing-normal);

    --blog-post-comments-date-font-size: var(--font-size-s);
    --blog-post-comments-date-font-family: var(--font-family-text);
    --blog-post-comments-date-color: var(--color-font-light);
    --blog-post-comments-date-margin: 0;

    --blog-post-comments-author-font-size: var(--font-size-s);
    --blog-post-comments-author-font-family: var(--font-family-text);
    --blog-post-comments-author-color: var(--color-font-light);
    --blog-post-comments-author-margin: 0;

    --blog-post-comments-comment-font-size: var(--font-size-normal);
    --blog-post-comments-comment-font-family: var(--font-family-text);
    --blog-post-comments-comment-color: var(--color-font);
    --blog-post-comments-comment-margin: 0;
}

.blog-post__data {
    display: var(--blog-post-data-display);
    flex-direction: var(--blog-post-data-flex-direction);
    align-items: var(--blog-post-data-align-items);
    justify-content: var(--blog-post-data-justify-content);
    gap: var(--blog-post-data-gap);
    font-family: var(--blog-post-data-font-family);
    font-size: var(--blog-post-data-font-size);
    color: var(--blog-post-data-color);
    width: var(--blog-post-data-width);
    max-width: var(--blog-post-data-max-width);
    margin: var(--blog-post-data-margin);
}

.blog-post__date {
    display: var(--blog-post-date-display);
    flex-direction: var(--blog-post-date-flex-direction);
    align-items: var(--blog-post-date-align-items);
    justify-content: var(--blog-post-date-justify-content);
    gap: var(--blog-post-date-gap);
}

.blog-post__author {
    margin: var(--blog-post-author-margin);
    display: var(--blog-post-author-display);
    flex-direction: var(--blog-post-author-flex-direction);
    align-items: var(--blog-post-author-align-items);
    justify-content: var(--blog-post-author-justify-content);
    gap: var(--blog-post-author-gap);
}

.blog-post__categories {
    margin: var(--blog-post-category-margin);
    width: var(--blog-post-category-width);
    max-width: var(--blog-post-category-max-width);
}

.blog-post__categories-list {
    display: var(--blog-post-categories-list-display);
    flex-direction: var(--blog-post-categories-list-flex-direction);
    align-items: var(--blog-post-categories-list-align-items);
    justify-content: var(--blog-post-categories-list-justify-content);
    gap: var(--blog-post-categories-list-gap);
    list-style: var(--blog-post-categories-list-list-style);
    margin: var(--blog-post-categories-list-margin);
}

.blog-post__categories-link {
    display: var(--blog-post-categories-link-display);
    align-items: var(--blog-post-categories-link-align-items);
    justify-content: var(--blog-post-categories-link-justify-content);
    gap: var(--blog-post-categories-link-gap);
    text-decoration: var(--blog-post-categories-link-text-decoration);
}

.blog-post__categories-link:focus-visible {
    --blog-post-categories-link-text-decoration: underline;
}

.blog-post__comments {
    margin: var(--blog-post-comments-margin);
    width: var(--blog-post-comments-width);
    max-width: var(--blog-post-comments-max-width);
}

.blog-post__comments-list {
    display: var(--blog-post-comments-list-display);
    flex-direction: var(--blog-post-comments-list-flex-direction);
    align-items: var(--blog-post-comments-list-align-items);
    justify-content: var(--blog-post-comments-list-justify-content);
    gap: var(--blog-post-comments-list-gap);
    list-style: var(--blog-post-comments-list-list-style);
    margin: var(--blog-post-comments-list-margin);
}

.blog-post__comments-item {
    margin: var(--blog-post-comments-item-margin);
}

.blog-post__comments-data {
    display: var(--blog-post-comments-data-display);
    flex-direction: var(--blog-post-comments-data-flex-direction);
    align-items: var(--blog-post-comments-data-align-items);
    justify-content: var(--blog-post-comments-data-justify-content);
    gap: var(--blog-post-comments-data-gap);
}

.blog-post__comments-date {
    font-size: var(--blog-post-comments-date-font-size);
    font-family: var(--blog-post-comments-date-font-family);
    color: var(--blog-post-comments-date-color);
    margin: var(--blog-post-comments-date-margin);
}

.blog-post__comments-author {
    font-size: var(--blog-post-comments-author-font-size);
    font-family: var(--blog-post-comments-author-font-family);
    color: var(--blog-post-comments-author-color);
    margin: var(--blog-post-comments-author-margin);
}

.blog-post__comments-comment {
    font-size: var(--blog-post-comments-comment-font-size);
    font-family: var(--blog-post-comments-comment-font-family);
    color: var(--blog-post-comments-comment-color);
    margin: var(--blog-post-comments-comment-margin);
}

@media (hover: hover) {
    .blog-post__categories-link:hover {
        --blog-post-categories-link-text-decoration: underline;
    }
}
