.blockquote {
    --blockquote-image-size: 112px;
    --blockquote-image-border-radius: 50%;
    --blockquote-icon-size: var(--spacing-xl);
    --blockquote-icon-image: var(--icon-blockquote-round);
    --blockquote-image-margin-top: 0;
    --blockquote-font-family: var(--font-family-text);
    --blockquote-font-size: var(--font-size-normal);
    --blockquote-color: var(--color-font);
    --blockquote-gap: var(--spacing-normal);
    --blockquote-quote-margin: 0;
    --blockquote-line-height: var(--line-height-normal);
    --blockquote-author-prefix: "—";
    --blockquote-max-width: var(--content-max-width);
    --blockquote-border-radius: var(--border-radius-normal);
    --blockquote-padding: 0;
    --blockquote-background-color: var(--color-bg);

    --blockquote-text-font-size: var(--font-size-normal);
    --blockquote-text-line-height: 1.5;
    --blockquote-text-margin: 0;
    --blockquote-z-index: var(--z-index-content);

    --blockquote-icon-color: var(--color-font-dark);

    --blockquote-author-grid-column: 2;

    display: grid;
    grid-gap: var(--blockquote-gap);
    grid-template-columns: var(--blockquote-grid-template-columns);
    grid-template-areas: var(--blockquote-grid-template-areas);
    margin: 0 auto;
    padding: var(--blockquote-padding);
    min-width: 0;
    max-width: var(--blockquote-max-width);
    min-height: 0;
    border-radius: var(--blockquote-border-radius);
    background-color: var(--blockquote-background-color);
    z-index: var(--blockquote-z-index);
}

.blockquote[is-column] {
    padding: 0;
}

.blockquote:not([blockquote-design="default"]) {
    --blockquote-padding: var(--spacing-l);
    --blockquote-icon-color: var(--color-bg);
    --blockquote-color: var(--color-bg);
}

.blockquote[blockquote-design="primary"] {
    --blockquote-background-color: var(--color-primary);
}

.blockquote[blockquote-design="secondary"] {
    --blockquote-background-color: var(--color-secondary);
}

.blockquote[blockquote-design="inverted"] {
    --blockquote-background-color: var(--color-font);
}

.blockquote__image {
    height: var(--blockquote-image-size);
    width: var(--blockquote-image-size);
    object-fit: cover;
    border-radius: var(--blockquote-image-border-radius);
    display: block;
    margin: var(--blockquote-image-margin-top) auto 0;
    grid-area: blockquoteImage;
}

.blockquote__blockquote {
    position: relative;
    font-family: var(--blockquote-font-family);
    font-size: var(--blockquote-font-size);
    color: var(--blockquote-color);
    margin: var(--blockquote-quote-margin);
    line-height: var(--blockquote-line-height);
    margin-top: var(--spacing-m);
    grid-area: blockquoteQuote;
}

.blockquote__blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: var(--blockquote-icon-size);
    width: var(--blockquote-icon-size);
    transform: translateY(-100%);
    background-color: var(--blockquote-icon-color);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: var(--blockquote-icon-image);
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: var(--blockquote-icon-image);
    /* stylelint-enable property-no-vendor-prefix */
}

.blockquote__text {
    font-size: var(--blockquote-text-font-size);
    line-height: var(--blockquote-text-line-height);
    margin: var(--blockquote-text-margin);
    color: var(--blockquote-color);
}

.blockquote__text a {
    word-break: break-word;
}

.blockquote__author {
    font-family: var(--blockquote-font-family);
    font-size: var(--blockquote-font-size);
    color: var(--blockquote-color);
    line-height: var(--blockquote-line-height);
    grid-column: var(--blockquote-author-grid-column);
    grid-area: blockquoteAuthor;
}

.blockquote__author::before {
    content: var(--blockquote-author-prefix);
    margin-right: var(--spacing-s);
}

/* HORIZONTAL BLOCKQUOTE */
.blockquote[blockquote-direction="horizontal"] {
    --blockquote-gap: var(--spacing-normal) var(--spacing-m);
    --blockquote-grid-template-columns: var(--blockquote-image-size) 1fr;
    --blockquote-grid-template-areas: "blockquoteImage blockquoteQuote" "blockquoteImage blockquoteAuthor";
    --blockquote-image-size: 70px;
    --blockquote-image-margin-top: var(--spacing-m);

    grid-template-rows: auto auto;
}

/* VERTICAL BLOCKQUOTE */
.blockquote[blockquote-direction="vertical"] {
    --blockquote-grid-template-columns: 1fr;
    --blockquote-grid-template-areas: "blockquoteImage" "blockquoteQuote" "blockquoteAuthor";
    --blockquote-author-grid-column: 1;
}

@media screen and (min-width: 640px) {
    .blockquote:not([blockquote-design="default"]) {
        --blockquote-padding: var(--spacing-xl);
    }
}

@media screen and (min-width: 960px) {
    .blockquote:not([blockquote-design="default"]) {
        --blockquote-padding: var(--spacing-xxl);
    }

    .blockquote[blockquote-direction="horizontal"] {
        --blockquote-gap: var(--spacing-normal) var(--spacing-xl);
        --blockquote-image-size: 112px;
    }
}
