.button {
    --button-color-bg: var(--color-primary);
    --button-color-text: var(--color-bg);
    --button-font-size: var(--font-size-normal);
    --button-font-family: var(--font-family-text);
    --button-padding: var(--spacing-s) var(--spacing-m);
    --button-border-radius: var(--border-radius-normal);
    --button-border-width: var(--spacing-1px);
    --button-border-color: var(--button-color-bg);
    --button-icon-size: var(--button-font-size);
    --button-width: fit-content;

    width: var(--button-width);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--button-border-width) solid var(--button-border-color);
    outline: none;
    gap: var(--spacing-s);
    background-color: var(--button-color-bg);
    color: var(--button-color-text);
    font-size: var(--button-font-size);
    font-family: var(--button-font-family);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.button--secondary {
    --button-color-bg: var(--color-secondary);
}

.button--font {
    --button-color-bg: var(--color-font);
}

.button[disabled] {
    --button-color-bg: var(--color-font-light) !important;
    --button-color-text: var(--color-font) !important;

    cursor: not-allowed !important;
}

/* FOCUS */
.button:focus-visible {
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

.button:focus-visible {
    --button-color-bg: var(--color-primary-light);
    --button-color-text: var(--color-primary-dark);
}

.button--secondary:focus-visible {
    --button-color-bg: var(--color-secondary-light);
    --button-color-text: var(--color-secondary-dark);
}

.button--font:focus-visible {
    --button-color-bg: var(--color-font-light);
    --button-color-text: var(--color-font-dark);
}

/* BUTTON SIZE */
.button--size-tiny {
    --button-font-size: var(--font-size-xs);
}

.button--size-small {
    --button-font-size: var(--font-size-s);
}

.button--size-large {
    --button-font-size: var(--font-size-ms);
}

/* BUTTON ICON */
.icon.button__icon {
    --icon-size: var(--button-icon-size);
}

/* EXPANDED */
.button--expanded {
    --button-width: 100%;
}

/* BUTTON TYPE BORDER */
.button--border {
    --button-color-bg: transparent;
    --button-border-color: var(--color-primary);
    --button-color-text: var(--color-primary);
}

.button--border:focus-visible {
    --button-color-bg: var(--color-primary-o-10);
    --button-border-color: var(--color-primary);
    --button-color-text: var(--color-primary);
}

.button--secondary.button--border {
    --button-border-color: var(--color-secondary);
    --button-color-text: var(--color-secondary);
}

.button--secondary.button--border:focus-visible {
    --button-color-bg: var(--color-secondary-o-10);
    --button-border-color: var(--color-secondary);
    --button-color-text: var(--color-secondary);
}

.button--font.button--border {
    --button-border-color: var(--color-font);
    --button-color-text: var(--color-font);
}

.button--font.button--border:focus-visible {
    --button-color-bg: var(--color-font-o-10);
    --button-border-color: var(--color-font);
    --button-color-text: var(--color-font);
}

@media (hover: hover) {
    .button:hover {
        --button-color-bg: var(--color-primary-light);
        --button-color-text: var(--color-primary-dark);
    }

    .button--secondary:hover {
        --button-color-bg: var(--color-secondary-light);
        --button-color-text: var(--color-secondary-dark);
    }

    .button--font:hover {
        --button-color-bg: var(--color-font-light);
        --button-color-text: var(--color-font-dark);
    }

    /* BUTTON TYPE BORDER */
    .button--border:hover {
        --button-color-bg: var(--color-primary-o-10);
        --button-border-color: var(--color-primary);
        --button-color-text: var(--color-primary);
    }

    .button--secondary.button--border:hover {
        --button-color-bg: var(--color-secondary-o-10);
        --button-border-color: var(--color-secondary);
        --button-color-text: var(--color-secondary);
    }

    .button--font.button--border:hover {
        --button-color-bg: var(--color-font-o-10);
        --button-border-color: var(--color-font);
        --button-color-text: var(--color-font);
    }
}