.button {
    border: none;
    padding: var(--spacing-s) var(--spacing-normal);
    border-radius: var(--border-radius-normal);
}

.button--primary {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.button--secondary {
    background-color: var(--color-secondary);
    color: var(--color-bg);
}

.button--font {
    background-color: var(--color-font);
    color: var(--color-bg);
}

.button--primary.button--shadow {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-bg);
}

.button--secondary.button--shadow {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-bg);
}

.button--font.button--shadow {
    border: 1px solid var(--color-font);
    color: var(--color-font);
    background-color: var(--color-bg);
}