.button {
    --button-color-bg: var(--color-primary);
    --button-color-text: var(--color-bg);
    --button-font-size: var(--font-size-normal);
    --button-font-family: var(--font-family-text);
    --button-padding: var(--spacing-s) var(--spacing-m);
    --button-border-radius: var(--border-radius-normal);

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    gap: var(--spacing-s);
    background-color: var(--button-color-bg);
    color: var(--button-color-text);
    font-size: var(--button-font-size);
    font-family: var(--button-font-family);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.button--secondary {
    --button-color-bg: var(--color-secondary);
}

.button--font {
    --button-color-bg: var(--color-font);
}

.button[disabled] {
    --button-color-bg: var(--color-font-light) !important;
    --button-color-text: var(--color-font) !important;

    cursor: not-allowed !important;
}

/* FOCUS */
.button:focus-visible {
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

.button:focus-visible {
    --button-color-bg: var(--color-primary-light);
    --button-color-text: var(--color-primary-dark);
}

.button--secondary:focus-visible {
    --button-color-bg: var(--color-secondary-light);
    --button-color-text: var(--color-secondary-dark);
}

.button--font:focus-visible {
    --button-color-bg: var(--color-font-light);
    --button-color-text: var(--color-font-dark);
}

@media (hover: hover) {
    .button:hover {
        --button-color-bg: var(--color-primary-light);
        --button-color-text: var(--color-primary-dark);
    }

    .button--secondary:hover {
        --button-color-bg: var(--color-secondary-light);
        --button-color-text: var(--color-secondary-dark);
    }

    .button--font:hover {
        --button-color-bg: var(--color-font-light);
        --button-color-text: var(--color-font-dark);
    }
}