.calendar-page {
    --calendar-page-background-color: var(--color-bg);
    --calendar-page-padding: var(--spacing-s);
    --calendar-page-border-radius: var(--border-radius-normal);
    --calendar-page-border: var(--border-width-normal) solid transparent;
    --calendar-page-min-width: fit-content;
    --calendar-page-display: flex;
    --calendar-page-flex-direction: column;
    --calendar-page-align-items: center;
    --calendar-page-justify-content: center;

    --calendar-page-date-text-align: center;
    --calendar-page-date-display: flex;
    --calendar-page-date-flex-direction: column;
    --calendar-page-date-align-items: center;
    --calendar-page-date-justify-content: center;
    --calendar-page-date-gap: var(--spacing-xxs);

    --calendar-page-text-margin: 0;
    --calendar-page-text-padding: 0;
    --calendar-page-text-font-family: var(--font-family-text);
    --calendar-page-text-font-size: var(--font-size-xs);
    --calendar-page-text-line-height: var(--font-size-xs);
    --calendar-page-text-text-transform: uppercase;
    --calendar-page-text-color: var(--color-font);

    --calendar-page-day-margin: 0 0 2px;
    --calendar-page-day-padding: 0;
    --calendar-page-day-font-family: var(--font-family-text);
    --calendar-page-day-font-size: var(--font-size-m);
    --calendar-page-day-line-height: var(--font-size-m);
    --calendar-page-day-font-weight: var(--font-weight-text-bold);
    --calendar-page-day-text-transform: uppercase;
    --calendar-page-day-color: var(--color-font);
    --calendar-page-day-font-variant-numeric: tabular-nums;

    --calendar-page-times-text-align: center;
    --calendar-page-times-display: flex;
    --calendar-page-times-flex-direction: column;
    --calendar-page-times-align-items: center;
    --calendar-page-times-justify-content: center;
    --calendar-page-times-gap: var(--spacing-xxs);
    --calendar-page-times-margin: var(--spacing-s) 0 0;
    --calendar-page-times-padding: var(--spacing-s) 0 0;
    --calendar-page-times-border-top: 1px solid var(--border-color-default);
    --calendar-page-times-border-left: none;

    --calendar-page-time-separator-line-height: var(--spacing-xs);
    --calendar-page-time-separator-word-margin-bottom: var(--spacing-xs);
    --calendar-page-time-separator-word-text-trandform: none;

    background-color: var(--calendar-page-background-color);
    padding: var(--calendar-page-padding);
    border-radius: var(--calendar-page-border-radius);
    border: var(--calendar-page-border);
    min-width: var(--calendar-page-min-width);
    display: var(--calendar-page-display);
    flex-direction: var(--calendar-page-flex-direction);
    align-items: var(--calendar-page-align-items);
    justify-content: var(--calendar-page-justify-content);
}

.calendar-pages:not([as-group]) .calendar-page:not([inline]) {
    --calendar-page-border: var(--border-width-normal) solid var(--border-color-default);
}

.calendar-page[inline] {
    --calendar-page-background-color: transparent;
    --calendar-page-padding: 0;
    --calendar-page-border: var(--border-width-normal) solid transparent;
}

.calendar-page[single-day] {
    --calendar-page-flex-direction: row;
    --calendar-page-times-margin: 0 0 0 var(--spacing-s);
    --calendar-page-times-padding: 0 0 0 var(--spacing-s);
    --calendar-page-times-border-top: none;
    --calendar-page-times-border-left: 1px solid var(--border-color-default);
}

.calendar-pages[as-group] .calendar-page {
    --calendar-page-padding: 0;
}

.calendar-page__date {
    text-align: var(--calendar-page-date-text-align);
    display: var(--calendar-page-date-display);
    flex-direction: var(--calendar-page-date-flex-direction);
    align-items: var(--calendar-page-date-align-items);
    justify-content: var(--calendar-page-date-justify-content);
    gap: var(--calendar-page-date-gap);
}

.calendar-page__month,
.calendar-page__year,
.calendar-page__time,
.calendar-page__time-separator {
    margin: var(--calendar-page-text-margin);
    padding: var(--calendar-page-text-padding);
    font-family: var(--calendar-page-text-font-family);
    font-size: var(--calendar-page-text-font-size);
    line-height: var(--calendar-page-text-line-height);
    text-transform: var(--calendar-page-text-text-transform);
    color: var(--calendar-page-text-color);
}

.event-schedule-day .calendar-page__year {
    display: none;
}

.calendar-page__day {
    margin: var(--calendar-page-day-margin);
    padding: var(--calendar-page-day-padding);
    font-family: var(--calendar-page-day-font-family);
    font-size: var(--calendar-page-day-font-size);
    line-height: var(--calendar-page-day-line-height);
    font-weight: var(--calendar-page-day-font-weight);
    text-transform: var(--calendar-page-day-text-transform);
    color: var(--calendar-page-day-color);
    font-variant-numeric: var(--calendar-page-day-font-variant-numeric);
}

.calendar-page__times {
    text-align: var(--calendar-page-times-text-align);
    display: var(--calendar-page-times-display);
    flex-direction: var(--calendar-page-times-flex-direction);
    align-items: var(--calendar-page-times-align-items);
    justify-content: var(--calendar-page-times-justify-content);
    gap: var(--calendar-page-times-gap);
    margin: var(--calendar-page-times-margin);
    padding: var(--calendar-page-times-padding);
    border-top: var(--calendar-page-times-border-top);
    border-left: var(--calendar-page-times-border-left);
}

.calendar-page__time-separator {
    line-height: var(--calendar-page-time-separator-line-height);
}

.calendar-page__time-separator--word {
    margin-bottom: var(--calendar-page-time-separator-word-margin-bottom);
    text-transform: var(--calendar-page-time-separator-word-text-trandform);
}


