@layer components {
    .card-collection {
        --card-collection-display: flex;
        --card-collection-flex-wrap: wrap;
        --card-collection-align-items: center;
        --card-collection-justify-content: center;
        --card-collection-gap: var(--content-spacing-between-columns);
        --card-collection-width: var(--content-width-with-padding);
        --card-collection-max-width: var(--content-wide-max-width);
        --card-collection-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
        --card-collection-list-style: none;
        --card-collection-padding: 0;
        --card-collection-z-index: var(--z-index-content);

        --card-collection-item-align-self: stretch;

        display: var(--card-collection-display);
        grid-gap: var(--card-collection-gap);
        flex-wrap: var(--card-collection-flex-wrap);
        align-items: var(--card-collection-align-items);
        justify-content: var(--card-collection-justify-content);
        width: var(--card-collection-width);
        max-width: var(--card-collection-max-width);
        margin: var(--card-collection-margin);
        list-style: var(--card-collection-list-style);
        padding: var(--card-collection-padding);
        z-index: var(--card-collection-z-index);
    }

    .card-collection[is-slider] {
        --card-collection-flex-wrap: nowrap;
    }

    .card-collection:first-child {
        --card-collection-margin: 0 auto;
    }

    .card-collection__item {
        width: 100%;
        max-width: var(--card-collection-item-max-width);
        align-self: var(--card-collection-item-align-self);
    }

    @media screen and (min-width: 640px) {
        .card-collection__item {
            --card-collection-item-max-width: calc(calc(100% - var(--card-collection-gap)) / 2);
        }

        .grid .card-collection {
            --card-collection-width: 100%;
        }

        .grid[number-of-columns="2"] .card-collection__item {
            --card-collection-item-max-width: 100%;
        }

        .card-collection__item[is-single-column] {
            --card-collection-item-max-width: 100% !important;
        }
    }

    @media screen and (min-width: 960px) {
        .card-collection__item {
            --card-collection-item-max-width: calc(calc(100% - var(--card-collection-gap) * 3) / 4);
        }

        .grid[number-of-columns="2"] .card-collection__item {
            --card-collection-item-max-width: calc(calc(100% - var(--card-collection-gap)) / 2);
        }

        .card-collection__item[is-single-column] {
            --card-collection-item-max-width: 100% !important;
        }
    }
}
