.collection-item {
    --collection-item-text-color: var(--color-font);

    --collection-item-position: relative;
    --collection-item-display: flex;
    --collection-item-width: 100%;
    --collection-item-max-width: 100%;
    --collection-item-shadow: none;
    --collection-item-border-radius: var(--border-radius-normal);
    --collection-item-overflow: hidden;
    --collection-item-bg-color: var(--color-bg);
    --collection-item-z-index: var(--z-index-content);

    --collection-item-top-position: relative;
    --collection-item-top-margin: 0;
    --collection-item-top-height: fit-content;

    --collection-item-figure-border-radius: 0;
    --collection-item-figure-overflow: hidden;

    --collection-item-image-ratio: var(--aspect-ratio-default);
    --collection-item-image-object-fit: cover;

    --collection-item-categories-position: absolute;
    --collection-item-categories-top: var(--spacing-normal);
    --collection-item-categories-left: 0;

    --collection-item-category-background-color: var(--color-primary-light);
    --collection-item-category-color: var(--color-primary-dark);
    --collection-item-category-display: flex;
    --collection-item-category-align-items: center;
    --collection-item-category-justify-content: flex-start;
    --collection-item-category-gap: var(--spacing-xs);
    --collection-item-category-line-height: normal;
    --collection-item-category-padding: var(--spacing-xs) var(--spacing-normal) var(--spacing-xs) var(--spacing-s);
    --collection-item-category-border-radius: 0 var(--border-radius-xxxl) var(--border-radius-xxxl) 0;
    --collection-item-category-font-size: var(--font-size-s);
    --collection-item-category-margin: 0 0 var(--spacing-xs);
    --collection-item-category-width: fit-content;

    --collection-item-date-position: absolute;
    --collection-item-date-top: var(--spacing-m);
    --collection-item-date-left: var(--spacing-m);
    --collection-item-date-background-color: var(--color-bg);
    --collection-item-date-border-radius: var(--border-radius-normal);
    --collection-item-date-display: flex;
    --collection-item-date-align-items: center;
    --collection-item-date-justify-content: center;
    --collection-item-date-flex-direction: column;
    --collection-item-date-padding: var(--spacing-s);
    --collection-item-date-color: var(--collection-item-text-color);
    --collection-item-date-line-height: 1;
    --collection-item-date-height: 4rem;
    --collection-item-date-width: var(--collection-item-date-height);

    --collection-item-date-day-font-size: var(--font-size-m);
    --collection-item-date-day-font-weight: var(--font-weight-text-bold);

    --collection-item-date-month-text-transfrom: uppercase;
    --collection-item-date-month-font-size: var(--font-size-s);

    --collection-item-location-display: flex;
    --collection-item-location-align-items: flex-start;
    --collection-item-location-justify-content: flex-start;
    --collection-item-location-flex-direction: column;
    --collection-item-location-gap: var(--spacing-xs);
    --collection-item-location-position: absolute;
    --collection-item-location-bottom: 0;
    --collection-item-location-left: 0;
    --collection-item-location-padding: var(--spacing-m);
    --collection-item-location-gradient: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 100%);
    --collection-item-location-width: 100%;
    --collection-item-location-border-radius: 0;
    --collection-item-location-transform: none;

    --collection-item-city-font-size: var(--font-size-ms);
    --collection-item-city-font-family: var(--font-family-text);
    --collection-item-city-font-weight: var(--font-weight-text-bold);
    --collection-item-city-color: var(--color-bg);
    --collection-item-city-margin: 0;

    --collection-item-country-font-size: var(--font-size-normal);
    --collection-item-country-font-family: var(--font-family-text);
    --collection-item-country-font-weight: var(--font-weight-text-normal);
    --collection-item-country-color: var(--color-bg);
    --collection-item-country-margin: 0;

    --collection-item-bottom-padding: var(--spacing-m);
    --collection-item-bottom-position: absolute;
    --collection-item-bottom-bottom: 0;
    --collection-item-bottom-left: 0;
    --collection-item-bottom-width: 100%;
    --collection-item-bottom-background-color: var(--color-black-o-75);

    --collection-item-title-font-size: var(--font-size-ms);
    --collection-item-title-color: var(--color-font-dark);
    --collection-item-title-margin: 0 0 var(--spacing-xs);
    --collection-item-title-font-family: var(--font-family-text);
    --collection-item-title-font-weight: var(--font-weight-text-bold);

    --collection-item-subtitles-margin: 0;
    --collection-item-subtitles-separator: "-";

    --collection-item-subtitle-font-family: var(--font-family-text);
    --collection-item-subtitle-font-weight: var(--font-weight-text-normal);
    --collection-item-subtitle-font-size: var(--font-size-normal);
    --collection-item-subtitle-color: var(--collection-item-text-color);
    --collection-item-subtitle-font-style: italic;

    --collection-item-info-display: grid;
    --collection-item-info-grid-template-columns: auto 1fr;
    --collection-item-info-grid-gap: var(--spacing-s);
    --collection-item-info-margin: var(--spacing-normal) 0 0;
    --collection-item-info-icon-top: 2px;
    --collection-item-info-text-margin: 0;
    --collection-item-info-icon-color: var(--color-primary);
    --collection-item-info-text-color: var(--collection-item-text-color);

    --collection-item-extension-background-color: var(--color-error);
    --collection-item-extension-width: fit-content;
    --collection-item-extension-padding: var(--spacing-xs) var(--spacing-s);
    --collection-item-extension-color: var(--color-bg);
    --collection-item-extension-font-size: var(--font-size-s);
    --collection-item-extension-border-radius: var(--border-radius-normal);
    --collection-item-extension-margin: var(--spacing-normal) 0;

    --collection-item-abstract-number-of-line: 3;
    --collection-item-abstract-color: var(--collection-item-text-color);

    --collection-item-trip-info-margin: 0;
    --collection-item-trip-info-color: var(--collection-item-text-color);
    --collection-item-trip-price-amount-font-weight: var(--font-weight-text-bold);
    --collection-item-trip-price-amount-font-size: var(--font-size-ms);
    --collection-item-trip-price-suffix-font-size: var(--font-size-xs);
    --collection-item-trip-price-color: var(--collection-item-text-color);

    --collection-item-button-text-decoration: none;
    --collection-item-button-text-color: var(--color-primary);
    --collection-item-button-text-color-hover: var(--color-primary-dark);
    --collection-item-button-display: flex;
    --collection-item-button-align-items: end;
    --collection-item-button-justify-content: center;
    --collection-item-button-width: fit-content;
    --collection-item-button-gap: var(--spacing-s);

    position: var(--collection-item-position);
    display: var(--collection-item-display);
    flex-direction: var(--collection-item-flex-direction);
    width: var(--collection-item-width);
    max-width: var(--collection-item-max-width);
    box-shadow: var(--collection-item-shadow);
    border-radius: var(--collection-item-border-radius);
    overflow: var(--collection-item-overflow);
    background-color: var(--collection-item-bg-color);
    z-index: var(--collection-item-z-index);
}

.collection-item[item-orientation="vertical"] {
    --collection-item-flex-direction: column;
}

.collection-item[item-orientation="horizontal"] {
    --collection-item-flex-direction: column;
}

.collection-item[item-design="primary"],
.collection-item[item-design="secondary"],
.collection-item[item-design="inverted"] {
    --collection-item-text-color: var(--color-bg);
    --collection-item-title-color: var(--color-bg);
    --collection-item-button-text-color: var(--color-bg);
}

.collection-item[item-design="primary"] {
    --collection-item-bg-color: var(--color-primary);
    --collection-item-date-background-color: var(--color-primary);
    --collection-item-info-icon-color: var(--color-white);
}

.collection-item[item-design="secondary"] {
    --collection-item-bg-color: var(--color-secondary);
    --collection-item-date-background-color: var(--color-secondary);
    --collection-item-info-icon-color: var(--color-white);
    --collection-item-button-text-color-hover: var(--color-secondary-dark);
}

.collection-item[item-design="inverted"] {
    --collection-item-bg-color: var(--color-font-dark);
    --collection-item-date-background-color: var(--color-font-dark);
    --collection-item-info-icon-color: var(--color-white);
    --collection-item-button-text-color-hover: var(--color-font-light);
}

.collection-item[item-type="product"][item-orientation="vertical"] {
    --collection-item-bottom-padding: var(--spacing-s) var(--spacing-normal);
    --collection-item-title-color: var(--color-bg);
}

.collection-item__top {
    position: var(--collection-item-top-position);
    margin: var(--collection-item-top-margin);
    height: var(--collection-item-top-height);
}

.collection-item__figure {
    border-radius: var(--collection-item-figure-border-radius);
    overflow: var(--collection-item-figure-overflow);
}

.collection-item__image {
    aspect-ratio: var(--collection-item-image-ratio);
    object-fit: var(--collection-item-image-object-fit);
}

.collection-item__categories {
    position: var(--collection-item-categories-position);
    top: var(--collection-item-categories-top);
    left: var(--collection-item-categories-left);
}

.collection-item__category {
    background-color: var(--collection-item-category-background-color);
    color: var(--collection-item-category-color);
    display: var(--collection-item-category-display);
    align-items: var(--collection-item-category-align-items);
    justify-content: var(--collection-item-category-justify-content);
    gap: var(--collection-item-category-gap);
    line-height: var(--collection-item-category-line-height);
    padding: var(--collection-item-category-padding);
    margin: var(--collection-item-category-margin);
    border-radius: var(--collection-item-category-border-radius);
    font-size: var(--collection-item-category-font-size);
    width: var(--collection-item-category-width);
}

.collection-item__date {
    position: var(--collection-item-date-position);
    height: var(--collection-item-date-height);
    width: var(--collection-item-date-width);
    top: var(--collection-item-date-top);
    left: var(--collection-item-date-left);
    background-color: var(--collection-item-date-background-color);
    border-radius: var(--collection-item-date-border-radius);
    display: var(--collection-item-date-display);
    align-items: var(--collection-item-date-align-items);
    justify-content: var(--collection-item-date-justify-content);
    flex-direction: var(--collection-item-date-flex-direction);
    padding: var(--collection-item-date-padding);
    color: var(--collection-item-date-color);
    line-height: var(--collection-item-date-line-height);
}

.collection-item__date-day {
    font-size: var(--collection-item-date-day-font-size);
    font-weight: var(--collection-item-date-day-font-weight);
}

.collection-item__date-month {
    text-transform: var(--collection-item-date-month-text-transfrom);
    font-size: var(--collection-item-date-month-font-size);
}

.collection-item__location {
    display: var(--collection-item-location-display);
    align-items: var(--collection-item-location-align-items);
    justify-content: var(--collection-item-location-justify-content);
    flex-direction: var(--collection-item-location-flex-direction);
    gap: var(--collection-item-location-gap);
    position: var(--collection-item-location-position);
    bottom: var(--collection-item-location-bottom);
    left: var(--collection-item-location-left);
    padding: var(--collection-item-location-padding);
    background: var(--collection-item-location-gradient);
    width: var(--collection-item-location-width);
    border-radius: var(--collection-item-location-border-radius);
    transform: var(--collection-item-location-transform);
}

.collection-item__location-city {
    font-size: var(--collection-item-city-font-size);
    font-family: var(--collection-item-city-font-family);
    font-weight: var(--collection-item-city-font-weight);
    color: var(--collection-item-city-color);
    margin: var(--collection-item-city-margin);
}

.collection-item__location-country {
    font-size: var(--collection-item-country-font-size);
    font-family: var(--collection-item-country-font-family);
    font-weight: var(--collection-item-country-font-weight);
    color: var(--collection-item-country-color);
    margin: var(--collection-item-country-margin);
}

.collection-item__bottom {
    padding: var(--collection-item-bottom-padding);
}

.collection-item[item-type="product"][item-orientation="vertical"] .collection-item__bottom {
    position: var(--collection-item-bottom-position);
    bottom: var(--collection-item-bottom-bottom);
    left: var(--collection-item-bottom-left);
    width: var(--collection-item-bottom-width);
    background-color: var(--collection-item-bottom-background-color);
}

.collection-item__title {
    font-size: var(--collection-item-title-font-size);
    color: var(--collection-item-title-color);
    margin: var(--collection-item-title-margin);
    font-family: var(--collection-item-title-font-family);
    font-weight: var(--collection-item-title-font-weight);
}

.collection-item__subtitles {
    margin: var(--collection-item-subtitles-margin);
}

.collection-item__subtitle {
    font-family: var(--collection-item-subtitle-font-family);
    font-weight: var(--collection-item-subtitle-font-weight);
    font-size: var(--collection-item-subtitle-font-size);
    color: var(--collection-item-subtitle-color);
    font-style: var(--collection-item-subtitle-font-style);
}

.collection-item__subtitle + .collection-item__subtitle::before {
    content: var(--collection-item-subtitles-separator);
    margin: 0 var(--spacing-xs);
}

.collection-item__info {
    display: var(--collection-item-info-display);
    grid-template-columns: var(--collection-item-info-grid-template-columns);
    grid-gap: var(--collection-item-info-grid-gap);
    margin: var(--collection-item-info-margin);
}

.collection-item__info-icon {
    --icon-color: var(--collection-item-info-icon-color) !important;

    position: relative;
    top: var(--collection-item-info-icon-top);
}

.collection-item__info-text {
    margin: var(--collection-item-info-text-margin);
    color: var(--collection-item-info-text-color);
}

.collection-item__extension {
    background-color: var(--collection-item-extension-background-color);
    color: var(--collection-item-extension-color);
    width: var(--collection-item-extension-width);
    padding: var(--collection-item-extension-padding);
    font-size: var(--collection-item-extension-font-size);
    border-radius: var(--collection-item-extension-border-radius);
    margin: var(--collection-item-extension-margin);
}

.collection-item__abstract {
    color: var(--collection-item-abstract-color);
    /* stylelint-disable value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: var(--collection-item-abstract-number-of-line);
    -webkit-box-orient: vertical;
    /* stylelint-enable value-no-vendor-prefix */
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection-item__trip-info {
    margin: var(--collection-item-trip-info-margin);
    color: var(--collection-item-trip-info-color);
}

.collection-item__trip-price {
    color: var(--collection-item-trip-price-color);
}

.collection-item__trip-price-amount {
    font-weight: var(--collection-item-trip-price-amount-font-weight);
    font-size: var(--collection-item-trip-price-amount-font-size);
}

.collection-item__trip-price-suffix {
    font-size: var(--collection-item-trip-price-suffix-font-size);
}

.collection-item__button {
    text-decoration: var(--collection-item-button-text-decoration);
    color: var(--collection-item-button-text-color);
    display: var(--collection-item-button-display);
    align-items: var(--collection-item-button-align-items);
    justify-content: var(--collection-item-button-justify-content);
    width: var(--collection-item-button-width);
    gap: var(--collection-item-button-gap);
}

@media (hover: hover) {
    a.collection-item__button:hover {
        --collection-item-button-text-decoration: underline;

        color: var(--collection-item-button-text-color-hover)
    }

    .collection-item__button:hover .icon {
        --icon-color: var(--collection-item-button-text-color-hover);
    }
}

@media screen and (min-width: 640px) {
    .collection-item[item-orientation="horizontal"] {
        --collection-item-flex-direction: row;
        --collection-item-top-margin: var(--spacing-normal);
        --collection-item-figure-border-radius: var(--border-radius-normal);
        /* stylelint-disable-next-line max-line-length */
        --collection-item-location-border-radius: 0 0 var(--collection-item-figure-border-radius) var(--collection-item-figure-border-radius);
    }
}

@media screen and (min-width: 640px) and (max-width: 960px) {
    .collection-item[item-orientation="horizontal"][item-type="trip"] {
        --collection-item-location-transform: translateY(100%);
        --collection-item-location-gradient: none;
        --collection-item-location-padding: var(--spacing-normal);
        --collection-item-country-color: var(--color-font);
        --collection-item-city-color: var(--color-font);
    }
}
