@layer components {
    .contact-teaser {
        --contact-teaser-display: grid;
        --contact-teaser-grid-template-columns: 1fr;
        --contact-teaser-grid-gap: 0;
        --contact-teaser-background-color: var(--color-primary-o-10);
        --contact-teaser-border-radius: var(--border-radius-default);
        --contact-teaser-padding: var(--spacing-normal);

        --contact-teaser-figure-margin: 0 0 var(--spacing-normal);

        --contact-teaser-image-size: calc(var(--font-size-xxxl) * 2);
        --contact-teaser-image-height: var(--contact-teaser-image-size);
        --contact-teaser-image-width: var(--contact-teaser-image-size);
        --contact-teaser-image-object-fit: cover;

        --contact-teaser-name-font-size: var(--booking-sidebar-headline-font-size);

        --contact-teaser-contact-display: grid;
        --contact-teaser-contact-grid-template-columns: auto 1fr;
        --contact-teaser-contact-grid-gap: var(--spacing-s);
        --contact-teaser-contact-align-items: center;
        --contact-teaser-contact-justify-content: flex-start;
        --contact-teaser-contact-width: fit-content;
        --contact-teaser-contact-margin: 0 0 var(--spacing-s);

        display: var(--contact-teaser-display);
        grid-template-columns: var(--contact-teaser-grid-template-columns);
        grid-gap: var(--contact-teaser-grid-gap);
        background-color: var(--contact-teaser-background-color);
        border-radius: var(--contact-teaser-border-radius);
        padding: var(--contact-teaser-padding);
    }

    .contact-teaser__figure {
        margin: var(--contact-teaser-figure-margin);
    }

    .contact-teaser__image {
        height: var(--contact-teaser-image-height);
        width: var(--contact-teaser-image-width);
        object-fit: var(--contact-teaser-image-object-fit);
    }

    .contact-teaser__name {
        font-size: var(--contact-teaser-name-font-size);
    }

    .contact-teaser__contact {
        display: var(--contact-teaser-contact-display);
        grid-template-columns: var(--contact-teaser-contact-grid-template-columns);
        grid-gap: var(--contact-teaser-contact-grid-gap);
        align-items: var(--contact-teaser-contact-align-items);
        justify-content: var(--contact-teaser-contact-justify-content);
        width: var(--contact-teaser-contact-width);
        margin: var(--contact-teaser-contact-margin);
    }

    .contact-teaser__contact:last-child {
        --contact-teaser-contact-margin: 0;
    }

    @container (width > 420px) {
        .contact-teaser {
            --contact-teaser-grid-template-columns: auto 1fr;
            --contact-teaser-grid-gap: 0 var(--content-spacing-between-columns);
        }
    }
}
