.details-accordion {
    --details-accordion-display: block;
    --details-accordion-width: var(--content-width-with-padding);
    --details-accordion-max-width: var(--content-max-width);
    --details-accordion-margin: var(--spacing-between-elements-normal) auto 0;
    --details-accordion-z-index: var(--z-index-content);

    display: var(--details-accordion-display);
    width: var(--details-accordion-width);
    max-width: var(--details-accordion-max-width);
    margin: var(--details-accordion-margin);
    z-index: var(--details-accordion-z-index);
}

.details-accordion:last-child {
    --details-accordion-margin: 0 auto;
}

.grid-column .details-accordion {
    --details-accordion-width: 100%;
}
