.estimated-reading-time {
    --estimated-reading-time-font-family: var(--font-family-text);
    --estimated-reading-time-font-size: var(--font-size-normal);
    --estimated-reading-time-color: var(--color-font);
    --estimated-reading-time-display: inline-block;
    --estimated-reading-time-gap: .5ch;

    --estimated-reading-time-icon-position: relative;
    --estimated-reading-time-top: 2px;

    font-family: var(--estimated-reading-time-font-family);
    font-size: var(--estimated-reading-time-font-size);
    color: var(--estimated-reading-time-color);
    display: var(--estimated-reading-time-display);
}

.estimated-reading-time .icon {
    position: var(--estimated-reading-time-icon-position);
    top: var(--estimated-reading-time-top);
}
