.fav-item {
    position: absolute;
    bottom: 0;
    right: var(--spacing-normal);
    transform: translateY(50%);
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-bg);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--shadow-normal);
    display: block;
}

.fav-item::after {
    content: "";
    height: 60%;
    width: 60%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: var(--icon-heart-stroke);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--color-font);
}

.fav-item::part(pager) {
    display: none;
}

@media (hover: hover) {
    .fav-item:hover {
        background-color: var(--color-primary);
        cursor: pointer;
    }

    .fav-item:hover::after {
        background-color: var(--color-bg);
    }

    .collection-item[element-design="primary"] .fav-item:hover {
        background-color: var(--color-primary-light);
    }

    .collection-item[element-design="primary"] .fav-item:hover::after {
        background-color: var(--color-primary-dark);
    }

    .collection-item[element-design="secondary"] .fav-item:hover {
        background-color: var(--color-secondary-light);
    }

    .collection-item[element-design="secondary"] .fav-item:hover::after {
        background-color: var(--color-secondary-dark);
    }

    .collection-item[element-design="inverted"] .fav-item:hover {
        background-color: var(--color-font-light);
    }

    .collection-item[element-design="inverted"] .fav-item:hover::after {
        background-color: var(--color-font-dark);
    }
}
