.fav-item {
    --fav-item-bg-color: var(--color-bg);
    --fav-item-bg-color-hover: var(--color-primary);
    --fav-item-size: 2.5rem;
    --fav-item-icon-size: 1.5rem;
    --toujou-fav-item-icon-fill: var(--color-font);
    --toujou-fav-item-icon-fill-hover: var(--color-bg);

    position: absolute;
    height: var(--fav-item-size);
    width: var(--fav-item-size);
    bottom: 0;
    right: var(--spacing-normal);
    transform: translateY(50%);
    background-color: var(--fav-item-bg-color);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--shadow-normal);
    display: block;
    cursor: pointer;
}

.collection-item[element-design="primary"] .fav-item {
    --fav-item-bg-color-hover: var(--color-primary-light);
}

.collection-item[element-design="secondary"] .fav-item {
    --fav-item-bg-color-hover: var(--color-secondary-light);
}

.collection-item[element-design="inverted"] .fav-item {
    --fav-item-bg-color-hover: var(--color-font-light);
}

.fav-item::part(pager) {
    height: var(--fav-item-icon-size);
    width: var(--fav-item-icon-size);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

@media (hover: hover) {
    .fav-item:hover {
        --fav-item-bg-color: var(--fav-item-bg-color-hover);
        --toujou-fav-item-icon-fill: var(--toujou-fav-item-icon-fill-hover);
    }
}
