@layer components {
    .fragment-teaser {
        --fragment-teaser-display: grid;
        --fragment-teaser-grid-template-columns: 1fr;
        --fragment-teaser-grid-gap: var(--content-spacing-between-columns);
        --fragment-teaser-width: var(--content-width-with-padding);
        --fragment-teaser-max-width: var(--content-medium-max-width);
        --fragment-teaser-margin: 0 auto;

        --fragment-teaser-figure-border-radius: var(--border-radius-default);
        --fragment-teaser-figure-overflow: hidden;
        --fragment-teaser-figure-position: relative;
        --fragment-teaser-figure-height: auto;
        --fragment-teaser-figure-width: 100%;
        --fragment-teaser-figure-aspect-ratio: var(--aspect-ratio-default);

        --fragment-teaser-image-height: auto;
        --fragment-teaser-image-width: 100%;
        --fragment-teaser-image-aspect-ratio: var(--aspect-ratio-default);
        --fragment-teaser-image-object-fit: cover;

        --fragment-teaser-content-width: 100%;

        --fragment-teaser-block-width: 100%;
        --fragment-teaser-block-border-bottom: var(--border-width-normal) solid var(--border-color-default);
        --fragment-teaser-block-padding: var(--spacing-normal) 0;
        --fragment-teaser-block-display: grid;
        --fragment-teaser-block-grid-template-columns: 1fr;
        --fragment-teaser-block-gap: var(--spacing-s) var(--spacing-normal);

        --fragment-teaser-column-display: flex;
        --fragment-teaser-column-flex-direction: row;
        --fragment-teaser-column-align-items: flex-start;
        --fragment-teaser-column-justify-content: flex-start;
        --fragment-teaser-column-gap: var(--spacing-normal);

        --fragment-teaser-column-content-width: 100%;
        --fragment-teaser-column-content-display: grid;

        --fragment-teaser-info-font-family: var(--font-family-text);
        --fragment-teaser-info-font-size: var(--font-size-normal);
        --fragment-teaser-info-color: var(--color-font);
        --fragment-teaser-info-margin: 0;

        --fragment-teaser-link-display: block;

        --fragment-teaser-headline-margin: 0;

        --fragment-teaser-address-line-display: block;
        --fragment-teaser-address-line-font-weight: var(--font-weight-text-normal);

        --fragment-teaser-address-link-color: var(--color-primary);
        --fragment-teaser-address-link-color-hover: var(--color-primary-dark);
        --fragment-teaser-address-link-font-weight: var(--font-weight-text-bold);

        --fragment-teaser-ctas-display: flex;
        --fragment-teaser-ctas-flex-flow: row wrap;
        --fragment-teaser-ctas-gap: var(--spacing-s) var(--spacing-normal);

        display: var(--fragment-teaser-display);
        grid-template-columns: var(--fragment-teaser-grid-template-columns);
        gap: var(--fragment-teaser-grid-gap);
        width: var(--fragment-teaser-width);
        max-width: var(--fragment-teaser-max-width);
        margin: var(--fragment-teaser-margin);
    }

    .fragment-teaser__figure {
        border-radius: var(--fragment-teaser-figure-border-radius);
        overflow: var(--fragment-teaser-figure-overflow);
        position: var(--fragment-teaser-figure-position);
        height: var(--fragment-teaser-figure-height);
        width: var(--fragment-teaser-figure-width);
        aspect-ratio: var(--fragment-teaser-figure-aspect-ratio);
    }

    .fragment-teaser__image {
        height: var(--fragment-teaser-image-height);
        width: var(--fragment-teaser-image-width);
        aspect-ratio: var(--fragment-teaser-image-aspect-ratio);
        object-fit: var(--fragment-teaser-image-object-fit);
    }

    .fragment-teaser__content {
        width: var(--fragment-teaser-content-width);
    }

    .fragment-teaser__block {
        width: var(--fragment-teaser-block-width);
        padding: var(--fragment-teaser-block-padding);
        display: var(--fragment-teaser-block-display);
        gap: var(--fragment-teaser-block-gap);
        grid-template-columns: var(--fragment-teaser-block-grid-template-columns);
    }

    .fragment-teaser__block:not(:last-child) {
        border-bottom: var(--fragment-teaser-block-border-bottom);
    }

    .fragment-teaser__column {
        display: var(--fragment-teaser-column-display);
        flex-direction: var(--fragment-teaser-column-flex-direction);
        align-items: var(--fragment-teaser-column-align-items);
        justify-content: var(--fragment-teaser-column-justify-content);
        gap: var(--fragment-teaser-column-gap);
    }

    .fragment-teaser__column[align-items="bottom"] {
        --fragment-teaser-column-align-items: flex-end;
    }

    .fragment-teaser__column-content {
        width: var(--fragment-teaser-column-content-width);
        display: var(--fragment-teaser-column-content-display);
    }

    .fragment-teaser__column-content > *:first-child {
        margin-top: 0;
    }

    .fragment-teaser__info {
        font-family: var(--fragment-teaser-info-font-family);
        font-size: var(--fragment-teaser-info-font-size);
        color: var(--fragment-teaser-info-color);
        margin: var(--fragment-teaser-info-margin);
    }

    .fragment-teaser__link {
        display: var(--fragment-teaser-link-display);
    }

    .fragment-teaser__headline {
        margin: var(--fragment-teaser-headline-margin);
    }

    .fragment-teaser__address-line {
        display: var(--fragment-teaser-address-line-display);
        font-weight: var(--fragment-teaser-address-line-font-weight);
    }

    .fragment-teaser__address-link {
        color: var(--fragment-teaser-address-link-color);
        font-weight: var(--fragment-teaser-address-link-font-weight);
    }

    .fragment-teaser__address-link:is(:hover, :focus-visible) {
        color: var(--fragment-teaser-address-link-color-hover);
    }

    .fragment-teaser__ctas {
        display: var(--fragment-teaser-ctas-display);
        flex-flow: var(--fragment-teaser-ctas-flex-flow);
        gap: var(--fragment-teaser-ctas-gap);
    }

    @media screen and (min-width: 480px) {
        .fragment-teaser__block[number-of-columns="2"] {
            --fragment-teaser-block-grid-template-columns: 1fr 1fr;
        }

        .fragment-teaser__block[number-of-columns="2"][expand-first] {
            --fragment-teaser-block-grid-template-columns: 1fr auto;
        }

        .fragment-teaser__block[number-of-columns="3"] {
            --fragment-teaser-block-grid-template-columns: 1fr 1fr 1fr;
        }

        .fragment-teaser__block[number-of-columns="3"][expand-first] {
            --fragment-teaser-block-grid-template-columns: 1fr auto auto;
        }

        .fragment-teaser__column-content[number-of-columns="3"] {
            --fragment-teaser-column-content-grid-template-columns: 1fr 1fr 1fr;

            grid-template-columns: var(--fragment-teaser-column-content-grid-template-columns);
        }
    }

    @media screen and (min-width: 840px) {
        .fragment-teaser {
            --fragment-teaser-grid-template-columns: 1fr 1fr;
        }

        .fragment-teaser[single-column] {
            --fragment-teaser-grid-template-columns: 1fr;
            --fragment-teaser-max-width: var(--content-max-width);
        }
    }
}
