@layer components {
    .hero-media {
        --hero-media-width: 100%;
        --hero-media-max-width: 100%;
        --hero-media-aspect-ratio: auto;
        --hero-media-display: block;
        --hero-media-position: relative;
        --hero-media-padding: 0;
        --hero-media-margin: var(--spacing-between-consecutive-elements-normal) auto;
        --hero-media-z-index: var(--z-index-content);
        --hero-media-border-radius: var(--border-radius-default);
        --hero-media-height: fit-content;
        --hero-media-min-height: 33vw;
        --hero-content-justify-content: center;
        --hero-media-text-decoration: none;

        --hero-media-media-object-fit: cover;
        --hero-media-media-width: 100%;
        --hero-media-media-height: 100%;
        --hero-media-media-position: absolute;
        --hero-media-media-inset: 0;

        --hero-media-content-display: flex;
        --hero-media-content-align-items: center;
        --hero-media-content-justify-content: var(--hero-content-justify-content);
        --hero-media-content-position: relative;
        --hero-media-content-height: fit-content;
        --hero-media-content-min-height: var(--hero-media-min-height);
        --hero-media-content-width: 100%;
        --hero-media-content-padding: var(--spacing-normal);

        --hero-media-title-margin: 0;
        --hero-media-title-color: var(--color-bg);

        aspect-ratio: var(--hero-media-aspect-ratio);
        display: var(--hero-media-display);
        position: var(--hero-media-position);
        padding: var(--hero-media-padding);
        margin: var(--hero-media-margin);
        width: var(--hero-media-width);
        max-width: var(--hero-media-max-width);
        z-index: var(--hero-media-z-index);
        height: var(--hero-media-height);
        min-height: var(--hero-media-min-height);
        text-decoration: var(--hero-media-text-decoration);
    }

    :is(main, .chapter) > .hero-media {
        width: var(--hero-media-width) !important;
        max-width: var(--content-wide-max-width) !important;
        border-radius: var(--hero-media-border-radius);
        overflow: hidden;
    }

    .hero-media:first-child {
        --hero-media-margin: 0;
    }

    .hero-media[headline-alignment="left"] {
        --hero-content-justify-content: flex-start;
    }

    .hero-media[headline-alignment="right"] {
        --hero-content-justify-content: flex-end;
    }

    .hero-media__content {
        display: var(--hero-media-content-display);
        align-items: var(--hero-media-content-align-items);
        justify-content: var(--hero-media-content-justify-content);
        position: var(--hero-media-content-position);
        height: var(--hero-media-content-height);
        min-height: var(--hero-media-content-min-height);
        width: var(--hero-media-content-width);
        padding: var(--hero-media-content-padding);
    }

    .hero-media__media,
    .hero-media__figure {
        aspect-ratio: var(--hero-media-aspect-ratio);
        object-fit: var(--hero-media-media-object-fit);
        width: var(--hero-media-media-width);
        height: var(--hero-media-media-height);
        position: var(--hero-media-media-position);
        inset: var(--hero-media-media-inset);
    }

    .hero-media__title {
        margin: var(--hero-media-title-margin);
        color: var(--hero-media-title-color);
    }

    a.hero-media:focus-visible {
        --hero-media-title-color: var(--color-primary);
    }

    .hero-media .video,
    .hero-media .single-media__video[video-extension="youtube"],
    .hero-media .single-media__video[video-extension="vimeo"] {
        height: 100%;
        width: 100%;
    }

    @media (hover: hover) {
        a.hero-media:hover {
            --hero-media-title-color: var(--color-primary);
        }
    }

    @container (min-width: 840px) {
        .hero-media {
            --hero-media-content-padding: var(--spacing-l);
        }
    }
}
