.hero-media {
    --hero-media-width: 100%;
    --hero-media-aspect-ratio: var(--aspect-ratio-3-1);
    --hero-media-display: block;
    --hero-media-position: relative;
    --hero-media-padding: 0;
    --hero-media-margin: 0;

    --hero-media-media-object-fit: cover;
    --hero-media-media-width: 100%;
    --hero-media-media-height: auto;

    --hero-media-title-position: absolute;
    --hero-media-title-top: 50%;
    --hero-media-title-left: 50%;
    --hero-media-title-right: unset;
    --hero-media-transform: translate(-50%, -50%);
    --hero-media-title-margin: 0;
    --hero-media-title-color: var(--color-bg);

    aspect-ratio: var(--hero-media-aspect-ratio);
    display: var(--hero-media-display);
    position: var(--hero-media-position);
    padding: var(--hero-media-padding);
    margin: var(--hero-media-margin);
    width: var(--hero-media-width);
}

.hero-media[headline-alignment="left"] {
    --hero-media-title-left: var(--spacing-normal);
    --hero-media-transform: translateY(-50%);
}

.hero-media[headline-alignment="right"] {
    --hero-media-title-left: unset;
    --hero-media-title-right: var(--spacing-normal);
    --hero-media-transform: translateY(-50%);
}

.hero-media__media {
    aspect-ratio: var(--hero-media-aspect-ratio);
    object-fit: var(--hero-media-media-object-fit);
    width: var(--hero-media-media-width);
    height: var(--hero-media-media-height);
}

.hero-media__title {
    position: var(--hero-media-title-position);
    top: var(--hero-media-title-top);
    left: var(--hero-media-title-left);
    right: var(--hero-media-title-right);
    transform: var(--hero-media-transform);
    margin: var(--hero-media-title-margin);
    color: var(--hero-media-title-color);
}

a.hero-media:focus {
    --hero-media-title-color: var(--color-primary);
}

@media (hover: hover) {
    a.hero-media:hover {
        --hero-media-title-color: var(--color-primary);
    }
}