/* stylelint-disable property-no-vendor-prefix */
.icon {
    --icon-size: var(--icon-size-normal);
    --icon-color: currentColor;
    --icon-flex-shrink: 0;

    display: inline-block;
    flex-shrink: var(--icon-flex-shrink);
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: var(--icon-color);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

/* ICON COLORS */
.icon[icon-color="font"] {
    --icon-color: var(--color-font);
}

.icon[icon-color="font-dark"] {
    --icon-color: var(--color-font-dark);
}

.icon[icon-color="font-light"] {
    --icon-color: var(--color-font-light);
}

.icon[icon-color="primary"] {
    --icon-color: var(--color-primary);
}

.icon[icon-color="primary-light"] {
    --icon-color: var(--color-primary-light);
}

.icon[icon-color="primary-dark"] {
    --icon-color: var(--color-primary-dark);
}

.icon[icon-color="secondary"] {
    --icon-color: var(--color-secondary);
}

.icon[icon-color="secondary-light"] {
    --icon-color: var(--color-secondary-light);
}

.icon[icon-color="secondary-dark"] {
    --icon-color: var(--color-secondary-dark);
}

.icon[icon-color="background"] {
    --icon-color: var(--color-bg);
}

.icon[icon-color="success"] {
    --icon-color: var(--color-success);
}

.icon[icon-color="warning"] {
    --icon-color: var(--color-warning);
}

.icon[icon-color="error"] {
    --icon-color: var(--color-error);
}

/* ICON SIZES */
.icon[icon-size="xxxl"] {
    --icon-size: var(--font-size-xxxl);
}

.icon[icon-size="xxl"] {
    --icon-size: var(--font-size-xxl);
}

.icon[icon-size="xl"] {
    --icon-size: var(--font-size-xl);
}

.icon[icon-size="l"] {
    --icon-size: var(--font-size-l);
}

.icon[icon-size="m"] {
    --icon-size: var(--font-size-m);
}

.icon[icon-size="ms"] {
    --icon-size: var(--font-size-ms);
}

.icon[icon-size="normal"] {
    --icon-size: var(--font-size-normal);
}

.icon[icon-size="s"] {
    --icon-size: var(--font-size-s);
}

.icon[icon-size="xs"] {
    --icon-size: var(--font-size-xs);
}

.icon[icon-size="xxs"] {
    --icon-size: var(--font-size-xxs);
}

/* ICON IMAGES */
.icon[icon-name="accessibility"] {
    mask-image: var(--icon-accessiblity);
    -webkit-mask-image: var(--icon-accessiblity);
}

.icon[icon-name="account"] {
    mask-image: var(--icon-account);
    -webkit-mask-image: var(--icon-account);
}

.icon[icon-name="alarm"] {
    mask-image: var(--icon-alarm);
    -webkit-mask-image: var(--icon-alarm);
}

.icon[icon-name="arrow-down"] {
    mask-image: var(--icon-arrow-down);
    -webkit-mask-image: var(--icon-arrow-down);
}

.icon[icon-name="arrow-drop-down"] {
    mask-image: var(--icon-arrow-drop-down);
    -webkit-mask-image: var(--icon-arrow-drop-down);
}

.icon[icon-name="arrow-left"] {
    mask-image: var(--icon-arrow-left);
    -webkit-mask-image: var(--icon-arrow-left);
}

.icon[icon-name="arrow-right"] {
    mask-image: var(--icon-arrow-right);
    -webkit-mask-image: var(--icon-arrow-right);
}

.icon[icon-name="arrow-up"] {
    mask-image: var(--icon-arrow-up);
    -webkit-mask-image: var(--icon-arrow-up);
}

.icon[icon-name="article"] {
    mask-image: var(--icon-article);
    -webkit-mask-image: var(--icon-article);
}

.icon[icon-name="audiotrack"] {
    mask-image: var(--icon-audiotrack);
    -webkit-mask-image: var(--icon-audiotrack);
}

.icon[icon-name="audiotrack-circle-filled"] {
    mask-image: var(--icon-audiotrack-circle-filled);
    -webkit-mask-image: var(--icon-audiotrack-circle-filled);
}

.icon[icon-name="bell"] {
    mask-image: var(--icon-bell);
    -webkit-mask-image: var(--icon-bell);
}

.icon[icon-name="blockquote-round"] {
    mask-image: var(--icon-blockquote-round);
    -webkit-mask-image: var(--icon-blockquote-round);
}

.icon[icon-name="bookmark"] {
    mask-image: var(--icon-bookmark);
    -webkit-mask-image: var(--icon-bookmark);
}

.icon[icon-name="bookmark-filled"] {
    mask-image: var(--icon-bookmark-filled);
    -webkit-mask-image: var(--icon-bookmark-filled);
}

.icon[icon-name="calendar-check"] {
    mask-image: var(--icon-calendar-check);
    -webkit-mask-image: var(--icon-calendar-check);
}

.icon[icon-name="calendar-day"] {
    mask-image: var(--icon-calendar-day);
    -webkit-mask-image: var(--icon-calendar-day);
}

.icon[icon-name="calendar-empty"] {
    mask-image: var(--icon-calendar-empty);
    -webkit-mask-image: var(--icon-calendar-empty);
}

.icon[icon-name="calendar-lines"] {
    mask-image: var(--icon-calendar-lines);
    -webkit-mask-image: var(--icon-calendar-lines);
}

.icon[icon-name="campaign"] {
    mask-image: var(--icon-campaign);
    -webkit-mask-image: var(--icon-campaign);
}

.icon[icon-name="cancel-circle-filled"] {
    mask-image: var(--icon-cancel-circle-filled);
    -webkit-mask-image: var(--icon-cancel-circle-filled);
}

.icon[icon-name="chart"] {
    mask-image: var(--icon-chart);
    -webkit-mask-image: var(--icon-chart);
}

.icon[icon-name="check"] {
    mask-image: var(--icon-check);
    -webkit-mask-image: var(--icon-check);
}

.icon[icon-name="check-circle"] {
    mask-image: var(--icon-check-circle);
    -webkit-mask-image: var(--icon-check-circle);
}

.icon[icon-name="chevron-down"] {
    mask-image: var(--icon-chevron-down);
    -webkit-mask-image: var(--icon-chevron-down);
}

.icon[icon-name="chevron-filled-down"] {
    mask-image: var(--icon-chevron-filled-down);
    -webkit-mask-image: var(--icon-chevron-filled-down);
}

.icon[icon-name="chevron-filled-left"] {
    mask-image: var(--icon-chevron-filled-left);
    -webkit-mask-image: var(--icon-chevron-filled-left);
}

.icon[icon-name="chevron-filled-right"] {
    mask-image: var(--icon-chevron-filled-right);
    -webkit-mask-image: var(--icon-chevron-filled-right);
}

.icon[icon-name="chevron-filled-up"] {
    mask-image: var(--icon-chevron-filled-up);
    -webkit-mask-image: var(--icon-chevron-filled-up);
}

.icon[icon-name="chevron-left"] {
    mask-image: var(--icon-chevron-left);
    -webkit-mask-image: var(--icon-chevron-left);
}

.icon[icon-name="chevron-right"] {
    mask-image: var(--icon-chevron-right);
    -webkit-mask-image: var(--icon-chevron-right);
}

.icon[icon-name="chevron-up"] {
    mask-image: var(--icon-chevron-up);
    -webkit-mask-image: var(--icon-chevron-up);
}

.icon[icon-name="clock-circle"] {
    mask-image: var(--icon-clock-circle);
    -webkit-mask-image: var(--icon-clock-circle);
}

.icon[icon-name="clock-circle-filled"] {
    mask-image: var(--icon-clock-circle-filled);
    -webkit-mask-image: var(--icon-clock-circle-filled);
}

.icon[icon-name="close"] {
    mask-image: var(--icon-close);
    -webkit-mask-image: var(--icon-close);
}

.icon[icon-name="cloud"] {
    mask-image: var(--icon-cloud);
    -webkit-mask-image: var(--icon-cloud);
}

.icon[icon-name="coffee"] {
    mask-image: var(--icon-coffee);
    -webkit-mask-image: var(--icon-coffee);
}

.icon[icon-name="company"] {
    mask-image: var(--icon-company);
    -webkit-mask-image: var(--icon-company);
}

.icon[icon-name="coronavirus"] {
    mask-image: var(--icon-coronavirus);
    -webkit-mask-image: var(--icon-coronavirus);
}

.icon[icon-name="dashboard"] {
    mask-image: var(--icon-dashboard);
    -webkit-mask-image: var(--icon-dashboard);
}

.icon[icon-name="drink"] {
    mask-image: var(--icon-drink);
    -webkit-mask-image: var(--icon-drink);
}

.icon[icon-name="email"] {
    mask-image: var(--icon-email);
    -webkit-mask-image: var(--icon-email);
}

.icon[icon-name="equalizer"] {
    mask-image: var(--icon-equalizer);
    -webkit-mask-image: var(--icon-equalizer);
}

.icon[icon-name="equalizer-circle-filled"] {
    mask-image: var(--icon-equalizer-circle-filled);
    -webkit-mask-image: var(--icon-equalizer-circle-filled);
}

.icon[icon-name="euro"] {
    mask-image: var(--icon-euro);
    -webkit-mask-image: var(--icon-euro);
}

.icon[icon-name="fax"] {
    mask-image: var(--icon-fax);
    -webkit-mask-image: var(--icon-fax);
}

.icon[icon-name="file-download"] {
    mask-image: var(--icon-file-download);
    -webkit-mask-image: var(--icon-file-download);
}

.icon[icon-name="flag"] {
    mask-image: var(--icon-flag);
    -webkit-mask-image: var(--icon-flag);
}

.icon[icon-name="flower"] {
    mask-image: var(--icon-flower);
    -webkit-mask-image: var(--icon-flower);
}

.icon[icon-name="folder"] {
    mask-image: var(--icon-folder);
    -webkit-mask-image: var(--icon-folder);
}

.icon[icon-name="food"] {
    mask-image: var(--icon-food);
    -webkit-mask-image: var(--icon-food);
}

.icon[icon-name="forward"] {
    mask-image: var(--icon-forward);
    -webkit-mask-image: var(--icon-forward);
}

.icon[icon-name="forward-circle-filled"] {
    mask-image: var(--icon-forward-circle-filled);
    -webkit-mask-image: var(--icon-forward-circle-filled);
}

.icon[icon-name="globe"] {
    mask-image: var(--icon-globe);
    -webkit-mask-image: var(--icon-globe);
}

.icon[icon-name="grid"] {
    mask-image: var(--icon-grid);
    -webkit-mask-image: var(--icon-grid);
}

.icon[icon-name="heart"] {
    mask-image: var(--icon-heart);
    -webkit-mask-image: var(--icon-heart);
}

.icon[icon-name="heart-stroke"] {
    mask-image: var(--icon-heart-stroke);
    -webkit-mask-image: var(--icon-heart-stroke);
}

.icon[icon-name="home"] {
    mask-image: var(--icon-home);
    -webkit-mask-image: var(--icon-home);
}

.icon[icon-name="home-smooth"] {
    mask-image: var(--icon-home-smooth);
    -webkit-mask-image: var(--icon-home-smooth);
}

.icon[icon-name="hotel"] {
    mask-image: var(--icon-hotel);
    -webkit-mask-image: var(--icon-hotel);
}

.icon[icon-name="image"] {
    mask-image: var(--icon-image);
    -webkit-mask-image: var(--icon-image);
}

.icon[icon-name="image-circle-filled"] {
    mask-image: var(--icon-image-circle-filled);
    -webkit-mask-image: var(--icon-image-circle-filled);
}

.icon[icon-name="image-collection"] {
    mask-image: var(--icon-image-collection);
    -webkit-mask-image: var(--icon-image-collection);
}

.icon[icon-name="image-collection-circle-filled"] {
    mask-image: var(--icon-image-collection-circle-filled);
    -webkit-mask-image: var(--icon-image-collection-circle-filled);
}

.icon[icon-name="info"] {
    mask-image: var(--icon-info);
    -webkit-mask-image: var(--icon-info);
}

.icon[icon-name="link"] {
    mask-image: var(--icon-link);
    -webkit-mask-image: var(--icon-link);
}

.icon[icon-name="list"] {
    mask-image: var(--icon-list);
    -webkit-mask-image: var(--icon-list);
}

.icon[icon-name="location"] {
    mask-image: var(--icon-location);
    -webkit-mask-image: var(--icon-location);
}

.icon[icon-name="map"] {
    mask-image: var(--icon-map);
    -webkit-mask-image: var(--icon-map);
}

.icon[icon-name="message-bubble"] {
    mask-image: var(--icon-message-bubble);
    -webkit-mask-image: var(--icon-message-bubble);
}

.icon[icon-name="monument"] {
    mask-image: var(--icon-monument);
    -webkit-mask-image: var(--icon-monument);
}

.icon[icon-name="new"] {
    mask-image: var(--icon-new);
    -webkit-mask-image: var(--icon-new);
}

.icon[icon-name="pause"] {
    mask-image: var(--icon-pause);
    -webkit-mask-image: var(--icon-pause);
}

.icon[icon-name="pause-circle-filled"] {
    mask-image: var(--icon-pause-circle-filled);
    -webkit-mask-image: var(--icon-pause-circle-filled);
}

.icon[icon-name="pending-circle-filled"] {
    mask-image: var(--icon-pending-circle-filled);
    -webkit-mask-image: var(--icon-pending-circle-filled);
}

.icon[icon-name="play"] {
    mask-image: var(--icon-play);
    -webkit-mask-image: var(--icon-play);
}

.icon[icon-name="play-circle-filled"] {
    mask-image: var(--icon-play-circle-filled);
    -webkit-mask-image: var(--icon-play-circle-filled);
}

.icon[icon-name="play-circle"] {
    mask-image: var(--icon-play-circle);
    -webkit-mask-image: var(--icon-play-circle);
}

.icon[icon-name="prize"] {
    mask-image: var(--icon-prize);
    -webkit-mask-image: var(--icon-prize);
}

.icon[icon-name="plus-circle"] {
    mask-image: var(--icon-plus-circle);
    -webkit-mask-image: var(--icon-plus-circle);
}

.icon[icon-name="question"] {
    mask-image: var(--icon-question);
    -webkit-mask-image: var(--icon-question);
}

.icon[icon-name="rewind"] {
    mask-image: var(--icon-rewind);
    -webkit-mask-image: var(--icon-rewind);
}

.icon[icon-name="rewind-circle-filled"] {
    mask-image: var(--icon-rewind-circle-filled);
    -webkit-mask-image: var(--icon-rewind-circle-filled);
}

.icon[icon-name="school"] {
    mask-image: var(--icon-school);
    -webkit-mask-image: var(--icon-school);
}

.icon[icon-name="science"] {
    mask-image: var(--icon-science);
    -webkit-mask-image: var(--icon-science);
}

.icon[icon-name="search"] {
    mask-image: var(--icon-search);
    -webkit-mask-image: var(--icon-search);
}

.icon[icon-name="settings"] {
    mask-image: var(--icon-settings);
    -webkit-mask-image: var(--icon-settings);
}

.icon[icon-name="shopping-bag"] {
    mask-image: var(--icon-shopping-bag);
    -webkit-mask-image: var(--icon-shopping-bag);
}

.icon[icon-name="shopping-cart"] {
    mask-image: var(--icon-shopping-cart);
    -webkit-mask-image: var(--icon-shopping-cart);
}

.icon[icon-name="skip-back"] {
    mask-image: var(--icon-skip-back);
    -webkit-mask-image: var(--icon-skip-back);
}

.icon[icon-name="skip-back-circle-filled"] {
    mask-image: var(--icon-skip-back-circle-filled);
    -webkit-mask-image: var(--icon-skip-back-circle-filled);
}

.icon[icon-name="skip-next"] {
    mask-image: var(--icon-skip-next);
    -webkit-mask-image: var(--icon-skip-next);
}

.icon[icon-name="skip-next-circle-filled"] {
    mask-image: var(--icon-skip-next-circle-filled);
    -webkit-mask-image: var(--icon-skip-next-circle-filled);
}

.icon[icon-name="sm-facebook"] {
    mask-image: var(--icon-sm-facebook);
    -webkit-mask-image: var(--icon-sm-facebook);
}

.icon[icon-name="sm-facebook-circle"] {
    mask-image: var(--icon-sm-facebook-circle);
    -webkit-mask-image: var(--icon-sm-facebook-circle);
}

.icon[icon-name="sm-instagram"] {
    mask-image: var(--icon-sm-instagram);
    -webkit-mask-image: var(--icon-sm-instagram);
}

.icon[icon-name="sm-instagram-circle"] {
    mask-image: var(--icon-sm-instagram-circle);
    -webkit-mask-image: var(--icon-sm-instagram-circle);
}

.icon[icon-name="sm-linkedin"] {
    mask-image: var(--icon-sm-linkedin);
    -webkit-mask-image: var(--icon-sm-linkedin);
}

.icon[icon-name="sm-linkedin-circle"] {
    mask-image: var(--icon-sm-linkedin-circle);
    -webkit-mask-image: var(--icon-sm-linkedin-circle);
}

.icon[icon-name="sm-pinterest"] {
    mask-image: var(--icon-sm-pinterest);
    -webkit-mask-image: var(--icon-sm-pinterest);
}

.icon[icon-name="sm-pinterest-circle"] {
    mask-image: var(--icon-sm-pinterest-circle);
    -webkit-mask-image: var(--icon-sm-pinterest-circle);
}

.icon[icon-name="sm-twitter"] {
    mask-image: var(--icon-sm-twitter);
    -webkit-mask-image: var(--icon-sm-twitter);
}

.icon[icon-name="sm-twitter-circle"] {
    mask-image: var(--icon-sm-twitter-circle);
    -webkit-mask-image: var(--icon-sm-twitter-circle);
}

.icon[icon-name="sm-tiktok"] {
    mask-image: var(--icon-sm-tiktok);
    -webkit-mask-image: var(--icon-sm-tiktok);
}

.icon[icon-name="sm-tiktok-circle"] {
    mask-image: var(--icon-sm-tiktok-circle);
    -webkit-mask-image: var(--icon-sm-tiktok-circle);
}

.icon[icon-name="sm-xing"] {
    mask-image: var(--icon-sm-xing);
    -webkit-mask-image: var(--icon-sm-xing);
}

.icon[icon-name="sm-xing-circle"] {
    mask-image: var(--icon-sm-xing-circle);
    -webkit-mask-image: var(--icon-sm-xing-circle);
}

.icon[icon-name="sm-youtube"] {
    mask-image: var(--icon-sm-youtube);
    -webkit-mask-image: var(--icon-sm-youtube);
}

.icon[icon-name="sm-youtube-circle"] {
    mask-image: var(--icon-sm-youtube-circle);
    -webkit-mask-image: var(--icon-sm-youtube-circle);
}

.icon[icon-name="sports"] {
    mask-image: var(--icon-sports);
    -webkit-mask-image: var(--icon-sports);
}

.icon[icon-name="star"] {
    mask-image: var(--icon-star);
    -webkit-mask-image: var(--icon-star);
}

.icon[icon-name="stop"] {
    mask-image: var(--icon-stop);
    -webkit-mask-image: var(--icon-stop);
}

.icon[icon-name="stop-circle-filled"] {
    mask-image: var(--icon-stop-circle-filled);
    -webkit-mask-image: var(--icon-stop-circle-filled);
}

.icon[icon-name="support"] {
    mask-image: var(--icon-support);
    -webkit-mask-image: var(--icon-support);
}

.icon[icon-name="tag"] {
    mask-image: var(--icon-tag);
    -webkit-mask-image: var(--icon-tag);
}

.icon[icon-name="tag-filled"] {
    mask-image: var(--icon-tag-filled);
    -webkit-mask-image: var(--icon-tag-filled);
}

.icon[icon-name="target"] {
    mask-image: var(--icon-target);
    -webkit-mask-image: var(--icon-target);
}

.icon[icon-name="telephone"] {
    mask-image: var(--icon-telephone);
    -webkit-mask-image: var(--icon-telephone);
}

.icon[icon-name="thumb-up"] {
    mask-image: var(--icon-thumb-up);
    -webkit-mask-image: var(--icon-thumb-up);
}

.icon[icon-name="tools"] {
    mask-image: var(--icon-tools);
    -webkit-mask-image: var(--icon-tools);
}

.icon[icon-name="tune"] {
    mask-image: var(--icon-tune);
    -webkit-mask-image: var(--icon-tune);
}

.icon[icon-name="tune-circle-filled"] {
    mask-image: var(--icon-tune-circle-filled);
    -webkit-mask-image: var(--icon-tune-circle-filled);
}

.icon[icon-name="videocam"] {
    mask-image: var(--icon-videocam);
    -webkit-mask-image: var(--icon-videocam);
}

.icon[icon-name="videocam-circle-filled"] {
    mask-image: var(--icon-videocam-circle-filled);
    -webkit-mask-image: var(--icon-videocam-circle-filled);
}

.icon[icon-name="volume-down"] {
    mask-image: var(--icon-volume-down);
    -webkit-mask-image: var(--icon-volume-down);
}

.icon[icon-name="volume-down-circle-filled"] {
    mask-image: var(--icon-volume-down-circle-filled);
    -webkit-mask-image: var(--icon-volume-down-circle-filled);
}

.icon[icon-name="volume-mute"] {
    mask-image: var(--icon-volume-mute);
    -webkit-mask-image: var(--icon-volume-mute);
}

.icon[icon-name="volume-mute-circle-filled"] {
    mask-image: var(--icon-volume-mute-circle-filled);
    -webkit-mask-image: var(--icon-volume-mute-circle-filled);
}

.icon[icon-name="volume-off"] {
    mask-image: var(--icon-volume-off);
    -webkit-mask-image: var(--icon-volume-off);
}

.icon[icon-name="volume-off-circle-filled"] {
    mask-image: var(--icon-volume-off-circle-filled);
    -webkit-mask-image: var(--icon-volume-off-circle-filled);
}

.icon[icon-name="volume-up"] {
    mask-image: var(--icon-volume-up);
    -webkit-mask-image: var(--icon-volume-up);
}

.icon[icon-name="volume-up-circle-filled"] {
    mask-image: var(--icon-volume-up-circle-filled);
    -webkit-mask-image: var(--icon-volume-up-circle-filled);
}

.icon[icon-name="warning"] {
    mask-image: var(--icon-warning);
    -webkit-mask-image: var(--icon-warning);
}
/* stylelint-enable property-no-vendor-prefix */
