.indexedsearch-header {
    --indexedsearch-header-width: 100%;
    --indexedsearch-header-display: flex;
    --indexedsearch-header-flex-direction: colunm;
    --indexedsearch-header-gap: 0;

    --indexedsearch-header-headline-margin: 0;
    --indexedsearch-header-headline-color: var(--color-font);
    --indexedsearch-header-headline-font-size: var(--font-size-m);
    --indexedsearch-header-headline-font-weight: var(--font-weight-text-bold);

    --indexedsearch-header-headline-word-color: var(--color-primary);

    --indexedsearch-header-amount-margin: 0;

    --indexedsearch-header-amount-count-font-weight: var(--font-weight-text-bold);

    width: var(--indexedsearch-header-width);
    display: flex;
    flex-direction: column;
    gap: var(--indexedsearch-header-gap);
}

.indexedsearch-header__headline {
    margin: var(--indexedsearch-header-headline-margin);
    color: var(--indexedsearch-header-headline-color);
    font-size: var(--indexedsearch-header-headline-font-size);
    font-weight: var(--indexedsearch-header-headline-font-weight);
}

.indexedsearch-header__headline-word {
    color: var(--indexedsearch-header-headline-word-color);
}

.indexedsearch-header__amount {
    margin: var(--indexedsearch-header-amount-margin);
}

.indexedsearch-header__amount-count {
    font-weight: var(--indexedsearch-header-amount-count-font-weight);
}
