@layer components {
    .inpage-nav {
        --inpage-nav-height-closed: 3rem;
        --inpage-nav-height: var(--inpage-nav-height-closed);
        --inpage-nav-position: relative;
        --inpage-nav-display: grid;
        --inpage-nav-width: var(--content-width-with-padding);
        --inpage-nav-grid-template-columns: auto 1fr auto;
        --inpage-nav-grid-template-rows: var(--inpage-nav-height-closed);
        --inpage-nav-grid-template-areas: "label nav cta";
        --inpage-nav-max-width: var(--content-max-width);
        --inpage-nav-margin: var(--spacing-l) auto;
        --inpage-nav-padding: 0 var(--spacing-s);
        --inpage-nav-border-color: var(--color-font);
        --inpage-nav-border-bottom: var(--border-width-normal) solid var(--inpage-nav-border-color);
        --inpage-nav-bg-color: var(--color-bg);
        --inpage-nav-z-index: var(--z-index-inpage-nav);
        --inpage-nav-opacity: 1;
        --inpage-nav-transition: opacity var(--animation-duration-normal) var(--animation-easing-normal);
        --inpage-nav-border-radius: var(--border-radius-0);

        /* toggle */
        --inpage-nav-toggle-display: none;
        --inpage-nav-toggle-align-items: center;
        --inpage-nav-toggle-justify-content: center;
        --inpage-nav-toggle-border: none;
        --inpage-nav-toggle-background-color: transparent;
        --inpage-nav-toggle-grid-area: toggle;
        --inpage-nav-toggle-transform: rotate(0);
        --inpage-nav-toggle-transition: transform var(--animation-duration-fast) var(--animation-easing-normal);
        --inpage-nav-toggle-icon-color: var(--color-primary);

        /* label */
        --inpage-nav-label-width: fit-content;
        --inpage-nav-label-grid-area: label;
        --inpage-nav-label-font-family: var(--font-family-text);
        --inpage-nav-label-font-weight: var(--font-weight-text-normal);
        --inpage-nav-label-font-size: var(--font-size-normal);
        --inpage-nav-label-color: var(--color-font);
        --inpage-nav-label-display: flex;
        --inpage-nav-label-align-items: center;
        --inpage-nav-label-justify-self: flex-start;

        --inpage-nav-label-before-size: var(--spacing-normal);
        --inpage-nav-label-before-bg-color: var(--color-font);
        --inpage-nav-label-before-margin-right: var(--spacing-s);
        --inpage-nav-label-before-margin-left: var(--spacing-s);
        --inpage-nav-label-before-display: inline-block;
        --inpage-nav-label-before-icon: var(--icon-link);
        --inpage-nav-label-before-transform: rotate(-45deg);

        /* cta */
        --inpage-nav-cta-grid-area: cta;
        --inpage-nav-cta-margin: var(--spacing-s) 0;
        --inpage-nav-cta-bg-color: var(--color-primary);
        --inpage-nav-cta-bg-color-hover: var(--color-primary-dark);
        --inpage-nav-cta-border: none;
        --inpage-nav-cta-color: var(--color-bg);
        --inpage-nav-cta-color-hover: var(--color-bg);

        /* nav */
        --inpage-nav-nav-grid-area: nav;

        /* list */
        --inpage-nav-list-list-style: none;
        --inpage-nav-list-margin: 0 0 0 var(--spacing-m);
        --inpage-nav-list-padding: 0;
        --inpage-nav-list-display: flex;
        --inpage-nav-list-align-items: center;
        --inpage-nav-list-justify-content: flex-start;
        --inpage-nav-list-flex-direction: row;
        --inpage-nav-list-gap: 0;
        --inpage-nav-list-visibility: visible;
        --inpage-nav-list-height: 100%;

        /* item */
        --inpage-nav-item-width: fit-content;
        --inpage-nav-item-height: 100%;
        --inpage-nav-item-display: flex;
        --inpage-nav-item-align-items: center;

        /* link */
        --inpage-nav-link-position: relative;
        --inpage-nav-link-text-decoration: none;
        --inpage-nav-link-font-weight: var(--font-weight-text-bold);
        --inpage-nav-link-padding: 0 var(--spacing-normal);
        --inpage-nav-link-color: var(--color-primary);
        --inpage-nav-link-color-hover: var(--inpage-nav-link-color);
        --inpage-nav-link-height: 100%;
        --inpage-nav-link-display: flex;
        --inpage-nav-link-align-items: center;
        --inpage-nav-link-bg-color: transparent;

        --inpage-nav-link-after-height: var(--spacing-xs);
        --inpage-nav-link-after-width: 100%;
        --inpage-nav-link-after-bg-color: var(--color-primary);
        --inpage-nav-link-after-position: absolute;
        --inpage-nav-link-after-bottom: 0;
        --inpage-nav-link-after-left: 0;
        --inpage-nav-link-after-opacity: 0;

        position: var(--inpage-nav-position);
        display: var(--inpage-nav-display);
        /* stylelint-disable declaration-block-no-redundant-longhand-properties */
        grid-template-columns: var(--inpage-nav-grid-template-columns);
        grid-template-rows: var(--inpage-nav-grid-template-rows);
        grid-template-areas: var(--inpage-nav-grid-template-areas);
        /* stylelint-enable declaration-block-no-redundant-longhand-properties */
        width: var(--inpage-nav-width);
        max-width: var(--inpage-nav-max-width);
        margin: var(--inpage-nav-margin);
        padding: var(--inpage-nav-padding);
        border-bottom: var(--inpage-nav-border-bottom);
        background-color: var(--inpage-nav-bg-color);
        height: var(--inpage-nav-height);
        z-index: var(--inpage-nav-z-index);
        opacity: var(--inpage-nav-opacity);
        transition: var(--inpage-nav-transition);
        border-radius: var(--inpage-nav-border-radius);
    }

    .inpage-nav[ismobile] {
        --inpage-nav-toggle-display: flex;
        --inpage-nav-grid-template-columns: auto 1fr auto;
        --inpage-nav-grid-template-rows: var(--inpage-nav-height-closed) auto;
        --inpage-nav-grid-template-areas: "toggle label cta" ". nav .";
        --inpage-nav-list-visibility: hidden;
        --inpage-nav-list-margin: 0;
        --inpage-nav-list-flex-direction: column;
        --inpage-nav-list-padding: var(--spacing-s) 0 var(--spacing-normal);
        --inpage-nav-list-height: auto;
        --inpage-nav-list-gap: var(--spacing-s);
        --inpage-nav-list-align-items: flex-start;
        --inpage-nav-link-padding: 0 var(--spacing-s) 0 0;
        --inpage-nav-label-before-display: none;
    }

    .inpage-nav[ismobile][mobileopen] {
        --inpage-nav-height: auto;
        --inpage-nav-toggle-transform: rotate(-180deg);
        --inpage-nav-list-visibility: visible;
    }

    .inpage-nav[ismobile][element-width="wide"] {
        --inpage-nav-max-width: var(--content-wide-max-width);
    }

    .inpage-nav[ismobile][element-width="fullwidth"] {
        --inpage-nav-width: var(--content-fullwidth);
        --inpage-nav-max-width: var(--content-fullwidth);
    }

    .inpage-nav[alignment="center"] {
        --inpage-nav-label-justify-self: center;
        --inpage-nav-list-align-items: center;
        --inpage-nav-list-justify-content: center;
    }

    .inpage-nav[element-width="wide"] {
        --inpage-nav-max-width: var(--content-wide-max-width);
    }

    .inpage-nav[element-width="fullwidth"] {
        --inpage-nav-width: var(--content-fullwidth);
        --inpage-nav-max-width: var(--content-fullwidth);
        --inpage-nav-border-radius: var(--border-radius-0);
    }

    .inpage-nav[is-sticky] {
        --inpage-nav-position: sticky;
        --inpage-nav-top: var(--topbar-height);

        top: var(--inpage-nav-top);
    }

    .inpage-nav[element-design="primary"] {
        --inpage-nav-border-color: var(--color-primary);
        --inpage-nav-bg-color: var(--color-primary);
        --inpage-nav-label-color: var(--color-bg);
        --inpage-nav-label-font-size: var(--font-size-s);
        --inpage-nav-toggle-icon-color: var(--color-bg);
        --inpage-nav-cta-bg-color: var(--color-primary-dark);
        --inpage-nav-cta-bg-color-hover: var(--color-primary-light);
        --inpage-nav-cta-color: var(--color-bg);
        --inpage-nav-cta-color-hover: var(--color-primary-dark);
        --inpage-nav-link-color: var(--color-bg);
        --inpage-nav-link-color-hover: var(--color-primary-dark);
    }

    .inpage-nav[element-design="secondary"] {
        --inpage-nav-border-color: var(--color-secondary-light);
        --inpage-nav-bg-color: var(--color-secondary);
        --inpage-nav-label-color: var(--color-bg);
        --inpage-nav-label-font-size: var(--font-size-s);
        --inpage-nav-toggle-icon-color: var(--color-bg);
        --inpage-nav-cta-bg-color: var(--color-secondary-dark);
        --inpage-nav-cta-bg-color-hover: var(--color-secondary-light);
        --inpage-nav-cta-color: var(--color-bg);
        --inpage-nav-cta-color-hover: var(--color-secondary-dark);
        --inpage-nav-link-color: var(--color-bg);
        --inpage-nav-link-color-hover: var(--color-secondary-dark);
    }

    .inpage-nav[element-design="inverted"] {
        --inpage-nav-border-color: var(--color-font-light);
        --inpage-nav-bg-color: var(--color-font);
        --inpage-nav-label-color: var(--color-bg);
        --inpage-nav-label-font-size: var(--font-size-s);
        --inpage-nav-toggle-icon-color: var(--color-bg);
        --inpage-nav-cta-bg-color: var(--color-primary);
        --inpage-nav-cta-bg-color-hover: var(--color-primary-light);
        --inpage-nav-cta-color: var(--color-bg);
        --inpage-nav-cta-color-hover: var(--color-primary-dark);
        --inpage-nav-link-color: var(--color-bg);
        --inpage-nav-link-color-hover: var(--color-primary-light);
    }

    .inpage-nav:not([ismobile]) {
        --inpage-nav-border-color: transparent;
    }

    .inpage-nav[element-design="primary"]:not([ismobile]),
    .inpage-nav[element-design="secondary"]:not([ismobile]),
    .inpage-nav[element-design="inverted"]:not([ismobile]) {
        --inpage-nav-label-before-bg-color: var(--color-bg);
        --inpage-nav-border-radius: var(--border-radius-default);
    }

    .inpage-nav[element-design="primary"]:not([ismobile]) {
        --inpage-nav-link-bg-color: var(--color-primary-dark);
    }

    .inpage-nav[element-design="secondary"]:not([ismobile]) {
        --inpage-nav-link-bg-color: var(--color-secondary-dark);
    }

    .inpage-nav[element-design="inverted"]:not([ismobile]) {
        --inpage-nav-link-bg-color: var(--color-font-dark);
    }

    .inpage-nav__toggle {
        display: var(--inpage-nav-toggle-display);
        align-items: var(--inpage-nav-toggle-align-items);
        justify-content: var(--inpage-nav-toggle-justify-content);
        border: var(--inpage-nav-toggle-border);
        background-color: var(--inpage-nav-toggle-background-color);
        grid-area: var(--inpage-nav-toggle-grid-area);
        transform: var(--inpage-nav-toggle-transform);
        transition: var(--inpage-nav-toggle-transition);
    }

    .inpage-nav__toggle .icon {
        --icon-color: var(--inpage-nav-toggle-icon-color);
    }

    .inpage-nav__label {
        width: var(--inpage-nav-label-width);
        grid-area: var(--inpage-nav-label-grid-area);
        font-family: var(--inpage-nav-label-font-family);
        font-weight: var(--inpage-nav-label-font-weight);
        font-size: var(--inpage-nav-label-font-size);
        color: var(--inpage-nav-label-color);
        display: var(--inpage-nav-label-display);
        align-items: var(--inpage-nav-label-align-items);
        justify-self: var(--inpage-nav-label-justify-self);
    }

    .inpage-nav__label::before {
        content: "";
        display: var(--inpage-nav-label-before-display);
        height: var(--inpage-nav-label-before-size);
        width: var(--inpage-nav-label-before-size);
        background-color: var(--inpage-nav-label-before-bg-color);
        margin-right: var(--inpage-nav-label-before-margin-right);
        margin-left: var(--inpage-nav-label-before-margin-left);
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-image: var(--inpage-nav-label-before-icon);
        transform: var(--inpage-nav-label-before-transform);
    }

    .button.inpage-nav__cta {
        --button-color-bg: var(--inpage-nav-cta-bg-color);
        --button-border: var(--inpage-nav-cta-border);
        --button-color-text: var(--inpage-nav-cta-color);

        grid-area: var(--inpage-nav-cta-grid-area);
        margin: var(--inpage-nav-cta-margin);
    }

    .button.inpage-nav__cta:focus-visible {
        background-color: var(--inpage-nav-cta-bg-color-hover);
        color: var(--inpage-nav-cta-color-hover);
    }

    .inpage-nav__nav {
        grid-area: var(--inpage-nav-nav-grid-area);
    }

    .inpage-nav__list {
        list-style: var(--inpage-nav-list-list-style);
        margin: var(--inpage-nav-list-margin);
        padding: var(--inpage-nav-list-padding);
        display: var(--inpage-nav-list-display);
        align-items: var(--inpage-nav-list-align-items);
        justify-content: var(--inpage-nav-list-justify-content);
        flex-direction: var(--inpage-nav-list-flex-direction);
        gap: var(--inpage-nav-list-gap);
        visibility: var(--inpage-nav-list-visibility);
        height: var(--inpage-nav-list-height);
    }

    .inpage-nav__item {
        width: var(--inpage-nav-item-width);
        height: var(--inpage-nav-item-height);
        display: var(--inpage-nav-item-display);
        align-items: var(--inpage-nav-item-align-items);
    }

    .inpage-nav__link {
        position: var(--inpage-nav-link-position);
        text-decoration: var(--inpage-nav-link-text-decoration);
        font-weight: var(--inpage-nav-link-font-weight);
        color: var(--inpage-nav-link-color);
        height: var(--inpage-nav-link-height);
        display: var(--inpage-nav-link-display);
        align-items: var(--inpage-nav-link-align-items);
        padding: var(--inpage-nav-link-padding);
    }

    a.inpage-nav__link:hover {
        --inpage-nav-link-after-opacity: 1;

        color: var(--inpage-nav-link-color-hover);
    }

    .inpage-nav__link::after {
        content: "";
        width: var(--inpage-nav-link-after-width);
        height: var(--inpage-nav-link-after-height);
        background-color: var(--inpage-nav-link-after-bg-color);
        position: var(--inpage-nav-link-after-position);
        bottom: var(--inpage-nav-link-after-bottom);
        left: var(--inpage-nav-link-after-left);
        opacity: var(--inpage-nav-link-after-opacity);
        pointer-events: none;
    }

    .inpage-nav[element-design="default"] .inpage-nav__item[active] .inpage-nav__link {
        --inpage-nav-link-after-opacity: 1;
    }

    .inpage-nav[ismobile] .inpage-nav__item[active] .inpage-nav__link {
        --inpage-nav-link-after-opacity: 0;
        --inpage-nav-link-color: var(--color-primary-dark);
    }

    .inpage-nav:not([ismobile]) .inpage-nav__item[active] .inpage-nav__link {
        background-color: var(--inpage-nav-link-bg-color);
    }

    .inpage-nav[ismobile][element-design="secondary"] .inpage-nav__item[active] .inpage-nav__link {
        --inpage-nav-link-color: var(--color-secondary-dark);
    }

    .inpage-nav[ismobile][element-design="inverted"] .inpage-nav__item[active] .inpage-nav__link {
        --inpage-nav-link-color: var(--color-primary);
    }

    .inpage-nav[ismobile] .inpage-nav__nav {
        pointer-events: none;
        opacity: 0;
    }

    .inpage-nav[ismobile][mobileopen] .inpage-nav__nav {
        pointer-events: all;
        opacity: 1;
    }

    @media (hover: hover) {
        .inpage-nav[ismobile] .inpage-nav__toggle:hover {
            --inpage-nav-toggle-icon-color: var(--color-primary-dark);

            cursor: pointer;
        }

        .inpage-nav[ismobile][element-design="secondary"] .inpage-nav__toggle:hover {
            --inpage-nav-toggle-icon-color: var(--color-secondary-dark);
        }

        .inpage-nav[ismobile][element-design="inverted"] .inpage-nav__toggle:hover {
            --inpage-nav-toggle-icon-color: var(--color-primary);
        }

        .button.inpage-nav__cta:hover {
            background-color: var(--inpage-nav-cta-bg-color-hover);
            color: var(--inpage-nav-cta-color-hover);
        }

        a.inpage-nav__link:hover {
            --inpage-nav-link-after-opacity: 1;

            color: var(--inpage-nav-link-color-hover);
        }

        .inpage-nav[ismobile] a.inpage-nav__link:hover {
            --inpage-nav-link-after-opacity: 0;

            color: var(--color-primary-dark);
        }

        .inpage-nav[ismobile][element-design="secondary"] .inpage-nav__link:hover {
            color: var(--color-secondary-dark);
        }

        .inpage-nav[ismobile][element-design="inverted"] .inpage-nav__link:hover {
            color: var(--color-primary);
        }

        .inpage-nav:not([ismobile], [element-design="default"]) .inpage-nav__link:hover {
            --inpage-nav-link-after-opacity: 0;
        }

        .inpage-nav:not([ismobile], [element-design="default"]) .inpage-nav__item[active] .inpage-nav__link:hover {
            color: var(--color-bg);
        }
    }
}
