@layer components {
    .input-password-toggle {
        --input-toggle-icon-size: var(--spacing-l);

        width: 100%;
        position: relative;
    }

    .input-password-toggle__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: var(--spacing-xs);
        cursor: pointer;
        border: none;
        background-color: transparent;
        height: var(--input-toggle-icon-size);
        width: var(--input-toggle-icon-size);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input-password-toggle__button:is(:hover, :focus-visible) {
        --icon-color: var(--color-primary);
    }

    /* stylelint-disable-next-line max-line-length */
    .input-group:is(.input-group--has-success, .input-group--has-error) .input-password-toggle .input-password-toggle__button {
        right: calc(var(--input-group-icon-size) + .5rem);
    }

    .input-password-toggle .input[disabled] + .input-password-toggle__button {
        display: none !important;
    }
}
