.item-collection {
    --item-collection-display: flex;
    --item-collection-flex-wrap: wrap;
    --item-collection-align-items: center;
    --item-collection-justify-content: center;
    --item-collection-gap: var(--spacing-normal);
    --item-collection-width: var(--content-width-with-padding);
    --item-collection-max-width: var(--content-max-width);
    --item-collection-margin: 0 auto;
    --item-collection-list-style: none;
    --item-collection-padding: 0;
    --item-collection-z-index: var(--z-index-content);

    --item-collection-item-max-width: 100%;
    --item-collection-item-border-bottom: var(--border-width-normal) solid var(--color-font-light);
    --item-collection-divider: 100%;

    display: var(--item-collection-display);
    flex-wrap: var(--item-collection-flex-wrap);
    align-items: var(--item-collection-align-items);
    justify-content: var(--item-collection-justify-content);
    width: var(--item-collection-width);
    max-width: var(--item-collection-max-width);
    margin: var(--item-collection-margin);
    list-style: var(--item-collection-list-style);
    padding: var(--item-collection-padding);
    z-index: var(--item-collection-z-index);
}

.item-collection__item {
    width: 100%;
    max-width: var(--item-collection-item-max-width);

    margin-bottom: var(--item-collection-gap);
    border-bottom: var(--item-collection-item-border-bottom);
    padding-bottom: var(--item-collection-gap);
}
