.pswp {
    --lightbox-image-padding: var(--spacing-xl);

    --lightbox-caption-padding: var(--spacing-s);
    --lightbox-caption-font-family: var(--font-family-text);
    --lightbox-caption-font-size: var(--font-size-normal);
    --lightbox-caption-color: var(--color-white);
    --lightbox-caption-position: absolute;
    --lightbox-caption-bottom: 0;
    --lightbox-caption-text-align: center;
    --lightbox-caption-width: 100%;

    --lightbox-counter-font-family: var(--font-family-text);
    --lightbox-counter-font-size: var(--font-size-normal);
    --lightbox-counter-color: var(--color-white);
}

.pswp__img {
    padding: var(--lightbox-image-padding);
}

.pswp__caption {
    padding: var(--lightbox-caption-padding);
    width: var(--lightbox-caption-width);
    font-family: var(--lightbox-caption-font-family);
    font-size: var(--lightbox-caption-font-size);
    color: var(--lightbox-caption-color);
    position: var(--lightbox-caption-position);
    bottom: var(--lightbox-caption-bottom);
    text-align: var(--lightbox-caption-text-align);
}

.pswp__counter {
    font-family: var(--lightbox-counter-font-family);
    font-size: var(--lightbox-counter-font-size);
    color: var(--lightbox-counter-color);
}