:root {
    /* webcomponent variables */
    --toujou-location-finder-breakpoint: 840px;
    --toujou-location-finder-image-size: var(--spacing-xl);
    --toujou-location-finder-transition-settings: .25s ease-in-out;

    --toujou-location-finder-map-point-color: var(--color-primary);
    --toujou-location-finder-map-point-color-hover: var(--color-primary-dark);
    --toujou-location-finder-map-polygon-color: var(--color-primary);
    --toujou-location-finder-map-polygon-color-hover: var(--color-primary-dark);
    --toujou-location-finder-map-line-color: var(--color-primary);
    --toujou-location-finder-map-line-color-hover: var(--color-primary-dark);

    --toujou-location-finder-cluster-background-color: var(--color-primary);
    --toujou-location-finder-cluster-border-width: 2;
    --toujou-location-finder-cluster-border-color: var(--color-primary);
    --toujou-location-finder-cluster-text-color: var(--color-bg);
    --toujou-location-finder-cluster-text-size: 16;
    --toujou-location-finder-cluster-radius: 50;
    /*--toujou-location-finder-cluster-max-zoom: 10;*/

    --toujou-location-finder-padding: var(--spacing-s);

    --toujou-location-finder-loading-bar-height: var(--spacing-xxs);
    --toujou-location-finder-loading-bar-width: 100%;
    --toujou-location-finder-loading-bar-position: absolute;
    --toujou-location-finder-loading-bar-top: 0;
    --toujou-location-finder-loading-bar-left: 0;
    --toujou-location-finder-loading-bar-background-color: var(--color-primary);

    --toujou-location-finder-map-height: calc(100vw - var(--spacing-l));
    --toujou-location-finder-map-max-height: var(--toujou-location-finder-map-height);
    --toujou-location-finder-map-width: 100%;

    --toujou-location-finder-search-position: absolute;
    --toujou-location-finder-search-height: var(--spacing-l);
    --toujou-location-finder-search-left: var(--toujou-location-finder-padding);

    --toujou-location-finder-sidebar-width: var(--toujou-location-finder-panel-width);

    --toujou-location-finder-panel-position: absolute;
    --toujou-location-finder-panel-width: 240px;
    --toujou-location-finder-panel-height: 240px;
    --toujou-location-finder-panel-left: var(--toujou-location-finder-padding);

    --toujou-location-finder-sidebar-locator-icon-height: var(--font-size-m);
    --toujou-location-finder-sidebar-locator-icon-width: var(--font-size-m);
    --toujou-location-finder-sidebar-locator-icon-image: var(--icon-target);
}

.location-finder {
    /* element variables */
    --toujou-location-finder-position: relative;
    --toujou-location-finder-display: grid;
    --toujou-location-finder-height: auto;
    --toujou-location-finder-width: 100%;
    --toujou-location-finder-max-width: var(--content-max-width);
    --toujou-location-finder-aspect-ratio: var(--aspect-ratio-square);
    --toujou-location-finder-margin: var(--spacing-between-elements-normal) auto 0;
    --toujou-location-finder-grid-z-index: var(--z-index-content);


    display: var(--toujou-location-finder-display);
    height: var(--toujou-location-finder-height);
    width: var(--toujou-location-finder-width);
    max-width: var(--toujou-location-finder-max-width);
    aspect-ratio: var(--toujou-location-finder-aspect-ratio);
    position: var(--toujou-location-finder-position);
    margin: var(--toujou-location-finder-margin);
    z-index: var(--toujou-location-finder-grid-z-index)
}

.location-finder:first-child {
    --toujou-location-finder-margin: 0 auto;
}

.text-block + .location-finder {
    --toujou-location-finder-margin: 0 auto var(--spacing-between-consecutive-elements-normal);
}

@media screen and (min-width: 840px) {
    .location-finder {
        --toujou-location-finder-display: block;
        --toujou-location-finder-aspect-ratio: var(--aspect-ratio-default);

        --toujou-location-finder-map-height: 100%;
        --toujou-location-finder-map-max-height: 100%;
        --toujou-location-finder-map-width: 100%;
    }
}
