:root {
    --toujou-location-finder-teaser-name-font-family: var(--font-family-text);
    --toujou-location-finder-teaser-name-font-size: var(--font-size-normal);
    --toujou-location-finder-teaser-name-color: var(--color-primary);

    --toujou-location-finder-teaser-type-font-family: var(--font-family-text);
    --toujou-location-finder-teaser-type-font-size: var(--font-size-s);
    --toujou-location-finder-teaser-type-color: var(--color-font);

    --toujou-location-finder-description-type-font-family: var(--font-family-text);
    --toujou-location-finder-description-type-font-size: var(--font-size-s);
    --toujou-location-finder-description-type-color: var(--color-font);

    --toujou-location-finder-teaser-meta-font-family: var(--font-family-text);
    --toujou-location-finder-teaser-meta-font-size: var(--font-size-s);
    --toujou-location-finder-teaser-meta-color: var(--color-font);

    --toujou-location-finder-teaser-times-font-family: var(--font-family-text);
    --toujou-location-finder-teaser-times-font-size: var(--font-size-s);
    --toujou-location-finder-teaser-times-color: var(--color-font);

    --toujou-location-finder-teaser-image-size: var(--spacing-xl);
}
