.portfolio-gallery {
    --portfolio-gallery-position: relative;
    --portfolio-gallery-z-index: var(--z-index-content);
    --portfolio-gallery-margin: var(--spacing-between-elements-normal) auto 0;
    --toujou-portfolio-gallery-media-icon-size: var(--font-size-l);
    --toujou-portfolio-gallery-media-icon-opacity: 1;
    --toujou-portfolio-gallery-media-icon-color: var(--color-bg);
    --toujou-portfolio-gallery-media-icon-audio-icon: var(--icon-flower);
    --toujou-portfolio-gallery-media-icon-video-icon: var(--icon-flower);

    --portfolio-gallery-slider-arrows-display: none;

    --portfolio-gallery-button-position: absolute;
    --portfolio-gallery-button-bottom: var(--spacing-normal);
    --portfolio-gallery-button-right: var(--spacing-normal);
    --portfolio-gallery-button-z-index: var(--z-index-content);

    --portfolio-gallery-count-position: absolute;
    --portfolio-gallery-count-left: var(--spacing-normal);
    --portfolio-gallery-count-bottom: var(--spacing-normal);

    position: var(--portfolio-gallery-position);
    z-index: var(--portfolio-gallery-z-index);
    margin: var(--portfolio-gallery-margin);
}

.portfolio-gallery[is-header] {
    --portfolio-gallery-margin: 0;
}

.portfolio-gallery .slider .splide__arrows {
    display: var(--portfolio-gallery-slider-arrows-display);
}

.portfolio-gallery ul.slider-bullets {
    display: none !important;
}

.portfolio-gallery .slider-count {
    position: var(--portfolio-gallery-count-position);
    bottom: var(--portfolio-gallery-count-bottom);
    left: var(--portfolio-gallery-count-left);
}

.portfolio-gallery__button {
    position: var(--portfolio-gallery-button-position);
    bottom: var(--portfolio-gallery-button-bottom);
    right: var(--portfolio-gallery-button-right);
    z-index: var(--portfolio-gallery-button-z-index);
}

.portfolio-gallery__link {
    background-color: var(--color-primary);
}

.portfolio-gallery__link--audio::after,
.portfolio-gallery__link--video::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: var(--toujou-portfolio-gallery-media-icon-size);
    width: var(--toujou-portfolio-gallery-media-icon-size);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    pointer-events: none;
    background-color: var(--toujou-portfolio-gallery-media-icon-color);
    opacity: var(--toujou-portfolio-gallery-media-icon-opacity);
}

.portfolio-gallery__link--audio::after {
    mask-image: var(--toujou-portfolio-gallery-media-icon-audio-icon);
}

.portfolio-gallery__link--video::after {
    mask-image: var(--toujou-portfolio-gallery-media-icon-video-icon);
}

@media screen and (min-width: 840px) {
    .portfolio-gallery {
        aspect-ratio: 2 / 1;
    }

    .portfolio-gallery .slider__slider,
    .portfolio-gallery .slider__track,
    .portfolio-gallery .slider__list {
        display: contents;
    }

    .portfolio-gallery:not([number-of-items="max"]) .portfolio-gallery__button {
        display: none;
    }

    .portfolio-gallery .slider {
        --slider-aspect-ratio: auto;

        display: grid;
    }

    .portfolio-gallery .slider-count {
        display: none;
    }

    .portfolio-gallery .single-media__image {
        object-fit: cover;
    }

    .portfolio-gallery[number-of-items="1"] .single-media__image {
        aspect-ratio: 2 / 1;
    }

    /* 2 items */
    .portfolio-gallery[number-of-items="2"] .slider {
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-gallery[number-of-items="2"] .single-media__image {
        aspect-ratio: 1 / 1;
    }

    /* 3 items */
    .portfolio-gallery[number-of-items="3"] .slider {
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-gallery[number-of-items="3"] .slider-slide:nth-child(1) {
        grid-row: 1 / 3;
    }

    .portfolio-gallery[number-of-items="3"] .slider-slide:nth-child(1) .single-media__image {
        aspect-ratio: 1 / 1;
    }

    .portfolio-gallery[number-of-items="3"] .slider-slide:nth-child(2) .single-media__image,
    .portfolio-gallery[number-of-items="3"] .slider-slide:nth-child(3) .single-media__image{
        aspect-ratio: 2 / 1;
    }

    /* 4 items */
    .portfolio-gallery[number-of-items="4"] .slider {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(1) {
        grid-row: 1 / 3;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(1) .single-media__image {
        aspect-ratio: 1 / 1;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(2) {
        grid-row: 1;
        grid-column: 2/ 4;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(2) .single-media__image {
        aspect-ratio: 2 / 1;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(3) .single-media__image,
    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(4) .single-media__image{
        aspect-ratio: 1 / 1;
        grid-row: 2;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(3) .single-media__image {
        grid-column: 2;
    }

    .portfolio-gallery[number-of-items="4"] .slider-slide:nth-child(4) .single-media__image {
        grid-column: 3;
    }

    /* 5 items */
    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .slider {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .single-media__image {
        aspect-ratio: 1 / 1;
    }

    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .slider-slide:nth-child(1) {
        grid-row: 1 / 3;
    }

    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .slider-slide:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }

    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .slider-slide:nth-child(3) {
        grid-row: 1;
        grid-column: 3;
    }

    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .slider-slide:nth-child(4) {
        grid-row: 2;
        grid-column: 2;
    }

    .portfolio-gallery:is([number-of-items="5"], [number-of-items="max"]) .slider-slide:nth-child(5) {
        grid-row: 2;
        grid-column: 3;
    }

    .portfolio-gallery[number-of-items="max"] .slider-slide:nth-child(n+6) {
        display: none;
    }

}
