@layer components {
    .poster-reveal {
        --poster-reveal-display: block;
        --poster-reveal-gap: var(--content-spacing-between-columns);
        --poster-reveal-width: var(--content-width-with-padding);
        --poster-reveal-max-width: var(--content-max-width);
        --poster-reveal-margin: var(--spacing-between-consecutive-elements-normal) auto 0;
        --poster-reveal-z-index: var(--z-index-content);

        --poster-reveal-after-position: absolute;
        --poster-reveal-after-top: 0;
        --poster-reveal-after-left: 0;
        --poster-reveal-after-height: 100%;
        --poster-reveal-after-width: 100%;
        --poster-reveal-after-background-color: var(--color-black-o-25);
        --poster-reveal-after-display: block;
        --poster-reveal-after-z-index: 1;
        --poster-reveal-after-border-radius: var(--border-radius-normal);

        --poster-reveal-image-border-radius: var(--border-radius-normal);

        --poster-reveal-button-position: absolute;
        --poster-reveal-button-top: 50%;
        --poster-reveal-button-left: 50%;
        --poster-reveal-button-transform: translate(-50%, -50%);
        --poster-reveal-button-z-index: 2;

        display: var(--poster-reveal-display);
        grid-gap: var(--poster-reveal-gap);
        width: var(--poster-reveal-width);
        max-width: var(--poster-reveal-max-width);
        margin: var(--poster-reveal-margin);
        z-index: var(--poster-reveal-z-index);
        position: relative;
    }

    .poster-reveal[content-type="youtube"],
    .poster-reveal[content-type="vimeo"] {
        --poster-reveal-aspect-ratio: var(--aspect-ratio-16-9);
        --poster-reveal-button-bg-color: transparent;
        --poster-reveal-button-border: var(--border-width-l) solid var(--color-bg);
        --poster-reveal-button-border-radius: var(--border-radius-circle);
        --poster-reveal-button-aspect-ratio: 1;
        --poster-reveal-button-opacity: 1;
        --poster-reveal-button-opacity-hover: 1;
        --poster-reveal-button-display: flex;
        --poster-reveal-button-align-items: center;
        --poster-reveal-button-justify-content: center;
        --poster-reveal-button-icon-size: var(--font-size-xxxl);

        height: auto;
        aspect-ratio: var(--poster-reveal-aspect-ratio);
    }

    .poster-reveal:not([activated])::after {
        content: "";
        position: var(--poster-reveal-after-position);
        top: var(--poster-reveal-after-top);
        left: var(--poster-reveal-after-left);
        height: var(--poster-reveal-after-height);
        width: var(--poster-reveal-after-width);
        background-color: var(--poster-reveal-after-background-color);
        display: var(--poster-reveal-after-display);
        z-index: var(--poster-reveal-after-z-index);
        border-radius: var(--poster-reveal-after-border-radius);
    }

    .poster-reveal__image {
        border-radius: var(--poster-reveal-image-border-radius);
    }

    .poster-reveal__button {
        position: var(--poster-reveal-button-position);
        top: var(--poster-reveal-button-top);
        left: var(--poster-reveal-button-left);
        transform: var(--poster-reveal-button-transform);
        z-index: var(--poster-reveal-button-z-index);
        cursor: pointer;
    }

    .poster-reveal__button:focus-visible {
        outline: var(--focus-outline-width) solid var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }

    .poster-reveal[content-type="youtube"] .poster-reveal__button,
    .poster-reveal[content-type="vimeo"] .poster-reveal__button {
        background-color: var(--poster-reveal-button-bg-color);
        border: var(--poster-reveal-button-border);
        opacity: var(--poster-reveal-button-opacity);
        border-radius: var(--poster-reveal-button-border-radius);
        aspect-ratio: var(--poster-reveal-button-aspect-ratio);
        display: var(--poster-reveal-button-display);
        align-items: var(--poster-reveal-button-align-items);
        justify-content: var(--poster-reveal-button-justify-content);
    }

    .poster-reveal[content-type="youtube"] .poster-reveal__button:is(:hover, :focus-visible),
    .poster-reveal[content-type="vimeo"] .poster-reveal__button:is(:hover, :focus-visible) {
        --poster-reveal-button-border: var(--border-width-l) solid var(--color-primary);

        opacity: var(--poster-reveal-button-opacity-hover);
    }

    .poster-reveal[content-type="youtube"] .poster-reveal__button .icon,
    .poster-reveal[content-type="vimeo"] .poster-reveal__button .icon {
        --icon-size: var(--poster-reveal-button-icon-size);
    }

    .poster-reveal[content-type="youtube"] .poster-reveal__button:is(:hover, :focus-visible) .icon,
    .poster-reveal[content-type="vimeo"] .poster-reveal__button:is(:hover, :focus-visible) .icon {
        --icon-color: var(--color-primary);
    }

    .poster-reveal__content > * {
        width: 100%;
    }
}
