@layer components {
    .rating-stars {
        --rating-stars-color: var(--color-font);
        --rating-stars-font-family: var(--font-family-text);
        --rating-stars-font-size: var(--font-size-normal);
        --rating-stars-display: flex;
        --rating-stars-align-items: center;
        --rating-stars-justify-content: center;
        --rating-stars-gap: var(--spacing-xxs);
        --rating-stars-width: fit-content;

        --rating-stars-star-size: var(--spacing-ms);
        --rating-stars-star-bg-image: var(--icon-rating-star-00);

        --rating-stars-suffix-mergin: 0 0 0 var(--spacing-xxs);

        color: var(--rating-stars-color);
        font-family: var(--rating-stars-font-family);
        font-size: var(--rating-stars-font-size);
        display: var(--rating-stars-display);
        align-items: var(--rating-stars-align-items);
        justify-content: var(--rating-stars-justify-content);
        gap: var(--rating-stars-gap);
        width: var(--rating-stars-width);
    }

    .rating-stars__star {
        display: block;
        height: var(--rating-stars-star-size);
        width: var(--rating-stars-star-size);
        background-image: var(--rating-stars-star-bg-image);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .rating-stars__star[star-value="00"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-00);
    }

    .rating-stars__star[star-value="10"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-10);
    }

    .rating-stars__star[star-value="20"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-20);
    }

    .rating-stars__star[star-value="30"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-30);
    }

    .rating-stars__star[star-value="40"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-40);
    }

    .rating-stars__star[star-value="50"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-50);
    }

    .rating-stars__star[star-value="60"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-60);
    }

    .rating-stars__star[star-value="70"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-70);
    }

    .rating-stars__star[star-value="80"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-80);
    }

    .rating-stars__star[star-value="90"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-90);
    }

    .rating-stars__star[star-value="100"] {
        --rating-stars-star-bg-image: var(--icon-rating-star-100);
    }

    .rating-stars__suffix {
        margin: var(--rating-stars-suffix-mergin);
    }
}
