.schema {
    --schema-intro-title-margin-bottom: 0;
    --schema-intro-subtitle-margin: 0;
    --schema-intro-description-margin: var(--spacing-l) auto 0;
    --schema-intro-description-max-width: var(--content-max-width);
    --schema-intro-logo-display: block;
    --schema-intro-logo-size: 6rem;
    --schema-intro-logo-margin: 0 auto;
}

.schema__intro-logo {
    display: var(--schema-intro-logo-display);
    height: var(--schema-intro-logo-size);
    width: var(--schema-intro-logo-size);
    margin: var(--schema-intro-logo-margin);
}

.schema__intro-title {
    margin-bottom: var(--schema-intro-title-margin-bottom);
}

.schema__intro-logo + .schema__intro-title {
    --schema-intro-title-margin-top: var(--spacing-normal);

    margin-top: var(--schema-intro-title-margin-top);
}

.schema__intro-subtitle {
    margin: var(--schema-intro-title-margin-bottom);
}

.schema__intro-description {
    margin: var(--schema-intro-description-margin);
    max-width: var(--schema-intro-description-max-width);
}

@media screen and (min-width: 840px) {
    .schema {
        --schema-intro-logo-size: 8rem;
    }
}
