.schema {
    --schema-intro-title-margin-bottom: 0;
    --schema-intro-subtitle-margin: 0;
    --schema-intro-description-margin: var(--spacing-l) auto 0;
    --schema-intro-description-max-width: var(--content-max-width);
}

.schema__intro-title {
    margin-bottom: var(--schema-intro-title-margin-bottom);
}

.schema__intro-subtitle {
    margin: var(--schema-intro-title-margin-bottom);
}

.schema__intro-description {
    margin: var(--schema-intro-description-margin);
    max-width: var(--schema-intro-description-max-width);
}
