.schema {
    --schema-map-width: 100%;
    --schema-map-height: auto;
    --schema-map-aspect-ratio: var(--aspect-ratio-16-9);
}

.schema__map {
    width: var(--schema-map-width);
    height: var(--schema-map-height);
    aspect-ratio: var(--schema-map-aspect-ratio);
}
