.schema-teaser {
    --schema-teaser-display: grid;
    --schema-teaser-grid-template-columns: 1fr;
    --schema-teaser-grid-gap: var(--content-spacing-between-columns);
    --schema-teaser-width: var(--content-width-with-padding);
    --schema-teaser-max-width: var(--content-medium-max-width);
    --schema-teaser-margin: 0 auto;

    --schema-teaser-figure-border-radius: var(--border-radius-default);
    --schema-teaser-figure-overflow: hidden;

    --schema-teaser-image-height: auto;
    --schema-teaser-image-width: 100%;
    --schema-teaser-image-aspect-ratio: var(--aspect-ratio-default);

    --schema-teaser-content-width: 100%;

    --schema-teaser-block-width: 100%;
    --schema-teaser-block-border-bottom: var(--border-width-normal) solid var(--border-color-default);
    --schema-teaser-block-padding: var(--spacing-normal) 0;
    --schema-teaser-block-display: grid;
    --schema-teaser-block-gap: var(--spacing-s) var(--spacing-normal);

    --schema-teaser-column-display: flex;
    --schema-teaser-column-flex-direction: row;
    --schema-teaser-column-align-items: flex-start;
    --schema-teaser-column-justify-content: flex-start;
    --schema-teaser-column-gap: var(--spacing-s);

    display: var(--schema-teaser-display);
    grid-template-columns: var(--schema-teaser-grid-template-columns);
    gap: var(--schema-teaser-grid-gap);
    width: var(--schema-teaser-width);
    max-width: var(--schema-teaser-max-width);
    margin: var(--schema-teaser-margin);
}

.schema-teaser__figure {
    border-radius: var(--schema-teaser-figure-border-radius);
    overflow: var(--schema-teaser-figure-overflow);
}

.schema-teaser__image {
    height: var(--schema-teaser-image-height);
    width: var(--schema-teaser-image-width);
    aspect-ratio: var(--schema-teaser-image-aspect-ratio);
}

.schema-teaser__content {
    width: var(--schema-teaser-content-width);
}

.schema-teaser__block[number-of-columns="1"] {
    --schema-teaser-block-grid-template-columns: 1fr;
}

.schema-teaser__block[number-of-columns="2"] {
    --schema-teaser-block-grid-template-columns: 1fr 1fr;
}

.schema-teaser__block {
    width: var(--schema-teaser-block-width);
    padding: var(--schema-teaser-block-padding);
    display: var(--schema-teaser-block-display);
    gap: var(--schema-teaser-block-gap);
    grid-template-columns: var(--schema-teaser-block-grid-template-columns);
}

.schema-teaser__block:not(:last-child) {
    border-bottom: var(--schema-teaser-block-border-bottom);
}

.schema-teaser__column {
    display: var(--schema-teaser-column-display);
    flex-direction: var(--schema-teaser-column-flex-direction);
    align-items: var(--schema-teaser-column-align-items);
    justify-content: var(--schema-teaser-column-justify-content);
    gap: var(--schema-teaser-column-gap);
}

@media screen and (min-width: 840px) {
    .schema-teaser {
        --schema-teaser-grid-template-columns: 1fr 1fr;
    }
}
