.service-navbar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-normal);
    opacity: .75;
}

.toujou-topbar[logo-position="right"] .service-navbar {
    justify-content: flex-start;
}

.toujou-topbar[logo-position="center"] .service-navbar {
    height: 100%;
    align-items: flex-end;
}

.service-navbar__link {
    text-decoration: none;
    padding: var(--spacing-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
    font-size: var(--font-size-s);
}

.toujou-topbar[logo-position="center"] .service-navbar__link {
    padding-bottom: 0;
}

.service-navbar__link-icon {
    display: block;
    height: var(--topbar-service-navbar-icon-size);
    width: var(--topbar-service-navbar-icon-size);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--color-font);
}

.service-navbar__link-icon--account {
    mask-image: var(--icon-acount);
    -webkit-mask-image: var(--icon-acount);
}

.service-navbar__link-icon--heart {
    mask-image: var(--icon-heart);
    -webkit-mask-image: var(--icon-heart);
}

.service-navbar__link-icon--downloads {
    mask-image: var(--icon-download);
    -webkit-mask-image: var(--icon-download);
}

.toujou-topbar.toujou-topbar--service-navbarbar-icons-only .service-navbar__link-text {
    display: none;
}

.toujou-topbar.toujou-topbar--service-navbarbar-text-only .service-navbar__link-icon {
    display: none;
}

@media (hover: hover) {
    .service-navbar__link:hover .service-navbar__link-icon {
        background-color: var(--color-primary);
    }
}