@layer components {
    skippy-links {
        /* Customise the skippy links component */
        --sl-link-color: var(--color-bg);
        --sl-link-color-focus: var(--color-bg);
        --sl-link-color-hover: var(--color-white-o-75);
        --sl-link-font-size: var(--skip-links-font-size);
        --sl-element-height: var(--topbar-height);

        --skip-links-background-color: var(--color-error);
        --skip-links-border: none;
        --skip-links-font-family: var(--font-family-text);
        --skip-links-font-size: var(--font-size-normal);
        --skip-links-font-weight: var(--font-weight-text-bold);
        --skip-links-width: fit-content;
        --skip-links-min-width: 100%;
        --skip-links-border-radius: 0 0 var(--border-radius-default) 0;

        background-color: var(--skip-links-background-color);
        border: var(--skip-links-border);
        font-family: var(--skip-links-font-family);
        font-size: var(--skip-links-font-size);
        min-width: var(--skip-links-width);
        width: var(--skip-links-min-width);
        border-radius: var(--skip-links-border-radius);
        font-weight: var(--skip-links-font-weight);
    }

    @container (width >= 640px) {
        skippy-links {
            --skip-links-min-width: 320px;
        }
    }
}
