.slider-controls {
    position: var(--slider-controls-position);
    top: var(--slider-controls-top);
    left: var(--slider-controls-left);
    width: var(--slider-controls-width);
    height: var(--slider-controls-height);
    aspect-ratio: var(--slider-controls-aspect-ratio);
    z-index: var(--slider-controls-z-index);
    pointer-events: none;
}

.slider[content-type="logos"],
.header .slider {
    --slider-controls-height: 100%;
    --slider-controls-aspect-ratio: auto;
}

.slider[content-type="teaser"] .slider-controls {
    border: 2px solid red;
}
