.slider-slide {
    aspect-ratio: var(--slider-aspect-ratio);
}

.slider[content-type="logos"] .slider-slide,
.slider[content-type="teaser"] .slider-slide,
.slider[content-type="review"] .slider-slide {
    aspect-ratio: auto;
    height: fit-content !important;
}

.slider[content-type="logos"] .slider-slide {
    align-self: center;
}

.slider[content-type="teaser"] .slider-slide,
.slider[content-type="review"] .slider-slide {
    width: fit-content;
}

.slider-slide__media--image {
    width: 100%;
    height: 100%;
    aspect-ratio: var(--slider-aspect-ratio);
    object-fit: var(--slider-image-object-fit);
}
