ul.slider-bullets {
    --slider-bullets-width: 100%;
    --slider-bullets-display: flex;
    --slider-bullets-align-items: center;
    --slider-bullets-justify-content: center;
    --slider-bullets-gap: var(--spacing-xs);
    --slider-bullets-margin: var(--spacing-s) 0 0;
    --slider-bullets-position: absolute;
    --slider-bullets-inset: auto auto var(--spacing-normal) auto;

    --slider-bullets-bullet-display: flex;
    --slider-bullets-bullet-align-items: center;
    --slider-bullets-bullet-justify-content: center;
    --slider-bullets-bullet-size: var(--font-size-m);
    --slider-bullets-bullet-border: none;
    --slider-bullets-bullet-background-color: var(--color-bg);

    --slider-bullets-circle-size: calc(var(--spacing-s) + var(--spacing-xxs));

    position: var(--slider-bullets-position);
    inset: var(--slider-bullets-inset);
    width: var(--slider-bullets-width);
    display: var(--slider-bullets-display);
    align-items: var(--slider-bullets-align-items);
    justify-content: var(--slider-bullets-justify-content);
    gap: var(--slider-bullets-gap);
    margin: var(--slider-bullets-margin);
    z-index: 1;
}

.slider[content-type="teaser"] .slider-bullets {
    --slider-bullets-position: relative;
    --slider-bullets-inset: auto;
    --slider-bullets-margin: var(--spacing-normal) 0 0;
    --slider-bullets-bullet-background-color: var(--color-black-o-10);
}

.slider[slider-design="default"] .slider-bullets {
    --slider-bullets-icon-default-background-color: var(--color-font-light);
    --slider-bullets-icon-active-background-color: var(--color-font);
    --slider-bullets-icon-hover-background-color: var(--color-font-dark);
}

.slider[slider-design="primary"] .slider-bullets {
    --slider-bullets-icon-default-background-color: var(--color-font-light);
    --slider-bullets-icon-active-background-color: var(--color-primary);
    --slider-bullets-icon-hover-background-color: var(--color-primary-light);
}

.slider[slider-design="secondary"] .slider-bullets {
    --slider-bullets-icon-default-background-color: var(--color-font-light);
    --slider-bullets-icon-active-background-color: var(--color-secondary);
    --slider-bullets-icon-hover-background-color: var(--color-secondary-light);
}

.slider[slider-design="light-grey"] .slider-bullets {
    --slider-bullets-icon-default-background-color: var(--color-font-light);
    --slider-bullets-icon-active-background-color: var(--color-font);
    --slider-bullets-icon-hover-background-color: var(--color-font-dark);
}

button.slider-bullets__bullet {
    display: var(--slider-bullets-bullet-display);
    align-items: var(--slider-bullets-bullet-align-items);
    justify-content: var(--slider-bullets-bullet-justify-content);
    height: var(--slider-bullets-circle-size);
    width: var(--slider-bullets-circle-size);
    border: var(--slider-bullets-bullet-border);
    background-color: var(--slider-bullets-bullet-background-color);
    opacity: 1;
    transform: none !important;
}

button.slider-bullets__bullet:focus-visible {
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

button.slider-bullets__bullet.is-active {
    background-color: var(--slider-bullets-icon-active-background-color);
    pointer-events: none;
}

@media (hover: hover) {
    button.slider-bullets__bullet:not(.is-active):hover {
        background-color: var(--slider-bullets-icon-hover-background-color);
    }
}
