ul.slider-bullets {
    --slider-bullets-width: 100%;
    --slider-bullets-display: flex;
    --slider-bullets-align-items: center;
    --slider-bullets-justify-content: center;
    --slider-bullets-gap: var(--spacing-xs);
    --slider-bullets-margin: var(--spacing-s) 0 0;
    --slider-bullets-position: absolute;
    --slider-bullets-inset: auto auto var(--spacing-normal) auto;
    --slider-bullets-z-index: var(--z-index-content);

    --slider-bullets-bullet-display: flex;
    --slider-bullets-bullet-align-items: center;
    --slider-bullets-bullet-justify-content: center;
    --slider-bullets-bullet-size: var(--font-size-m);
    --slider-bullets-bullet-border: var(--border-radius-s) solid var(--slider-bullets-bullet-default-background-color);
    --slider-bullets-bullet-background-color: transparent;

    --slider-bullets-circle-size: calc(var(--spacing-s) + var(--spacing-xxs));

    position: var(--slider-bullets-position);
    inset: var(--slider-bullets-inset);
    width: var(--slider-bullets-width);
    display: var(--slider-bullets-display);
    align-items: var(--slider-bullets-align-items);
    justify-content: var(--slider-bullets-justify-content);
    gap: var(--slider-bullets-gap);
    margin: var(--slider-bullets-margin);
    z-index: var(--slider-bullets-z-index);
}

.slider[content-type="logos"] ul.slider-bullets,
.slider[content-type="teaser"] ul.slider-bullets {
    --slider-bullets-position: relative;
    --slider-bullets-inset: unset;
    --slider-bullets-margin: var(--spacing-normal) 0;
}

.slider[slider-design="default"] .slider-bullets {
    --slider-bullets-bullet-default-background-color: var(--color-bg);
    --slider-bullets-bullet-active-background-color: var(--color-bg);
    --slider-bullets-bullet-hover-background-color: var(--color-bg);
}

.slider[slider-design="primary"] .slider-bullets {
    --slider-bullets-bullet-default-background-color: var(--color-primary);
    --slider-bullets-bullet-active-background-color: var(--color-primary);
    --slider-bullets-bullet-hover-background-color: var(--color-primary);
}

.slider[slider-design="secondary"] .slider-bullets {
    --slider-bullets-bullet-default-background-color: var(--color-secondary);
    --slider-bullets-bullet-active-background-color: var(--color-secondary);
    --slider-bullets-bullet-hover-background-color: var(--color-secondary);
}

.slider[slider-design="grey"] .slider-bullets {
    --slider-bullets-bullet-default-background-color: var(--color-font);
    --slider-bullets-bullet-active-background-color: var(--color-font);
    --slider-bullets-bullet-hover-background-color: var(--color-font);
}

button.slider-bullets__bullet {
    display: var(--slider-bullets-bullet-display);
    align-items: var(--slider-bullets-bullet-align-items);
    justify-content: var(--slider-bullets-bullet-justify-content);
    height: var(--slider-bullets-circle-size);
    width: var(--slider-bullets-circle-size);
    border: var(--slider-bullets-bullet-border);
    background-color: var(--slider-bullets-bullet-background-color);
    opacity: 1;
    transform: none !important;
}

button.slider-bullets__bullet:focus-visible {
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

button.slider-bullets__bullet.is-active {
    background-color: var(--slider-bullets-bullet-active-background-color);
    pointer-events: none;
}

@media (hover: hover) {
    button.slider-bullets__bullet:not(.is-active):hover {
        background-color: var(--slider-bullets-bullet-hover-background-color);
    }
}
