.slider {
    --slider-width: var(--content-width-with-padding);
    --slider-max-width: var(--content-max-width);
    --slider-margin: 0 auto;
    --slider-aspect-ratio: var(--aspect-ratio-16-9);
    --slider-position: relative;

    --slider-image-object-fit: cover;

    --slider-top-position: relative;

    --slider-control-position: absolute;
    --slider-control-transform: translateY(-50%);
    --slider-control-size: calc(var(--spacing-l) + var(--spacing-s));
    --slider-control-border-radius: var(--border-radius-circle);
    --slider-control-distance-to-margin: var(--spacing-normal);
    --slider-control-border: none;

    --slider-control-icon-position: absolute;
    --slider-control-icon-inset: 50% auto auto 50%;
    --slider-control-icon-transform: translate(-50%, -50%);

    --slider-bullets-display: flex;
    --slider-bullets-place-items: center;

    position: var(--slider-position);
    width: var(--slider-width);
    max-width: var(--slider-max-width);
    margin: var(--slider-margin);
}

.slider--design-default {
    --slider-control-default-background-color: var(--color-font);
    --slider-control-hover-background-color: var(--color-font-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-font-dark);
}

.slider--design-primary {
    --slider-control-default-background-color: var(--color-primary);
    --slider-control-hover-background-color: var(--color-primary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-primary-dark);
}

.slider--design-secondary {
    --slider-control-default-background-color: var(--color-secondary);
    --slider-control-hover-background-color: var(--color-secondary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-secondary-dark);
}

.slider--design-light-grey {
    --slider-control-default-background-color: var(--color-font-light);
    --slider-control-hover-background-color: var(--color-primary-dark);

    --slider-control-icon-default-color: var(--color-font-dark);
    --slider-control-icon-hover-color: var(--color-bg);
}

.slider--fullwidth {
    --slider-width: var(--content-fullwidth);
    --slider-max-width: var(--content-fullwidth);
}

.slider__slide {
    aspect-ratio: var(--slider-aspect-ratio);
}

.slider__media--image {
    aspect-ratio: var(--slider-aspect-ratio);
    object-fit: var(--slider-image-object-fit);
}

.slider__top {
    position: var(--slider-top-position);
}

/* SLIDER CONTROLS */
.slider__control {
    position: var(--slider-control-position);
    display: block;
    inset: var(--slider-control-inset);
    transform: var(--slider-control-transform);
    background-color: var(--slider-control-default-background-color);
    border: var(--slider-control-border);
    height: var(--slider-control-size);
    width: var(--slider-control-size);
    border-radius: var(--slider-control-border-radius);
}

.slider__control--prev {
    --slider-control-inset: 50% auto auto var(--slider-control-distance-to-margin);
}

.slider__control--next {
    --slider-control-inset: 50% var(--slider-control-distance-to-margin) auto auto;
}

.slider--fullwidth .slider__control {
    --slider-control-height: 92px;
    --slider-control-width: calc(var(--slider-control-height) / 2);

    height: var(--slider-control-height);
    width: var(--slider-control-width);
}

.slider--fullwidth .slider__control--prev {
    --slider-control-inset: 50% auto auto 0;
    --slider-control-icon-transform: translate(-65%, -50%);

    border-radius: 0 var(--slider-control-width) var(--slider-control-width) 0;

}
.slider--fullwidth .slider__control--next {
    --slider-control-inset: 50% 0 auto auto;
    --slider-control-icon-transform: translate(-35%, -50%);

    border-radius: var(--slider-control-width) 0 0 var(--slider-control-width);
}

.slider__control-icon {
    position: var(--slider-control-icon-position);
    inset: var(--slider-control-icon-inset);
    transform: var(--slider-control-icon-transform);
    background-color: var(--slider-control-icon-default-color);
}

.slider--fullwidth .slider__control-icon {
    --icon-size: var(--icon-size-m);
}

.slider__bullets {
    display: var(--slider-bullets-display);
    place-items: var(--slider-bullets-place-items);
}

@media (hover: hover) {
    .slider__control:hover {
        --slider-control-default-background-color: var(--slider-control-hover-background-color);
        --slider-control-icon-default-color: var(--slider-control-icon-hover-color);

        cursor: pointer;
    }
}



/* JUST FOR THE DEMO */
.slider__slide--DEMO-HIDE {
    display: none;
}