@layer components {
    .slider-controls {
        --slider-controls-display: block;

        position: var(--slider-controls-position);
        top: var(--slider-controls-top);
        bottom: var(--slider-controls-bottom);
        left: var(--slider-controls-left);
        width: var(--slider-controls-width);
        height: var(--slider-controls-height);
        aspect-ratio: var(--slider-controls-aspect-ratio);
        z-index: var(--slider-controls-z-index);
        pointer-events: none;
        display: var(--slider-controls-display);
    }

    .slider[slider-aspect-ratio="0.5625"]:not([content-type="teaser"]) .slider-controls {
        --slider-controls-aspect-ratio: var(--aspect-ratio-16-9);
    }

    .header .slider {
        --slider-controls-height: 100%;
        --slider-controls-aspect-ratio: auto;
    }

    .slider[content-type="card-collection"] {
        --slider-controls-aspect-ratio: auto;
        --slider-controls-top: unset;
        --slider-controls-bottom: calc(var(--spacing-l) * -1);
    }

    .slider[content-type="logos"] {
        --slider-controls-aspect-ratio: auto;
        --slider-controls-top: unset;
        --slider-controls-bottom: calc(var(--spacing-s));
    }

    .slider[content-type="media"] {
        --slider-controls-aspect-ratio: auto;
        --slider-controls-height: 100%;
    }

    .slider[slider-fullwidth][content-type="logos"] {
        --slider-controls-top: calc(50% - calc(var(--slider-control-size) / 2));
        --slider-controls-bottom: unset;
    }

    .slider[content-type="teaser"] {
        --slider-controls-aspect-ratio: auto;
        --slider-controls-top: unset;
        --slider-controls-bottom: calc(var(--spacing-l) * -1);
    }

    .slider[content-type="card-collection"][slides-count="0"] .slider-controls,
    .slider[content-type="card-collection"][slides-count="1"] .slider-controls {
        --slider-controls-display: none;
    }

    @container (width >= 540px) {
        .slider[content-type="card-collection"][slides-count="2"] .slider-controls {
            --slider-controls-display: none;
        }
    }

    @container (width >= 768px) {
        .slider[content-type="card-collection"][slides-count="3"] .slider-controls {
            --slider-controls-display: none;
        }
    }

    @container (width >= 840px) {
        .slider[content-type="logos"],
        .slider[content-type="card-collection"],
        .slider[content-type="teaser"] {
            --slider-controls-bottom: var(--spacing-s);
        }

        .slider[content-type="card-collection"][slides-count="4"] .slider-controls {
            --slider-controls-display: none;
        }
    }
}
