.slider-controls {
    position: var(--slider-controls-position);
    top: var(--slider-controls-top);
    bottom: var(--slider-controls-bottom);
    left: var(--slider-controls-left);
    width: var(--slider-controls-width);
    height: var(--slider-controls-height);
    aspect-ratio: var(--slider-controls-aspect-ratio);
    z-index: var(--slider-controls-z-index);
    pointer-events: none;
}

.slider[slider-aspect-ratio="0.5625"] .slider-controls {
    --slider-controls-aspect-ratio: var(--aspect-ratio-16-9);
}

.slider[content-type="logos"],
.header .slider {
    --slider-controls-height: 100%;
    --slider-controls-aspect-ratio: auto;
}

.slider[content-type="card-collection"] {
    --slider-controls-aspect-ratio: auto;
    --slider-controls-top: unset;
    --slider-controls-bottom: calc(var(--spacing-l) * -1);
}

@media screen and (min-width: 840px) {
    .slider[content-type="teaser"] .slider-controls {
        --slider-controls-aspect-ratio: auto;
        --slider-controls-height: calc(100% - var(--spacing-l));
    }

    .slider[content-type="card-collection"] {
        --slider-controls-bottom: var(--spacing-s);
    }
}
