.slider {
    --slider-display: block;
    --slider-width: var(--content-width-with-padding);
    --slider-max-width: var(--content-max-width);
    --slider-margin: var(--spacing-between-elements-normal) auto 0;
    --slider-aspect-ratio: var(--aspect-ratio-16-9);
    --slider-position: relative;
    --slider-z-index: var(--z-index-content);

    --slider-image-object-fit: cover;

    --slider-top-position: relative;

    --slider-control-position: absolute;
    --slider-control-top: calc(calc(100% - 2rem) / 2);
    --slider-control-transform: translateY(-50%);
    --slider-control-size: calc(var(--spacing-l) + var(--spacing-s));
    --slider-control-border-radius: var(--border-radius-circle);
    --slider-control-distance-to-margin: var(--spacing-normal);
    --slider-control-border: none;
    --slider-control-opacity: 1;
    --slider-control-disabled-opacity: 0;

    --slider-control-icon-position: absolute;
    --slider-control-icon-inset: 50% auto auto 50%;
    --slider-control-icon-transform: translate(-50%, -50%);

    --slider-item-width: 100%;
    --slider-item-margin: 0;
    --slider-item-position: relative;

    display: var(--slider-display);
    position: var(--slider-position);
    width: var(--slider-width);
    max-width: var(--slider-max-width);
    margin: var(--slider-margin);
    z-index: var(--slider-z-index);
}

.text-block__figure .slider {
    --slider-width: var(--content-fullwidth);
}

.header .slider,
.slider:first-child {
    --slider-margin: 0 auto;
}

.slider[content-type="teaser"] {
    --slider-max-width: var(--content-wide-max-width);
}

.slider[content-type="logos"] {
    --slider-margin: 0 auto var(--spacing-normal);
}

.slider[slider-design="default"] {
    --slider-control-default-background-color: var(--color-font);
    --slider-control-hover-background-color: var(--color-font-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-font-dark);
}

.slider[slider-design="primary"] {
    --slider-control-default-background-color: var(--color-primary);
    --slider-control-hover-background-color: var(--color-primary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-primary-dark);
}

.slider[slider-design="secondary"] {
    --slider-control-default-background-color: var(--color-secondary);
    --slider-control-hover-background-color: var(--color-secondary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-secondary-dark);
}

.slider[slider-design="light-grey"] {
    --slider-control-default-background-color: var(--color-font-light);
    --slider-control-hover-background-color: var(--color-primary-dark);

    --slider-control-icon-default-color: var(--color-font-dark);
    --slider-control-icon-hover-color: var(--color-bg);
}

.slider[slider-fullwidth],
.header .slider {
    --slider-width: var(--content-fullwidth);
    --slider-max-width: var(--content-fullwidth);
}

.slider__item {
    width: var(--slider-item-width);
    margin: var(--slider-item-margin);
    position: var(--slider-item-position);
}

/* Header slider height */
.header:not(.header--portfolio-gallery) .splide,
.header:not(.header--portfolio-gallery) .splide__track,
.header:not(.header--portfolio-gallery) .splide__list,
.header:not(.header--portfolio-gallery) .splide__slide,
.header:not(.header--portfolio-gallery) .slider__item {
    height: var(--header-height) !important;
}

@media screen and (min-width: 840px) {
    .header .slider {
        --slider-control-distance-to-margin: var(--spacing-xl);
    }
}
