.slider-progress {
    --slider-progress-display: none;
    --slider-progress-height: var(--spacing-xs);
    --slider-progress-bg-color: var(--color-font-dark);
    --slider-progress-margin: 0;

    --slider-progress-bar-bg-color: var(--color-font-light);

    display: var(--slider-progress-display);
    height: var(--slider-progress-height) !important;
    background-color: var(--slider-progress-bar-bg-color);
    margin: var(--slider-progress-margin);
}

/*.slider[content-type="teaser"] .slider-progress {*/
/*    --slider-progress-margin: var(--spacing-normal) 0 0;*/
/*}*/

.slider[element-design="primary"] .slider-progress {
    --slider-progress-bg-color: var(--color-primary-light);
    --slider-progress-bar-bg-color: var(--color-primary-dark);
}

.slider[element-design="secondary"] .slider-progress {
    --slider-progress-bg-color: var(--color-secondary-light);
    --slider-progress-bar-bg-color: var(--color-secondary-dark);
}

.slider:not([content-type="logos"])[auto-play] .slider-progress {
    --slider-progress-display: block;
}

.slider-progress__bar {
    height: var(--slider-progress-height) !important;
    background-color: var(--slider-progress-bg-color) !important;
}

.slider[content-type="teaser"] .slider-progress,
.slider[content-type="review"] .slider-progress {
    --slider-progress-margin: calc(var(--slider-progress-height) * -1) 0 0;
    --slider-progress-bar-bg-color: transparent;

    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 840px) {
    .slider[content-type="teaser"] .slider-progress,
    .slider[content-type="review"] .slider-progress {
        width: calc(calc(100% - var(--spacing-xl)) / 2);
    }
}
