.slider {
    --slider-display: block;
    --slider-width: var(--content-width-with-padding);
    --slider-max-width: var(--content-max-width);
    --slider-margin: var(--spacing-between-elements-normal) auto 0;
    --slider-aspect-ratio: var(--aspect-ratio-16-9);
    --slider-position: relative;
    --slider-z-index: var(--z-index-content);

    --slider-image-object-fit: cover;

    --slider-top-position: relative;

    --slider-control-position: absolute;
    --slider-control-top: calc(calc(100% - 2rem) / 2);
    --slider-control-transform: translateY(-50%);
    --slider-control-size: calc(var(--spacing-l) + var(--spacing-s));
    --slider-control-border-radius: var(--border-radius-circle);
    --slider-control-distance-to-margin: var(--spacing-normal);
    --slider-control-border: none;
    --slider-control-opacity: 1;
    --slider-control-disabled-opacity: 0;

    --slider-control-icon-position: absolute;
    --slider-control-icon-inset: 50% auto auto 50%;
    --slider-control-icon-transform: translate(-50%, -50%);

    --slider-item-width: 100%;
    --slider-item-margin: 0;
    --slider-item-position: relative;

    --slider-slide-info-position: absolute;
    --slider-slide-info-bottom: 0;
    --slider-slide-info-left: 0;
    --slider-slide-info-width: 100%;
    --slider-slide-info-background: var(--text-background-gradient);
    --slider-slide-info-color: var(--color-bg);
    --slider-slide-info-padding: var(--spacing-normal) var(--spacing-normal) calc(var(--spacing-l) + var(--spacing-xs));
    --slider-slide-info-display: flex;
    --slider-slide-info-flex-direction: column;
    --slider-slide-info-align-items: flex-start ;
    --slider-slide-info-justify-content: flex-start;
    --slider-slide-info-gap: 0;

    display: var(--slider-display);
    position: var(--slider-position);
    width: var(--slider-width);
    max-width: var(--slider-max-width);
    margin: var(--slider-margin);
    z-index: var(--slider-z-index);
}

.header .slider,
.slider:first-child {
    --slider-margin: 0 auto;
}

.slider[content-type="logos"] {
    --slider-margin: 0 auto var(--spacing-normal);
}

.slider[slider-design="default"] {
    --slider-control-default-background-color: var(--color-font);
    --slider-control-hover-background-color: var(--color-font-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-font-dark);
}

.slider[slider-design="primary"] {
    --slider-control-default-background-color: var(--color-primary);
    --slider-control-hover-background-color: var(--color-primary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-primary-dark);
}

.slider[slider-design="secondary"] {
    --slider-control-default-background-color: var(--color-secondary);
    --slider-control-hover-background-color: var(--color-secondary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-secondary-dark);
}

.slider[slider-design="light-grey"] {
    --slider-control-default-background-color: var(--color-font-light);
    --slider-control-hover-background-color: var(--color-primary-dark);

    --slider-control-icon-default-color: var(--color-font-dark);
    --slider-control-icon-hover-color: var(--color-bg);
}

.slider[slider-fullwidth],
.header .slider {
    --slider-width: var(--content-fullwidth);
    --slider-max-width: var(--content-fullwidth);
}

.slider__item {
    width: var(--slider-item-width);
    margin: var(--slider-item-margin);
    position: var(--slider-item-position);
}

/* Header slider height */
.header .splide,
.header .splide__track,
.header .splide__list,
.header .splide__slide,
.header .slider__item {
    height: var(--header-height) !important;
}

.slider__slide-info {
    position: var(--slider-slide-info-position);
    bottom: var(--slider-slide-info-bottom);
    left: var(--slider-slide-info-left);
    width: var(--slider-slide-info-width);
    background: var(--slider-slide-info-background);
    padding: var(--slider-slide-info-padding);
    color: var(--slider-slide-info-color);
    display: var(--slider-slide-info-display);
    flex-direction: var(--slider-slide-info-flex-direction);
    align-items: var(--slider-slide-info-align-items);
    justify-content: var(--slider-slide-info-justify-content);
    gap: var(--slider-slide-info-gap);
}

@media screen and (min-width: 840px) {
    .header .slider {
        --slider-control-distance-to-margin: var(--spacing-xl);
    }
}
