.solr-header {
    border-bottom: var(--border-width-normal) solid var(--border-color-default);
    padding-bottom: var(--spacing-normal);
    margin-bottom: 0;
}

.solr-header__headline {
    color: var(--color-primary);
    margin-bottom: 0;
}

.solr-results__per-page {
    font-family: var(--font-family-text);
    font-size: var(--font-size-normal);
    color: var(--color-font);
}

.input-group--solr-per-page-select {
    width: fit-content;
}

.solr-header__per-page-select {
    padding: var(--spacing-s) calc(var(--spacing-normal) * 2.5) var(--spacing-s) var(--spacing-normal);
}

.solr-results__per-page-form {
    gap: var(--spacing-s);
}

.select__wrapper--solr-per-page-select::after {
    top: 50%;
    transform: translateY(-50%);
}
