@layer components {
    .solr-view-mode {
        --solr-view-mode-highlight-color: var(--color-primary-o-10);

        --solr-view-mode-border: var(--border-width-normal) solid var(--solr-view-mode-highlight-color);
        --solr-view-mode-button-first-child-border-right: none;

        --solr-view-mode-button-checked-bg-color: var(--solr-view-mode-highlight-color);
        --solr-view-mode-button-checked-color: var(--color-font);
        --solr-view-mode-button-checked-pointer-events: var(--color-font);

        border: var(--solr-view-mode-border);
    }

    .solr-view-mode__button:first-child {
        border-right: var(--solr-view-mode-button-first-child-border-right);
    }

    .button.solr-view-mode__button[aria-checked="true"] {
        background-color: var(--solr-view-mode-button-checked-bg-color);
        color: var(--solr-view-mode-button-checked-color);
        pointer-events: var(--solr-view-mode-button-checked-pointer-events);
    }
}
