.solr-pagination {
    --solr-pagination-border-top: var(--border-width-normal) solid var(--border-color-default);
    --solr-pagination-padding: var(--spacing-m) 0 0;
    --solr-pagination-margin: var(--spacing-l) 0 0;

    --solr-pagination-link-bg-color: var(--color-primary-o-10);
    --solr-pagination-link-border: none;
    --solr-pagination-link-padding: 0;
    --solr-pagination-link-size: var(--font-size-xl);
    --solr-pagination-link-text-decoration: none;
    --solr-pagination-link-border-radius: var(--border-radius-s);
    --solr-pagination-link-transition: all 0 var(--animation-easing-normal);

    --solr-pagination-link-lisabled-opacity: 0;

    --solr-pagination-select-padding: var(--spacing-s) var(--spacing-xl) var(--spacing-s) var(--spacing-normal);
    --solr-pagination-select-width: auto;

    --solr-pagination-select-postfix-display: none;

    border-top: var(--solr-pagination-border-top);
    margin: var(--solr-pagination-margin);
    padding: var(--solr-pagination-padding);
}

.solr-pagination__button {
    --solr-pagination-link-bg-color: var(--color-primary-o-10);
}

.solr-pagination__item {
    --solr-pagination-link-bg-color: transparent;
}

.solr-pagination__item--active {
    --solr-pagination-link-bg-color: var(--color-primary);
}

.solr-pagination__link {
    background-color: var(--solr-pagination-link-bg-color);
    border: var(--solr-pagination-link-border);
    padding: var(--solr-pagination-link-padding);
    height: var(--solr-pagination-link-size);
    width: var(--solr-pagination-link-size);
    text-decoration: var(--solr-pagination-link-text-decoration);
    border-radius: var(--solr-pagination-link-border-radius);
    transition: var(--solr-pagination-link-transition);
}

.solr-pagination__link[disabled] {
    opacity: var(--solr-pagination-link-lisabled-opacity);
    pointer-events: none;
    user-select: none;
}

.solr-pagination__link:is(:hover, :focus-visible) {
    --solr-pagination-link-bg-color-active: var(--color-primary-light);

    background-color: var(--solr-pagination-link-bg-color-active);
}

.solr-pagination__link:is(:hover, :focus-visible) .icon {
    --icon-color: var(--color-bg);
}

.solr-pagination__select {
    padding: var(--solr-pagination-select-padding);
    width: var(--solr-pagination-select-width);
}

.solr-pagination__select-postfix {
    display: var(--solr-pagination-select-postfix-display);
}

.solr-pagination__select-wrapper::after {
    top: 50%;
    transform: translateY(-50%);
}
