.text-block {
    --text-blocks-display: grid;
    --text-blocks-grid-template-columns: 1fr;
    --text-blocks-grid-gap: var(--spacing-normal);
    --text-block-width: var(--content-width-with-padding);
    --text-block-max-width: var(--content-max-width);
    --text-block-margin: 0 auto;
    --text-block-image-aspect-ratio: var(--aspect-ratio-auto);
    --text-block-image-object-fit: cover;
    --text-block-media-inside-image-width: 50%;
    --text-block-media-inside-offset: calc(100% / 8);
    --text-block-column-display: block;
    --text-block-column-grid-template-columns: unset;
    --text-block-column-gap: var(--text-blocks-grid-gap);

    display: var(--text-blocks-display);
    grid-template-columns: var(--text-blocks-grid-template-columns);
    grid-gap: var(--text-blocks-grid-gap);
    width: var(--text-block-width);
    max-width: var(--text-block-max-width);
    margin: var(--text-block-margin);
}

.accordion .text-block {
    --text-block-width: 100%;
}

.text-block + .text-block {
    margin-top: var(--content-spacing-between-elements);
}

.text-block--wide,
.text-block--2,
.text-block--2,
.text-block--3,
.text-block--4{
    --text-block-max-width: var(--content-wide-max-width);
}

.text-block__image {
    aspect-ratio: var(--text-block-image-aspect-ratio);
    object-fit: var(--text-block-image-object-fit);
}

.text-block__image--square {
    --text-block-image-aspect-ratio: var(--aspect-ratio-square);
}

.text-block__image--4-3 {
    --text-block-image-aspect-ratio: var(--aspect-ratio-4-3);
}

.text-block__image--16-9 {
    --text-block-image-aspect-ratio: var(--aspect-ratio-16-9);
}

.text-block__image--golden {
    --text-block-image-aspect-ratio: var(--aspect-ratio-golden);
}

:is(.text-block--media-left, .text-block--media-right, .text-block--media-above) .text-block__content {
    margin-top: var(--text-blocks-grid-gap);
}

.text-block--media-below .text-block__column {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--text-blocks-grid-gap);
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    :is(.text-block--media-left, .text-block--media-right) .text-block__content {
        margin-top: 0;
    }

    /* TEXT BLOCK MEDIA BESIDE */
    .text-block--media-beside .text-block__column {
        --text-block-column-display: grid;
        --text-block-column-grid-template-columns: 1fr 1fr;

        display: var(--text-block-column-display);
        grid-template-columns: var(--text-block-column-grid-template-columns);
        grid-gap: var(--text-block-column-gap);
        grid-auto-flow: dense;
    }

    .text-block--media-right.text-block--media-beside .text-block__figure {
        grid-column: 2;
    }

    .text-block--media-right.text-block--media-beside .text-block__content {
        grid-column: 1;
    }

    /* TEXT BLOCK MEDIA INSIDE */
    .text-block--media-inside .text-block__figure {
        width: var(--text-block-media-inside-image-width);
        padding-bottom: calc(var(--text-blocks-grid-gap) / 2);
    }

    /* TEXT BLOCK MEDIA LEFT INSIDE */
    .text-block--media-left.text-block--media-inside .text-block__column {
        transform: translateX(var(--text-blocks-grid-gap));
    }

    .text-block--media-left.text-block--media-inside .text-block__figure {
        float: left;
        padding-right: calc(var(--text-blocks-grid-gap) / 2);
        transform: translateX(calc(var(--text-blocks-grid-gap) * -1));
    }

    .text-block--media-left.text-block--media-inside .text-block__content {
        padding-left: var(--text-block-media-inside-offset);
        padding-right: var(--text-blocks-grid-gap);
    }

    /* TEXT BLOCK MEDIA RIGHT INSIDE */
    .text-block--media-right.text-block--media-inside .text-block__column {
        transform: translateX(calc(var(--text-blocks-grid-gap) * -1));
    }

    .text-block--media-right.text-block--media-inside .text-block__figure {
        float: right;
        padding-left: calc(var(--text-blocks-grid-gap) / 2);
        transform: translateX(var(--text-blocks-grid-gap));
    }

    .text-block--media-right.text-block--media-inside .text-block__content {
        padding-right: var(--text-block-media-inside-offset);
        padding-left: var(--text-blocks-grid-gap);
    }
}

@media screen and (min-width: 840px) {
    .text-block--2,
    .text-block--4 {
        --text-blocks-grid-template-columns: 1fr 1fr;
    }

    .text-block--third-left {
        --text-blocks-grid-template-columns: 1fr 2fr;
    }

    .text-block--third-right {
        --text-blocks-grid-template-columns: 2fr 1fr;
    }

    .text-block--3 {
        --text-blocks-grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .text-block {
        --text-blocks-grid-gap: var(--spacing-l);
    }


    .text-block--4 {
        --text-blocks-grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .text-block--media-left.text-block--media-inside .text-block__column {
        transform: translateX(calc(var(--text-blocks-grid-gap) / 2));
    }

    .text-block--media-left.text-block--media-inside .text-block__figure {
        transform: translateX(calc(var(--text-blocks-grid-gap) * -.5));
    }

    .text-block--media-left.text-block--media-inside .text-block__content {
        padding-right: calc(var(--text-blocks-grid-gap) / 2);
    }

    .text-block--media-right.text-block--media-inside .text-block__column {
        transform: translateX(calc(var(--text-blocks-grid-gap) * -.5));
    }

    .text-block--media-right.text-block--media-inside .text-block__figure {
        transform: translateX(calc(var(--text-blocks-grid-gap) / 2));
    }

    .text-block--media-right.text-block--media-inside .text-block__content {
        padding-left: calc(var(--text-blocks-grid-gap) / 2);
    }
}