.timeline-legend {
    --timeline-legend-display: none;
    --timeline-legend-height: fit-content;
    --timeline-legend-flex-direction: column;
    --timeline-flex-shrink: 0;
    --timeline-legend-border: var(--timeline-line-width) solid var(--timeline-accent-color);
    --timeline-legend-background-color: var(--color-bg);
    --timeline-legend-padding: var(--spacing-normal);
    --timeline-legend-position: sticky;
    --timeline-legend-top: var(--topbar-height);

    --timeline-legend-border-radius: var(--border-radius-default);

    --timeline-legend-list-style: none;
    --timeline-legend-list-margin: 0;
    --timeline-legend-list-padding: 0;
    --timeline-legend-list-display: flex;
    --timeline-legend-list-flex-direction: column;
    --timeline-legend-list-gap: var(--spacing-s);

    --timeline-legend-link-text-decoration: none;
    --timeline-legend-link-font-weight: var(--font-weight-text-bold);

    display: var(--timeline-legend-display);
    height: var(--timeline-legend-height);
    flex-direction: var(--timeline-legend-flex-direction);
    flex-shrink: var(--timeline-flex-shrink);
    border: var(--timeline-legend-border);
    background-color: var(--timeline-legend-background-color);
    padding: var(--timeline-legend-padding);
    border-radius: var(--timeline-legend-border-radius);
    position: var(--timeline-legend-position);
    top: var(--timeline-legend-top);
}

.timeline-legend__list {
    list-style: var(--timeline-legend-list-style);
    margin: var(--timeline-legend-list-margin);
    padding: var(--timeline-legend-list-padding);
    display: var(--timeline-legend-list-display);
    flex-direction: var(--timeline-legend-list-flex-direction);
    gap: var(--timeline-legend-list-gap);
}

.timeline-legend__link {
    color: var(--timeline-accent-color);
    text-decoration: var(--timeline-legend-link-text-decoration);
    font-weight: var(--timeline-legend-link-font-weight);
}

.timeline-legend__link:is(:hover, :focus-visible) {
    color: var(--timeline-accent-color-hover);
}

.timeline-legend__link[is-active] {
    color: var(--timeline-accent-color-hover);
}

@media screen and (min-width: 840px) {
    .timeline[timeline-show-legend] .timeline-legend {
        --timeline-legend-display: flex;
    }
}
