.times-list {
    --times-list-display: block;
    --times-list-width: var(--content-width-with-padding);
    --times-list-max-width: var(--content-max-width);
    --times-list-margin: var(--spacing-between-elements-normal) auto 0;

    --times-list-info-display: block;

    --times-list-date-group-content: ",";
    --times-list-date-group-display: inline-block;
    --times-list-date-group-margin-left: -.4ch;

    display: var(--times-list-display);
    width: var(--times-list-width);
    max-width: var(--times-list-max-width);
    margin: var(--times-list-margin);
}

.times-list__info {
    display: var(--times-list-info-display);
}

.times-list__date-group::after {
    content: var(--times-list-date-group-content);
    display: var(--times-list-date-group-display);
    margin-left: var(--times-list-date-group-margin-left);
}
