.topbutton {
    --topbutton-visibility: hidden;
    --topbutton-display: flex;
    --topbutton-align-items: center;
    --topbutton-justify-content: center;
    --topbutton-bg-color: var(--color-white);
    --topbutton-position: fixed;
    --topbutton-bottom: var(--spacing-normal);
    --topbutton-right: var(--spacing-normal);
    --topbutton-padding: var(--spacing-s);
    --topbutton-margin: 0;
    --topbutton-border-radius: var(--border-radius-default);
    --topbutton-border: var(--border-width-normal) solid var(--color-primary);
    --topbutton-transform: translateY(200%);
    --topbutton-transition: transform var(--animation-duration-normal) var(--animation-easing-normal);
    --topbutton-focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
    --topbutton-focus-outline-ffset: var(--focus-outline-offset);
    --topbutton-z-index: var(--z-index-top-button);

    visibility: var(--topbutton-visibility);
    display: var(--topbutton-display);
    align-items: var(--topbutton-align-items);
    justify-content: var(--topbutton-justify-content);
    background-color: var(--topbutton-bg-color);
    position: var(--topbutton-position);
    bottom: var(--topbutton-bottom);
    right: var(--topbutton-right);
    padding: var(--topbutton-padding);
    margin: var(--topbutton-margin);
    border-radius: var(--topbutton-border-radius);
    transform: var(--topbutton-transform);
    transition: var(--topbutton-transition);
    border: var(--topbutton-border);
    z-index: var(--topbutton-z-index);
}

.topbutton.topbutton[is-visible] {
    --topbutton-transform: translateY(0);
    --topbutton-visibility: visibile;
}

.topbutton:focus,
.topbutton:focus-visible {
    --topbutton-bg-color: var(--color-primary-dark);
    --topbutton-border: var(--border-width-normal) solid var(--color-primary-dark);

    cursor: pointer;
    outline: var(--topbutton-focus-outline);
    outline-offset: var(--topbutton-focus-outline-ffset);
}

.topbutton:focus .icon,
.topbutton:focus-visible .icon {
    --icon-color: var(--color-bg);
}

@media (hover: hover) {
    .topbutton:hover {
        --topbutton-bg-color: var(--color-primary-dark);
        --topbutton-border: var(--border-width-normal) solid var(--color-primary-dark);

        cursor: pointer;
    }

    .topbutton:hover .icon {
        --icon-color: var(--color-bg);
    }
}
