@layer components {
    .topbar {
        --topbar-display: grid;
        --topbar-position: fixed;
        --topbar-top: 0;
        --topbar-width: 100%;
        --topbar-grid-template-columns: 1fr auto auto;
        --topbar-grid-template-areas: "logo actions burger";
        --topbar-grid-gap: var(--spacing-normal);
        --topbar-align-items: center;
        --topbar-padding: 0 var(--spacing-normal);
        --topbar-shadow: var(--shadow-normal);
        --topbar-transition: background-color var(--animation-duration-fast) var(--animation-easing-normal);
        --topbar-z-index: var(--z-index-topbar);
        --topbar-bg-color: var(--color-bg);

        --topbar-before-position: absolute;
        --topbar-before-top: 0;
        --topbar-before-left: 0;
        --topbar-before-height: 100%;
        --topbar-before-width: 100%;
        --topbar-before-z-index: 0;

        --topbar-logo-link-grid-area: logo;
        --topbar-logo-link-height: calc(100% - var(--spacing-normal));
        --topbar-logo-link-max-height: calc(100% - var(--spacing-normal));
        --topbar-logo-link-width: fit-content;
        --topbar-logo-link-z-index: 1;
        --topbar-logo-link-display: flex;
        --topbar-logo-link-align-items: center;
        --topbar-logo-link-text-decoration: none;

        --topbar-logo-display: block;
        --topbar-logo-height: 100%;
        --topbar-logo-width: auto;

        --topbar-title-display: none;
        --topbar-title-font-family: var(--font-family-text);
        --topbar-title-font-size: var(--font-size-l);
        --topbar-title-font-weight: var(--font-weight-text-bold);
        --topbar-title-color: var(--topbar-icons-color);

        --topbar-actions-grid-area: actions;
        --topbar-actions-margin: 0;
        --topbar-actions-height: fit-content;
        --topbar-actions-list-style: none;
        --topbar-actions-padding: 0;
        --topbar-actions-display: flex;
        --topbar-actions-gap: var(--spacing-normal);
        --topbar-actions-z-index: 2;

        --topbar-actions-link-display: flex;
        --topbar-actions-link-align-items: center;
        --topbar-actions-link-justify-content: center;
        --topbar-actions-link-gap: var(--spacing-s);
        /* stylelint-disable-next-line max-line-length */
        --topbar-actions-link-icon-transition: background-color var(--animation-duration-fast) var(--animation-easing-normal);
        --topbar-actions-link-text-decoration: none;
        --topbar-actions-link-cursor: pointer;
        --topbar-actions-link-margin: 0;

        --topbar-actions-text-display: none;
        --topbar-actions-text-z-index: 1;
        --topbar-actions-text-font-size: var(--font-size-s);
        --topbar-actions-text-line-height: 1;

        --topbar-languague-picker-z-index: 2;

        --topbar-icons-color: var(--color-primary);
        --topbar-icons-active-color: var(--color-primary-dark);

        display: var(--topbar-display);
        position: var(--topbar-position);
        top: var(--topbar-top);
        width: var(--topbar-width);
        height: var(--topbar-height);
        grid-template-columns: var(--topbar-grid-template-columns);
        grid-template-areas: var(--topbar-grid-template-areas);
        grid-gap: var(--topbar-grid-gap);
        align-items: var(--topbar-align-items);
        padding: var(--topbar-padding);
        box-shadow: var(--topbar-shadow);
        background-color: var(--topbar-bg-color);
        transition: var(--topbar-transition);
        z-index: var(--topbar-z-index);
    }

    .topbar[no-transitions] {
        --topbar-transition: none !important;
        --topbar-actions-link-icon-transition: none;
    }

    [navigation-color="primary"] .topbar {
        --topbar-bg-color: var(--color-primary);
        --topbar-icons-color: var(--color-bg);
        --topbar-icons-active-color: var(--color-bg-o-75);
        --focus-outline-color: var(--color-bg);

    }

    [navigation-color="secondary"] .topbar {
        --topbar-bg-color: var(--color-secondary);
        --topbar-icons-color: var(--color-bg);
        --topbar-icons-active-color: var(--color-bg-o-75);
        --focus-outline-color: var(--color-bg);
    }

    [navigation-color="font"] .topbar {
        --topbar-bg-color: var(--color-font);
        --topbar-icons-color: var(--color-bg);
        --topbar-icons-active-color: var(--color-bg-o-75);
        --focus-outline-color: var(--color-bg);
    }

    .topbar::before {
        content: "";
        position: var(--topbar-before-position);
        top: var(--topbar-before-top);
        left: var(--topbar-before-left);
        height: var(--topbar-before-height);
        width: var(--topbar-before-width);
        background-color: var(--topbar-bg-color);
        z-index: var(--topbar-before-z-index);
        transition: var(--topbar-transition);
    }

    .topbar__logo-link {
        grid-area: var(--topbar-logo-link-grid-area);
        height: var(--topbar-logo-link-height);
        max-height: var(--topbar-height);
        width: var(--topbar-logo-link-width);
        z-index: var(--topbar-logo-link-z-index);
        display: var(--topbar-logo-link-display);
        align-items: var(--topbar-logo-link-align-items);
        text-decoration: var(--topbar-logo-link-text-decoration) !important;
    }

    .topbar__logo {
        height: var(--topbar-logo-height);
        width: var(--topbar-logo-width);
        display: var(--topbar-logo-display);
    }

    .topbar__logo-link:focus-visible {
        outline-color: var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }

    .topbar__title {
        display: var(--topbar-title-display);
        font-family: var(--topbar-title-font-family);
        font-size: var(--topbar-title-font-size);
        font-weight: var(--topbar-title-font-weight);
        color: var(--topbar-title-color);
    }

    .topbar__actions {
        grid-area: var(--topbar-actions-grid-area);
        margin: var(--topbar-actions-margin);
        height: var(--topbar-actions-height);
        list-style: var(--topbar-actions-list-style);
        padding: var(--topbar-actions-padding);
        display: var(--topbar-actions-display);
        gap: var(--topbar-actions-gap);
        z-index: var(--topbar-actions-z-index);
    }

    .topbar__actions-link {
        display: var(--topbar-actions-link-display);
        align-items: var(--topbar-actions-link-align-items);
        justify-content: var(--topbar-actions-link-justify-content);
        gap: var(--topbar-actions-link-gap);
        text-decoration: var(--topbar-actions-link-text-decoration);
        cursor: var(--topbar-actions-link-cursor);
        margin: var(--topbar-actions-link-margin);
        color: var(--topbar-icons-color)
    }

    .topbar__actions-link:focus-visible {
        --topbar-actions-text-color: var(--topbar-icons-active-color);

        outline-color: var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }

    .topbar__actions-link:focus-visible .icon {
        --icon-color: var(--topbar-icons-active-color);

        transition: var(--topbar-actions-link-icon-transition);
    }

    .topbar__actions-link:focus-visible .topbar__actions {
        outline-color: var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }

    .topbar__actions-link .icon {
        --icon-color: var(--topbar-icons-color);

        transition: var(--topbar-actions-link-icon-transition);
    }

    .topbar__actions-text {
        display: var(--topbar-actions-text-display);
        z-index: var(--topbar-actions-text-z-index);
        color: var(--topbar-actions-text-color);
        font-size: var(--topbar-actions-text-font-size);
        line-height: var(--topbar-actions-text-line-height);
    }

    @media (hover: hover) {
        .topbar__logo-link:hover .topbar__title {
            --topbar-title-color: var(--topbar-icons-active-color);
        }

        .topbar__actions-link:hover {
            --topbar-actions-link-text-decoration: underline;
            --topbar-actions-text-color: var(--topbar-icons-active-color);

            text-decoration-color: var(--topbar-actions-text-color);
        }

        .topbar__actions-link:hover .icon {
            --icon-color: var(--topbar-icons-active-color);
        }
    }

    @media screen and (width < 640px) {
        .topbar:has(.topbar__logo-link[show-title-on-mobile="true"]) {
            --topbar-title-display: block;
            --topbar-logo-display: none;
        }
    }

    @media screen and (width >= 1024px) {
        .topbar {
            --topbar-padding: 0 max(var(--spacing-normal), calc(calc(100% - var(--content-wide-max-width)) / 2));
            --topbar-grid-template-columns: auto 1fr;
            --topbar-grid-template-areas: "logo actions" "logo main-nav";
            --topbar-grid-gap: 0 var(--spacing-normal);

            --topbar-actions-link-icon-transition: none;
            --topbar-actions-text-display: block;
            --topbar-actions-padding: var(--spacing-s) 0 0;
            --topbar-actions-align-self: baseline;
        }

        .topbar:has(.language-picker, .language-picker-dropdown) {
            --topbar-grid-template-areas: "logo actions language-picker" "logo main-nav main-nav";
        }

        .topbar__actions-link .icon {
            --icon-size: var(--font-size-m);
        }

        .topbar__actions {
            --topbar-actions-display: flex;
            --topbar-actions-justify-content: flex-end;

            display: var(--topbar-actions-display);
            justify-content: var(--topbar-actions-justify-content);
            align-self: var(--topbar-actions-align-self);
        }
    }
}
