.toujou-card {
    --toujou-card-display: flex;
    --toujou-card-flex-direction: column;
    --toujou-card-width: 100%;
    --toujou-card-max-width: 100%;
    --toujou-card-shadow: var(--shadow-normal);
    --toujou-card-border-radius: var(--border-radius-normal);
    --toujou-card-overflow: hidden;
    --toujou-card-bg-color: var(--color-bg);

    --toujou-card-top-position: relative;

    --toujou-card-image-ratio: var(--aspect-ratio-4-3);

    --toujou-card-categories-position: absolute;
    --toujou-card-categories-top: var(--spacing-normal);
    --toujou-card-categories-left: 0;

    --toujou-card-category-background-color: var(--color-primary-light);
    --toujou-card-category-color: var(--color-primary-dark);
    --toujou-card-category-display: flex;
    --toujou-card-category-align-items: center;
    --toujou-card-category-justify-content: flex-start;
    --toujou-card-category-gap: var(--spacing-xs);
    --toujou-card-category-line-height: normal;
    --toujou-card-category-padding: var(--spacing-xs) var(--spacing-s);
    --toujou-card-category-border-radius: 0 var(--border-radius-xxxl) var(--border-radius-xxxl) 0;
    --toujou-card-category-font-size: var(--font-size-s);
    --toujou-card-category-margin: 0 0 var(--spacing-xs);

    --toujou-card-date-position: absolute;
    --toujou-card-date-top: var(--spacing-normal);
    --toujou-card-date-left: var(--spacing-normal);
    --toujou-card-date-background-color: var(--color-bg);
    --toujou-card-date-border-radius: var(--border-radius-normal);
    --toujou-card-date-display: flex;
    --toujou-card-date-align-items: center;
    --toujou-card-date-justify-content: center;
    --toujou-card-date-flex-direction: column;
    --toujou-card-date-padding: var(--spacing-s);
    --toujou-card-date-color: var(--color-font);
    --toujou-card-date-line-height: 1;
    --toujou-card-date-height: 4rem;
    --toujou-card-date-width: var(--toujou-card-date-height);

    --toujou-card-date-day-font-size: var(--font-size-m);
    --toujou-card-date-day-font-weight: var(--font-weight-text-bold);

    --toujou-card-date-month-text-transfrom: uppercase;
    --toujou-card-date-month-font-size: var(--font-size-s);

    --toujou-card-location-display: flex;
    --toujou-card-location-align-items: flex-start;
    --toujou-card-location-justofy-content: flex-start;
    --toujou-card-location-flex-direction: column;
    --toujou-card-location-gap: var(--spacing-xs);
    --toujou-card-location-position: absolute;
    --toujou-card-location-bottom: 0;
    --toujou-card-location-left: 0;
    --toujou-card-location-padding: var(--spacing-normal);
    --toujou-card-location-gradient: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 100%);
    --toujou-card-location-width: 100%;

    --toujou-card-city-font-size: var(--font-size-ms);
    --toujou-card-city-font-family: var(--font-family-text);
    --toujou-card-city-font-weight: var(--font-weight-text-bold);
    --toujou-card-city-color: var(--color-bg);
    --toujou-card-city-margin: 0;

    --toujou-card-country-font-size: var(--font-size-normal);
    --toujou-card-country-font-family: var(--font-family-text);
    --toujou-card-country-font-weight: var(--font-weight-text-normal);
    --toujou-card-country-color: var(--color-bg);
    --toujou-card-country-margin: 0;

    --toujou-card-bottom-padding: var(--spacing-normal);

    --toujou-card-title-font-size: var(--font-size-ms);
    --toujou-card-title-color: var(--color-font-dark);
    --toujou-card-title-margin: 0 0 var(--spacing-xs);
    --toujou-card-title-font-family: var(--font-family-text);
    --toujou-card-title-font-weight: var(--font-weight-text-bold);

    --toujou-card-subtitles-margin: 0;
    --toujou-card-subtitles-separator: "-";

    --toujou-card-subtitle-font-family: var(--font-family-text);
    --toujou-card-subtitle-font-weight: var(--font-weight-text-normal);
    --toujou-card-subtitle-font-size: var(--font-size-normal);
    --toujou-card-subtitle-color: var(--color-font);
    --toujou-card-subtitle-font-style: italic;

    --toujou-card-info-display: grid;
    --toujou-card-info-grid-template-columns: auto 1fr;
    --toujou-card-info-grid-gap: var(--spacing-s);
    --toujou-card-info-margin: var(--spacing-normal) 0 0;
    --toujou-card-info-icon-top: 2px;
    --toujou-card-info-text-margin: 0;

    --toujou-card-extension-background-color: var(--color-error);
    --toujou-card-extension-width: fit-content;
    --toujou-card-extension-padding: var(--spacing-xs) var(--spacing-s);
    --toujou-card-extension-color: var(--color-bg);
    --toujou-card-extension-font-size: var(--font-size-s);
    --toujou-card-extension-border-radius: var(--border-radius-normal);
    --toujou-card-extension-margin: var(--spacing-normal) 0;

    --toujou-card-abstract-number-of-line: 3;

    --toujou-card-trip-info-margin: 0;
    --toujou-card-trip-price-amount-font-weight: var(--font-weight-text-bold);
    --toujou-card-trip-price-amount-font-size: var(--font-size-ms);
    --toujou-card-trip-price-suffix-font-size: var(--font-size-xs);

    --toujou-card-button-text-decoration: none;

    display: var(--toujou-card-display);
    flex-direction: var(--toujou-card-flex-direction);
    width: var(--toujou-card-width);
    max-width: var(--toujou-card-max-width);
    box-shadow: var(--toujou-card-shadow);
    border-radius: var(--toujou-card-border-radius);
    overflow: var(--toujou-card-overflow);
    background-color: var(--toujou-card-bg-color);
}

.toujou-card__top {
    position: var(--toujou-card-top-position);
}

.toujou-card__image {
    aspect-ratio: var(--toujou-card-image-ratio);
}

.toujou-card__categories {
    position: var(--toujou-card-categories-position);
    top: var(--toujou-card-categories-top);
    left: var(--toujou-card-categories-left);
}

.toujou-card__category {
    background-color: var(--toujou-card-category-background-color);
    color: var(--toujou-card-category-color);
    display: var(--toujou-card-category-display);
    align-items: var(--toujou-card-category-align-items);
    justify-content: var(--toujou-card-category-justify-content);
    gap: var(--toujou-card-category-gap);
    line-height: var(--toujou-card-category-line-height);
    padding: var(--toujou-card-category-padding);
    margin: var(--toujou-card-category-margin);
    border-radius: var(--toujou-card-category-border-radius);
    font-size: var(--toujou-card-category-font-size);
}

.toujou-card__date {
    position: var(--toujou-card-date-position);
    height: var(--toujou-card-date-height);
    width: var(--toujou-card-date-width);
    top: var(--toujou-card-date-top);
    left: var(--toujou-card-date-left);
    background-color: var(--toujou-card-date-background-color);
    border-radius: var(--toujou-card-date-border-radius);
    display: var(--toujou-card-date-display);
    align-items: var(--toujou-card-date-align-items);
    justify-content: var(--toujou-card-date-justify-content);
    flex-direction: var(--toujou-card-date-flex-direction);
    padding: var(--toujou-card-date-padding);
    color: var(--toujou-card-date-color);
    line-height: var(--toujou-card-date-line-height);
}

.toujou-card__date-day {
    font-size: var(--toujou-card-date-day-font-size);
    font-weight: var(--toujou-card-date-day-font-weight);
}

.toujou-card__date-month {
    text-transform: var(--toujou-card-date-month-text-transfrom);
    font-size: var(--toujou-card-date-month-font-size);
}

.toujou-card__location {
    display: var(--toujou-card-location-display);
    align-items: var(--toujou-card-location-align-items);
    justify-content: var(--toujou-card-location-justofy-content);
    flex-direction: var(--toujou-card-location-flex-direction);
    gap: var(--toujou-card-location-gap);
    position: var(--toujou-card-location-position);
    bottom: var(--toujou-card-location-bottom);
    left: var(--toujou-card-location-left);
    padding: var(--toujou-card-location-padding);
    background: var(--toujou-card-location-gradient);
    width: var(--toujou-card-location-width);
}

.toujou-card__location-city {
    font-size: var(--toujou-card-city-font-size);
    font-family: var(--toujou-card-city-font-family);
    font-weight: var(--toujou-card-city-font-weight);
    color: var(--toujou-card-city-color);
    margin: var(--toujou-card-city-margin);
}

.toujou-card__location-country {
    font-size: var(--toujou-card-country-font-size);
    font-family: var(--toujou-card-country-font-family);
    font-weight: var(--toujou-card-country-font-weight);
    color: var(--toujou-card-country-color);
    margin: var(--toujou-card-country-margin);
}

.toujou-card__bottom {
    padding: var(--toujou-card-bottom-padding);
}

.toujou-card__title {
    font-size: var(--toujou-card-title-font-size);
    color: var(--toujou-card-title-color);
    margin: var(--toujou-card-title-margin);
    font-family: var(--toujou-card-title-font-family);
    font-weight: var(--toujou-card-title-font-weight);
}

.toujou-card__subtitles {
    margin: var(--toujou-card-subtitles-margin);
}

.toujou-card__subtitle {
    font-family: var(--toujou-card-subtitle-font-family);
    font-weight: var(--toujou-card-subtitle-font-weight);
    font-size: var(--toujou-card-subtitle-font-size);
    color: var(--toujou-card-subtitle-color);
    font-style: var(--toujou-card-subtitle-font-style);
}

.toujou-card__subtitle + .toujou-card__subtitle::before {
    content: var(--toujou-card-subtitles-separator);
    margin: 0 var(--spacing-xs);
}

.toujou-card__info {
    display: var(--toujou-card-info-display);
    grid-template-columns: var(--toujou-card-info-grid-template-columns);
    grid-gap: var(--toujou-card-info-grid-gap);
    margin: var(--toujou-card-info-margin);
}

.toujou-card__info-icon {
    position: relative;
    top: var(--toujou-card-info-icon-top);
}

.toujou-card__info-text {
    margin: var(--toujou-card-info-text-margin);
}

.toujou-card__extension {
    background-color: var(--toujou-card-extension-background-color);
    color: var(--toujou-card-extension-color);
    width: var(--toujou-card-extension-width);
    padding: var(--toujou-card-extension-padding);
    font-size: var(--toujou-card-extension-font-size);
    border-radius: var(--toujou-card-extension-border-radius);
    margin: var(--toujou-card-extension-margin);
}

.toujou-card__abstract {
    display: -webkit-box;
    -webkit-line-clamp: var(--toujou-card-abstract-number-of-line);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toujou-card__trip-info {
    margin: var(--toujou-card-trip-info-margin);
}

.toujou-card__trip-price-amount {
    font-weight: var(--toujou-card-trip-price-amount-font-weight);
    font-size: var(--toujou-card-trip-price-amount-font-size);
}

.toujou-card__trip-price-suffix {
    font-size: var(--toujou-card-trip-price-suffix-font-size);
}

.toujou-card__button {
    text-decoration: var(--toujou-card-button-text-decoration);
}