.toujou-slider {
    --slider-display: block;
    --slider-width: var(--content-width-with-padding);
    --slider-max-width: var(--content-max-width);
    --slider-margin: 0 auto;
    --slider-aspect-ratio: var(--aspect-ratio-16-9);
    --slider-position: relative;

    --slider-image-object-fit: cover;

    --slider-top-position: relative;

    --slider-control-position: absolute;
    --slider-control-transform: translateY(-50%);
    --slider-control-size: calc(var(--spacing-l) + var(--spacing-s));
    --slider-control-border-radius: var(--border-radius-circle);
    --slider-control-distance-to-margin: var(--spacing-normal);
    --slider-control-border: none;
    --slider-control-opacity: 1;
    --slider-control-disabled-opacity: 0;

    --slider-control-icon-position: absolute;
    --slider-control-icon-inset: 50% auto auto 50%;
    --slider-control-icon-transform: translate(-50%, -50%);

    --slider-item-width: 100%;
    --slider-item-margin: 0;

    display: var(--slider-display);
    position: var(--slider-position);
    width: var(--slider-width);
    max-width: var(--slider-max-width);
    margin: var(--slider-margin);
}

.toujou-slider[slider-design="default"] {
    --slider-control-default-background-color: var(--color-font);
    --slider-control-hover-background-color: var(--color-font-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-font-dark);
}

.toujou-slider[slider-design="primary"] {
    --slider-control-default-background-color: var(--color-primary);
    --slider-control-hover-background-color: var(--color-primary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-primary-dark);
}

.toujou-slider[slider-design="secondary"] {
    --slider-control-default-background-color: var(--color-secondary);
    --slider-control-hover-background-color: var(--color-secondary-light);

    --slider-control-icon-default-color: var(--color-bg);
    --slider-control-icon-hover-color: var(--color-secondary-dark);
}

.toujou-slider[slider-design="light-grey"] {
    --slider-control-default-background-color: var(--color-font-light);
    --slider-control-hover-background-color: var(--color-primary-dark);

    --slider-control-icon-default-color: var(--color-font-dark);
    --slider-control-icon-hover-color: var(--color-bg);
}

.toujou-slider[slider-fullwidth] {
    --slider-width: var(--content-fullwidth);
    --slider-max-width: var(--content-fullwidth);
}

.toujou-slider__item {
    width: var(--slider-item-width);
    margin: var(--slider-item-margin);
}