.accordion {
    --accordion-display: block;
    --accordion-width: var(--content-width-with-padding);
    --accordion-max-width: var(--content-max-width);
    --accordion-margin: 0 auto;
    --accordion-panel-padding: var(--spacing-normal);
    --accordion-panel-gap: var(--spacing-normal);
    --accordion-panel-max-height: 50rem;
    --accordion-title-color: var(--color-font-dark);
    --accordion-title-active-color: var(--color-primary);
    --accordion-title-margin: 0;
    --accordion-title-font-size: var(--font-size-ms);
    --accordion-subtitle-font-size: var(--font-size-s);
    --accordion-subtitle-color: var(--color-primary);
    --accordion-subtitle-margin: 0;
    --accordion-subtitle-list-separator: ">";
    --accordion-subtitle-list-separator-margin: 0 var(--spacing-s);
    --accordion-subtitle-padding: var(--spacing-s) 0 0;
    --accordion-chevron-size: 1.5rem;
    --accordion-chevron-color: var(--color-font-dark);
    --accordion-chevron-active-color: var(--color-primary);
    --accordion-chevron-active-transform: rotate(180deg);
    --accordion-content-padding: 0 var(--spacing-normal) var(--spacing-l);
    --accordion-item-border: 2px solid var(--color-font-light);
    --accordion-chevron-transition: transform var(--animation-duration-normal) var(--animation-easing-normal);

    display: var(--accordion-display);
    width: var(--accordion-width);
    max-width: var(--accordion-max-width);
    margin: var(--accordion-margin);
}

.accordion__item {
    border-bottom: var(--accordion-item-border);
}

.accordion__item:first-child {
    border-top: var(--accordion-item-border);
}

.accordion__panel {
    padding: var(--accordion-panel-padding);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: var(--accordion-panel-gap);
    align-items: center;
}

.icon.accordion__chevron {
    height: var(--accordion-chevron-size);
    width: var(--accordion-chevron-size);
    transition: var(--accordion-chevron-transition);
    background-color: var(--accordion-chevron-color);
}

.accordion__title {
    color: var(--accordion-title-color);
    margin: var(--accordion-title-margin);
    font-size: var(--accordion-title-font-size);
}

.accordion__subtitle {
    margin: var(--accordion-subtitle-margin);
    font-size: var(--accordion-subtitle-font-size);
    color: var(--accordion-subtitle-color);
    padding: var(--accordion-subtitle-padding);
}

.accordion__subtitle-list {
    list-style: none;
    padding: var(--accordion-subtitle-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.accordion__subtitle-list-item:not(:last-child)::after {
    content: var(--accordion-subtitle-list-separator);
    margin: var(--accordion-subtitle-list-separator-margin);
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.accordion__content .textpic__text p:first-child {
    margin-top: 0;
}

.accordion__content .textpic__text p:last-child {
    margin-bottom: 0;
}

/* OPEN PANEL */
.accordion__content[aria-expanded="true"] {
    padding: var(--accordion-content-padding);
    max-height: var(--accordion-panel-max-height);
}

.accordion__panel[data-open="true"] .accordion__title {
    color: var(--accordion-title-active-color);
}

.accordion__panel[data-open="true"] .accordion__chevron {
    background-color: var(--accordion-chevron-active-color);
    transform: var(--accordion-chevron-active-transform);
}