.toujou-content-card-grid {
    --toujou-content-card-grid-display: flex;
    --toujou-content-card-grid-flex-wrap: wrap;
    --toujou-content-card-grid-align-items: center;
    --toujou-content-card-grid-justify-content: center;
    --toujou-content-card-grid-gap: var(--spacing-normal);
    --toujou-content-card-grid-width: var(--content-width-with-padding);
    --toujou-content-card-grid-max-width: var(--content-wide-max-width);
    --toujou-content-card-grid-margin: 0 auto;

    display: var(--toujou-content-card-grid-display);
    grid-gap: var(--toujou-content-card-grid-gap);
    flex-wrap: var(--toujou-content-card-grid-flex-wrap);
    align-items: var(--toujou-content-card-grid-align-items);
    justify-content: var(--toujou-content-card-grid-justify-content);
    width: var(--toujou-content-card-grid-width);
    max-width: var(--toujou-content-card-grid-max-width);
    margin: var(--toujou-content-card-grid-margin);
}