.toujou-details {
    --toujou-details-display: block;
    --toujou-details-width: var(--content-width-with-padding);
    --toujou-details-max-width: var(--content-max-width);
    --toujou-details-margin: 0 auto;
    --toujou-details-title-color: var(--color-font-dark);
    --toujou-details-title-active-color: var(--color-primary);
    --toujou-details-title-margin: 0;
    --toujou-details-title-font-size: var(--font-size-ms);
    --toujou-details-title-area: title;

    --toujou-details-subtitle-font-size: var(--font-size-s);
    --toujou-details-subtitle-color: var(--color-primary);
    --toujou-details-subtitle-margin: 0;
    --toujou-details-subtitle-list-separator: ">";
    --toujou-details-subtitle-list-separator-margin: 0 var(--spacing-s);
    --toujou-details-subtitle-padding: var(--spacing-s) 0 0;
    --toujou-details-subtitle-area: subtitle;

    --toujou-details-chevron-size: 1.5rem;
    --toujou-details-chevron-color: var(--color-font-dark);
    --toujou-details-chevron-active-color: var(--color-primary);
    --toujou-details-chevron-active-transform: rotate(180deg);
    --toujou-details-chevron-transition: transform var(--animation-duration-fast) var(--animation-easing-normal);
    --toujou-details-chevron-area: chevron;

    display: var(--toujou-details-display);
    width: var(--toujou-details-width);
    max-width: var(--toujou-details-max-width);
    margin: var(--toujou-details-margin);
}

.toujou-details-accordion .toujou-details {
    --toujou-details-width: 100%;
    --toujou-details-max-width: 100%;
}

.toujou-details__title {
    color: var(--toujou-details-title-color);
    margin: var(--toujou-details-title-margin);
    font-size: var(--toujou-details-title-font-size);
    grid-area: var(--toujou-details-title-area);
}

.toujou-details__subtitle {
    margin: var(--toujou-details-subtitle-margin);
    font-size: var(--toujou-details-subtitle-font-size);
    color: var(--toujou-details-subtitle-color);
    padding: var(--toujou-details-subtitle-padding);
    grid-area: var(--toujou-details-subtitle-area);
}

.toujou-details__subtitle-list {
    list-style: none;
    padding: var(--toujou-details-subtitle-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toujou-details__subtitle-list-item:not(:last-child)::after {
    content: var(--toujou-details-subtitle-list-separator);
    margin: var(--toujou-details-subtitle-list-separator-margin);
}

.toujou-icon.toujou-details__chevron {
    height: var(--toujou-details-chevron-size);
    width: var(--toujou-details-chevron-size);
    transition: var(--toujou-details-chevron-transition);
    background-color: var(--toujou-details-chevron-color);
    grid-area: var(--toujou-details-chevron-area);
}

.toujou-details[is-open] .toujou-details__title {
    color: var(--toujou-details-title-active-color);
}

.toujou-details[is-open] .toujou-details__chevron {
    background-color: var(--toujou-details-chevron-active-color);
    transform: var(--toujou-details-chevron-active-transform);
}

