.toujou-bullets {
    --bullets-width: 100%;
    --bullets-display: flex;
    --bullets-align-items: center;
    --bullets-justify-content: center;
    --bullets-gap: var(--spacing-xs);
    --bullets-margin: var(--spacing-s) 0 0;

    --bullets-bullet-display: flex;
    --bullets-bullet-align-items: center;
    --bullets-bullet-justify-content: center;
    --bullets-bullet-size: var(--font-size-m);
    --bullets-bullet-border: none;
    --bullets-bullet-background-color: transparent;

    --bullets-circle-size: calc(var(--spacing-s) + var(--spacing-xxs));

    width: var(--bullets-width);
    display: var(--bullets-display);
    align-items: var(--bullets-align-items);
    justify-content: var(--bullets-justify-content);
    gap: var(--bullets-gap);
    margin: var(--bullets-margin)
}

.toujou-bullets[bullets-design="default"] {
    --bullets-icon-default-background-color: var(--color-font-light);
    --bullets-icon-active-background-color: var(--color-font);
    --bullets-icon-hover-background-color: var(--color-font-dark);
}

.toujou-bullets[bullets-design="primary"] {
    --bullets-icon-default-background-color: var(--color-font-light);
    --bullets-icon-active-background-color: var(--color-primary);
    --bullets-icon-hover-background-color: var(--color-primary-light);
}

.toujou-bullets[bullets-design="secondary"] {
    --bullets-icon-default-background-color: var(--color-font-light);
    --bullets-icon-active-background-color: var(--color-secondary);
    --bullets-icon-hover-background-color: var(--color-secondary-light);
}

.toujou-bullets[bullets-design="light-grey"] {
    --bullets-icon-default-background-color: var(--color-font-light);
    --bullets-icon-active-background-color: var(--color-font);
    --bullets-icon-hover-background-color: var(--color-font-dark);
}

.toujou-bullets__bullet {
    display: var(--bullets-bullet-display);
    align-items: var(--bullets-bullet-align-items);
    justify-content: var(--bullets-bullet-justify-content);
    height: var(--bullets-bullet-size);
    width: var(--bullets-bullet-size);
    border: var(--bullets-bullet-border);
    background-color: var(--bullets-bullet-background-color);
}

.toujou-bullets__bullet:focus-visible {
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

.toujou-bullets__circle {
    display: block;
    height: var(--bullets-circle-size);
    width: var(--bullets-circle-size);
    background-color: var(--bullets-icon-default-background-color);
    border-radius: 50%;
}

.toujou-bullets__bullet.active .toujou-bullets__circle {
    background-color: var(--bullets-icon-active-background-color);
}

@media (hover: hover) {
    .toujou-bullets__bullet:not(.active) {
        cursor: pointer;
    }

    .toujou-bullets__bullet:not(.active):hover .toujou-bullets__circle {
        background-color: var(--bullets-icon-hover-background-color);
    }
}