.toujou-grid {
    --toujou-grid-display: grid;
    --toujou-grid-number-of-columns: 1;
    --toujou-grid-template-columns: repeat(var(--toujou-grid-number-of-columns), 1fr);
    --toujou-grid-gap: var(--spacing-normal);
    --toujou-grid-width: var(--content-width-with-padding);
    --toujou-grid-max-width: var(--content-max-width);
    --toujou-grid-margin: 0 auto;

    display: grid;
    grid-template-columns: var(--toujou-grid-template-columns);
    grid-gap: var(--toujou-grid-gap);
    width: var(--toujou-grid-width);
    max-width: var(--toujou-grid-max-width);
    margin: var(--toujou-grid-margin);
}

.toujou-grid[grid-type="wide"] {
    --toujou-grid-max-width: var(--content-wide-max-width);
}

.toujou-grid[grid-type="fullwidth"] {
    width: var(--content-fullwidth);
    max-width: var(--content-fullwidth);
}

.toujou-grid[grid-type="ignore"] {
    display: contents;
}

@media screen and (min-width: 840px) {
    .toujou-grid[number-of-columns="2"] {
        --toujou-grid-number-of-columns: 2;
    }

    .toujou-grid[number-of-columns="3"] {
        --toujou-grid-number-of-columns: 3;
    }

    .toujou-grid[number-of-columns="4"] {
        --toujou-grid-number-of-columns: 2;
    }
}

@media screen and (min-width: 1024px) {
    .toujou-grid[number-of-columns="4"] {
        --toujou-grid-number-of-columns: 4;
    }
}

