.toujou-grid {
    --grid-width: var(--content-width-with-padding);
    --grid-max-width: var(--content-max-width);
    --grid-margin: 0 auto;

    width: var(--grid-width);
    max-width: var(--grid-max-width);
    margin: var(--grid-margin);
}

.toujou-grid[grid-type="wide"] {
    --grid-max-width: var(--content-wide-max-width);
}

.toujou-grid[grid-type="fullwidth"] {
    width: var(--content-fullwidth);
    max-width: var(--content-fullwidth);
}

.toujou-grid[grid-type="ignore"] {
    display: contents;
}