@layer components {
    .trip-description {
        --trip-description-display: block;
        --trip-description-position: relative;
        --trip-description-width: var(--content-width-with-padding);
        --trip-description-max-width: var(--content-wide-max-width);
        --trip-description-margin: var(--spacing-between-consecutive-elements-normal) auto 0;

        --trip-description-summary-display: grid;
        --trip-description-summary-grid-template-columns: auto 1fr;
        --trip-description-summary-grid-gap: 0 var(--spacing-normal);

        --trip-description-summary-title-color: inherit;

        --trip-description-title-date-display: block;
        --trip-description-title-date-font-family: var(--font-family-text);
        --trip-description-title-date-font-size: var(--font-size-normal);
        --trip-description-title-date-color: var(--color-font);

        --trip-description-files-display: flex;
        --trip-description-files-flex-direction: column;
        --trip-description-files-gap: var(--spacing-s);

        display: var(--trip-description-display);
        position: var(--trip-description-position);
        width: var(--trip-description-width);
        max-width: var(--trip-description-max-width);;
        margin: var(--trip-description-margin);
    }

    .trip-description__summary {
        display: var(--trip-description-summary-display);
        grid-template-columns: var(--trip-description-summary-grid-template-columns);
        grid-gap: var(--trip-description-summary-grid-gap);
    }

    .trip-description__summary .trip-description-day {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .trip-description__summary .details__title {
        grid-column: 2;
        grid-row: 1;
        color: var(--trip-description-summary-title-color);
    }

    .details[is-open] .trip-description__summary .details__title {
        color: var(--color-primary);
    }

    .trip-description__title-date {
        display: var(--trip-description-title-date-display);
        font-family: var(--trip-description-title-date-font-family);
        font-size: var(--trip-description-title-date-font-size);
        color: var(--trip-description-title-date-color);
    }

    .trip-description__summary .details__subtitle {
        --details-subtitle-padding: 0;

        grid-column: 2;
        grid-row: 2;
    }


    .trip-description__files {
        display: var(--trip-description-files-display);
        flex-direction: var(--trip-description-files-flex-direction);
        gap: var(--trip-description-files-gap);
    }
}
