@import 'tokens.css';

:root {

    /**
     **********   CSS USED ON THE ELEMENTS   ************
     */





    /**
     **********   CSS USED ON THE DEMO   ************
     */

    /*--border-radius-normal: .25rem;*/
    /*--border-radius-s: .125rem;*/

    /*--transition-normal: .5s;*/
    /*--transition-fast: .25s;*/

    /* TOPBAR */
    --topbar-border-width: 2px;
    --topbar-logo-size-small: 48px;
    --topbar-logo-size-medium: 64px;
    --topbar-logo-size-large: 80px;
    --topbar-service-navbar-icon-size: 1.25rem;
    --topbar-main-navbar-chevron-size: 1.25rem;
    --topbar-box-shadow: var(--shadow-l);
}