@media (forced-colors: active) {
    .blockquote {
        --blockquote-icon-color: CanvasText;
    }

    blockquote:not(.blockquote__blockquote) {
        --blockquote-tag-icon-color: CanvasText;
    }
}

