@media (forced-colors: active) {
    a.content-card:is(:hover, :focus-visible) {
        --content-card-title-color: Highlight;
        --content-card-text-color: Highlight;
        --content-card-button-color: Highlight;
    }
}
