@media (forced-colors: active) {
    .image-card__title:is(:hover, :focus-visible) {
        color: Highlight;
    }

    .image-card__title .icon {
        background-color: LinkText;
    }

    .image-card__title:is(:hover, :focus-visible) .icon {
        background-color: Highlight;
    }
}
