.fieldset {
    --fieldset-padding: var(--spacing-normal);
    --fieldset-border-color: var(--form-input-default-border-color);
    --fieldset-focus-border-color: var(--form-input-focus-border-color);
    --fieldset-border-width: 1px;
    --fieldset-border-radius: var(--form-input-border-radius);
    --fieldset-margin-top: 0;

    --fieldset-legend-color: var(--form-input-color);
    --fieldset-legend-font-family: var(--form-input-font-family);
    --fieldset-legend-font-size: var(--form-input-font-size);
    --fieldset-legend-font-weight: var(--form-input-font-weight);
    --fieldset-legend-padding: 0 var(--spacing-s);

    padding: var(--fieldset-padding);
    border: var(--fieldset-border-width) solid var(--fieldset-border-color);
    border-radius: var(--fieldset-border-radius);
    margin-top: var(--fieldset-margin-top);
}

:is(.input-group, .form__row, input[hidden], .fieldset) + .fieldset {
    margin-top: var(--form-successive-groups-distance);
}

.fieldset--disabled {
    --fieldset-legend-color: var(--color-font-light);
}

.input-group + .fieldset {
    --fieldset-margin-top: var(--form-successive-groups-distance);
}

.fieldset:focus-within {
    --fieldset-border-color: var(--fieldset-focus-border-color);
    --fieldset-legend-color: var(--fieldset-focus-border-color);
}

.fieldset__legend {
    color: var(--fieldset-legend-color);
    font-family: var(--fieldset-legend-font-family);
    font-size: var(--fieldset-legend-font-size);
    font-weight: var(--fieldset-legend-font-weight);
    padding: var(--fieldset-legend-padding);
}
