.form__row {
    --form-row-display: grid;
    --form-row-grid-template-columns: repeat(var(--form-row-columns-count), 1fr);
    --form-row-gap: var(--form-successive-groups-distance) var(--spacing-normal);
    --form-row-padding-top: 0;
    --form-row-align-items: baseline;

    display: var(--form-row-display);
    grid-template-columns: var(--form-row-grid-template-columns);
    grid-gap: var(--form-row-gap);
    padding-top: var(--form-row-padding-top);
    align-items: var(--form-row-align-items);
}
