.form {
    --form-font-family: var(--font-family-text);
    --form-font-size: var(--font-size-normal);
    --form-font-weight: var(--font-weight-text-normal);
    --form-line-height: var(--line-height-reset);
    --form-margin: 0 auto;

    width: var(--form-width);
    max-width: var(--form-max-width);
    margin: var(--form-margin);
    font-family: var(--form-font-family);
    font-size: var(--form-font-size);
    font-weight: var(--form-font-weight);
    line-height: var(--form-line-height);
}

.form-progress + .form {
    margin-top: var(--spacing-xl);
}

.form__error {
    --form-error-order: 20;
    --form-error-color: var(--color-error);
    --form-error-padding: 0 var(--spacing-xs);
    --form-error-font-size: var(--font-size-s);
    --form-error-display: none;
    --form-error-column: 1 / -1;

    display: var(--form-error-display);
    order: var(--form-error-order);
    color: var(--form-error-color);
    padding: var(--form-error-padding);
    font-size: var(--form-error-font-size);
    grid-column: var(--form-error-column);
}

.checkbox-group .form__error {
    --form-error-padding: 0 var(--spacing-xs) 0 var(--spacing-l);
}

.input-group--toggle .form__error {
    --form-error-padding: 0 var(--spacing-xs) 0 calc(var(--spacing-l) + calc(var(--spacing-normal) * .75));
}

.form__error--after-group {
    --form-error-padding: 0 var(--spacing-s) 0 calc(var(--spacing-m) + 3px);
}

.input-group.input-group--has-error .form__error {
    --form-error-display: block;
}

.form__error--checkbox-group {
    --form-error-padding: 0;

    grid-column: var(--checkbox-group-error-column);
}

.form__error--toggle-group {
    --form-error-padding: 0;

    grid-column: var(--toggle-group-error-column);
}
