.input-label {
    --input-label-position: absolute;
    --input-label-top: var(--spacing-s);
    --input-label-left: var(--spacing-s);
    --input-label-font-family: var(--font-family-text);
    --input-label-font-size: var(--font-size-xs);
    --input-label-color: var(--form-input-color);
    --input-label-required-content: var(--form-required-suffix);
    --input-label-required-content-margin: var(--form-require-suffix-margin);
    --input-label-z-index: 1;

    position: var(--input-label-position);
    top: var(--input-label-top);
    left: var(--input-label-left);
    font-family: var(--input-label-font-family);
    font-size: var(--input-label-font-size);
    color: var(--input-label-color);
    z-index: var(--input-label-z-index);
}

.input-group--required .input-label::after {
    content: var(--input-label-required-content);
    margin: var(--input-label-required-content-margin);
}

.input-group:focus-within .input-label {
    --input-label-color: var(--color-primary);
}

.input-group--disabled .input-label {
    --input-label-color: var(--color-font-light);
}

.input-group.input-group--has-error .input-label {
    --input-label-color: var(--color-error);
}

.input-group.input-group--has-success .input-label {
    --input-label-color: var(--color-success);
}

.input-group--multi-select .input-label {
    background-color: var(--color-bg);
    width: calc(100% - var(--spacing-l))
}

.input-group--multi-select .input-label::before {
    content: "";
    display: block;
    height: calc(100% + var(--input-label-top));
    width: calc(100% + calc(var(--input-label-left) * 2) - 2px);
    position: absolute;
    top: calc(var(--input-label-top) * -1 + 1px);
    left: calc(var(--input-label-left) * -1 + 2px);
    background-color: var(--color-bg);
    z-index: -1;
}

.input-group--rating-radios .input-label {
    --input-label-position: relative;
    --input-label-top: unset;
    --input-label-left: unset;

    font-family: var(--radio-group-label-font-family);
    font-size: var(--radio-group-label-font-size);
    font-weight: var(--radio-group-label-font-weight);
    color: var(--radio-group-label-color);
}

.input-group--captcha .input-label {
    --input-label-position: relative;
    --input-label-top: unset;
    --input-label-left: unset;
}
