.input {
    --input-position: relative;
    --input-width: 100%;
    --input-border: var(--form-input-default-border);
    --input-border-radius: var(--form-input-border-radius);
    --input-background-color: var(--form-input-background-color);
    --input-padding: var(--form-input-padding);
    --input-color: var(--form-input-color);
    --input-font-family: var(--form-input-font-family);
    --input-font-size: var(--form-input-font-size);
    --input-font-weight: var(--form-input-font-weight);

    --input-placeholder-color: var(--form-placeholder-color);

    --input-focus-caret-color: var(--form-input-caret-color);

    position: var(--input-position);
    width: var(--input-width);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-background-color);
    padding: var(--input-padding);
    color: var(--input-color);
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
}

.input:focus {
    border: var(--form-input-focus-border);
    outline: var(--form-input-focus-border);
    caret-color: var(--input-focus-caret-color);
}

.input[disabled] {
    --input-color: var(--color-font-light);
    --input-border-color: var(--color-font-light);

    pointer-events: none;
}

.input-group.input-group--has-error .input {
    border: var(--form-input-error-border);
    outline: var(--form-input-error-border);
}

.input-group.input-group--has-success .input {
    --input-color: var(--color-font);

    border: var(--form-input-success-border);
    outline: var(--form-input-success-border);
}

.input::placeholder {
    color: var(--input-placeholder-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

@media (hover: hover) {
    .input:not(:focus):hover {
        border: var(--form-input-hover-border);
        outline: var(--form-input-hover-border);
    }
}
