.input-group.multi-checkbox-group {
    --multi-checkbox-group-display: grid;
    --multi-checkbox-group-grid-column-count: 1;
    --multi-checkbox-group-grid-gap: 0;

    --multi-checkbox-group-label-font-family: var(--form-input-font-family);
    --multi-checkbox-group-label-font-size: var(--form-input-font-size);
    --multi-checkbox-group-label-font-weight: var(--form-input-font-weight);
    --multi-checkbox-group-label-color: var(--form-input-color);
    --multi-checkbox-group-label-column: 1 / -1;

    display: var(--multi-checkbox-group-display);
    grid-template-columns: repeat(var(--multi-checkbox-group-grid-column-count), 1fr);
    grid-gap: var(--multi-checkbox-group-grid-gap);
}

.multi-checkbox-group__label {
    font-size: var(--multi-checkbox-group-label-font-size);
    font-family: var(--multi-checkbox-group-label-font-family);
    font-weight: var(--multi-checkbox-group-label-font-weight);
    color: var(--multi-checkbox-group-label-color);
    grid-column: var(--multi-checkbox-group-label-column);
}

@container (width >= 640px) {
    .input-group.multi-checkbox-group {
        --multi-checkbox-group-grid-column-count: 2;
        --multi-checkbox-group-grid-gap: 0 var(--spacing-normal);
    }
}

@container (width >= 960px) {
    .input-group.multi-checkbox-group {
        --multi-checkbox-group-grid-column-count: 3;
    }
}
