.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select__wrapper {
    --select-wrapper-width: 100%;
    --select-chevron-size: var(--font-size-m);
    --select-chevron-image: var(--icon-chevron-down);
    --select-chevron-background-color: var(--form-input-color);
    --select-chevron-position: absolute;
    --select-chevron-right: var(--spacing-s);
    --select-chevron-top: var(--spacing-normal);
    --select-chevron-transform: translateY(-50%);

    width: var(--select-wrapper-width);
}

.input-group--disabled .select__wrapper {
    --select-chevron-background-color: var(--color-font-light);
}

.select__wrapper::after {
    content: "";
    display: block;
    height: var(--select-chevron-size);
    width: var(--select-chevron-size);
    background-color: var(--select-chevron-background-color);
    position: var(--select-chevron-position);
    top: var(--select-chevron-top);
    right: var(--select-chevron-right);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: var(--select-chevron-image);
    -webkit-mask-image: var(--select-chevron-image);
    pointer-events: none;
}