.toggle {
    --toggle-position: relative;
    --toggle-height: var(--form-input-font-size);
    --toggle-ratio: 1.75;
    --toggle-width: calc(var(--toggle-height) * var(--toggle-ratio));
    --toggle-top: 3px;

    --toggle-track-position: absolute;
    --toggle-track-top: 50%;
    --toggle-track-transform: translateY(-50%);
    /*--toggle-track-height: calc(var(--toggle-height) / 2);*/
    --toggle-track-height: 10px;
    --toggle-track-border-radius: calc(var(--toggle-track-height) / 2);
    --toggle-track-default-color: var(--color-font-light);
    --toggle-track-checked-color: var(--color-primary-light);

    --toggle-thumb-size: var(--toggle-height);
    --toggle-thumb-default-color: var(--color-font);
    --toggle-thumb-checked-color: var(--color-primary);
    --toggle-thumb-hover-color: var(--color-font-dark);
    --toggle-thumb-checked-hover-color: var(--color-primary-dark);
    --toggle-thumb-border-radius: var(--border-radius-circle);
    --toggle-thumb-position: absolute;

    position: var(--toggle-position);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: var(--toggle-height);
    width: var(--toggle-width);
}

.toggle[disabled] {
    --toggle-track-default-color: var(--color-font-o-20);
    --toggle-thumb-default-color: var(--color-font-light);
}

.toggle::before {
    content: "";
    position: var(--toggle-track-position);
    top: var(--toggle-track-top);
    transform: var(--toggle-track-transform);
    display: block;
    width: var(--toggle-width);
    height: var(--toggle-track-height);
    border-radius: var(--toggle-track-border-radius);
    background-color: var(--toggle-track-default-color);
}

.toggle:checked::before {
    --toggle-track-default-color: var(--toggle-track-checked-color);
}

.toggle::after {
    content: "";
    display: block;
    position: var(--toggle-thumb-position);
    width: var(--toggle-thumb-size);
    height: var(--toggle-thumb-size);
    border-radius: var(--toggle-thumb-border-radius);
    background-color: var(--toggle-thumb-default-color);
    transition: transform var(--animation-duration-very-fast) var(--animation-easing-normal);
}

.toggle:checked::after {
    --toggle-thumb-default-color: var(--toggle-thumb-checked-color);

    transform: translateX(calc(var(--toggle-width) - var(--toggle-thumb-size)));
}

.toggle:focus-visible {
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
}

@media (hover: hover) {
    .toggle:hover {
        cursor: pointer;
    }

    .toggle:hover::after {
        --toggle-thumb-default-color: var(--toggle-thumb-hover-color);
    }

    .toggle:checked:hover::after {
        --toggle-thumb-default-color: var(--toggle-thumb-checked-hover-color);
    }
}