.toggle-group {
    --toggle-group-display: grid;
    --toggle-group-grid-template-columns: auto 1fr;
    --toggle-group-grid-gap: 0 var(--spacing-s);

    --toggle-group-label-font-family: var(--form-input-font-family);
    --toggle-group-label-font-size: var(--form-input-font-size);
    --toggle-group-label-font-weight: var(--form-input-font-weight);
    --toggle-group-label-color: var(--form-input-color);

    --toggle-group-description-column: 2;

    --toggle-group-error-column: 2;
    --toggle-group-error-padding: 0;

    display: var(--toggle-group-display);
    grid-template-columns: var(--toggle-group-grid-template-columns);
    grid-gap: var(--toggle-group-grid-gap);
}

.input-group--multi-check .toggle-group {
    margin: var(--multi-check-group-row-margin);
}

.input-group.input-group--checkbox::after,
.input-group.input-group--multi-check::after{
    --input-group-icon-display: none;
}

.toggle-group__label {
    font-family: var(--toggle-group-label-font-family);
    font-size: var(--toggle-group-label-font-size);
    font-weight: var(--toggle-group-label-font-weight);
    color: var(--toggle-group-label-color);
}

.input-group--disabled .toggle-group__label {
    --toggle-group-label-color: var(--color-font-light);

    pointer-events: none;
}

@media (hover: hover) {
    .toggle-group__label:hover {
        cursor: pointer;
    }
}