.form-navigation {

   --form-navigation-display: flex;
   --form-navigation-flex-direction: row-reverse;
   --form-navigation-gap: var(--spacing-normal);
   --form-navigation-margin: var(--spacing-m) 0;
   --form-navigation-justify-content: flex-start;

   display: var(--form-navigation-display);
   flex-direction: var(--form-navigation-flex-direction);
   gap: var(--form-navigation-gap);
   margin: var(--form-navigation-margin);
   justify-content: var(--form-navigation-justify-content);

}


