main {
    padding-bottom: var(--spacing-between-elements-normal);
    container-name: main;
    container-type: inline-size;
}

main:first-child,
.topbar + main {
    --main-padding-top: var(--topbar-height);

    padding-top: var(--main-padding-top);
}

main > *:not(span, .breadcrumb, .chapter):first-child,
main > span:first-child + *:not(.breadcrumb, .chapter) {
    margin-top: var(--spacing-between-elements-normal);
}

main:has(> .chapter[background-color]:last-child) {
    padding-bottom: 0;
}
