.separated-list {
    --separated-list-list-style: none;
    --separated-list-display: flex;
    --separated-list-flex-flow: row wrap;
    --separated-list-align-items: center;
    --separated-list-justify-content: flex-start;
    --separated-list-gap: 0;
    --separated-list-margin: 0;
    --separated-list-padding: 0;

    --separated-list-separator: "•";
    --separated-list-separator-gap: var(--spacing-s);

    list-style: var(--separated-list-list-style);
    display: var(--separated-list-display);
    flex-flow: var(--separated-list-flex-flow);
    align-items: var(--separated-list-align-items);
    justify-content: var(--separated-list-justify-content);
    gap: var(--separated-list-gap);
    margin: var(--separated-list-margin);
    padding: var(--separated-list-padding);
}

.separated-list[list-separator="comma"] {
    --separated-list-separator: ",";
    --separated-list-separator-gap: 0 var(--spacing-xs);
}

.separated-list[list-separator="pipe"] {
    --separated-list-separator: "|";
}

.separated-list[list-separator="dot"] {
    --separated-list-separator: "•";
}

.separated-list[list-alignment="center"] {
    --separated-list-justify-content: center;
}

.separated-list[list-spacing="wide"] {
    --separated-list-separator-gap: var(--spacing-normal);
}

.separated-list__item:not(:last-child)::after {
    content: var(--separated-list-separator);
    margin-inline: var(--separated-list-separator-gap);
}
