/* These variables have the "toujou" prefix because they come from the webcomponent */
.snackbar {
    --toujou-snackbar-font-family: var(--font-family-text);
    --toujou-snackbar-font-weight: var(--font-weight-text-normal);
    --toujou-snackbar-bg-color: var(--color-font);
    --toujou-snackbar-border: var(--border-width-normal) solid var(--toujou-snackbar-bg-color);
    --toujou-snackbar-bottom: var(--spacing-normal);
    --toujou-snackbar-left: var(--spacing-normal);
    --toujou-snackbar-padding: var(--spacing-normal);
    --toujou-snackbar-border-radius: var(--border-radius-default);
    --toujou-snackbar-z-index: var(--z-index-notifications);
    --toujou-snackbar-transition: all var(--animation-duration-fast) var(--animation-easing-normal);
    --toujou-snackbar-shadow: var(--shadow-normal);

    --toujou-snackbar-focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
    --toujou-snackbar-focus-outline-offset: var(--focus-outline-offset);

    --toujou-snackbar-message-color: var(--color-bg);

    --toujou-snackbar-button-font-family: var(--toujou-snackbar-font-family);
    --toujou-snackbar-button-font-weight: var(--toujou-snackbar-font-weight);

    font-family: var(--toujou-snackbar-font-family);
    font-weight: var(--toujou-snackbar-font-weight);
    box-shadow: var(--toujou-snackbar-shadow);
    border: var(--toujou-snackbar-border) !important;
}

.snackbar[success] {
    --toujou-snackbar-bg-color: var(--color-success);
    --toujou-snackbar-success-message-color: var(--color-success-l-15);
    --toujou-snackbar-success-button-color: var(--color-success-l-15);
}

.snackbar[error] {
    --toujou-snackbar-bg-color: var(--color-error);
    --toujou-snackbar-error-message-color: var(--color-error-l-15);
    --toujou-snackbar-error-button-color: var(--color-error-l-15);
}

.snackbar[warning] {
    --toujou-snackbar-bg-color: var(--color-warning);
    --toujou-snackbar-warning-message-color: var(--color-warning-l-15);
    --toujou-snackbar-warning-button-color: var(--color-warning-l-15);
}

.snackbar[info] {
    --toujou-snackbar-bg-color: var(--color-primary);
    --toujou-snackbar-info-message-color: var(--color-bg);
    --toujou-snackbar-info-button-color: var(--color-bg);
}
