.table {
    --table-width: 100%;
    --table-margin: 0 auto;
    --table-text-align: left;
    --table-bg-color-light: transparent;
    --table-bg-color-dark: var(--color-font-o-05);
    --table-border: none;

    --table-caption-margin: 0 auto var(--spacing-s) auto;

    --table-summary-display: block;
    --table-summary-font-size: var(--font-size-s);

    --table-head-color: var(--color-font);

    --table-row-border: var(--border-width-normal) solid var(--border-color-default);

    --table-cell-padding: var(--spacing-normal);

    border: var(--table-border);
    width: var(--table-width);
    margin: var(--table-margin);
    text-align: var(--table-text-align);
}

.table[text-alignment="left"] {
    --table-text-align: left;
}

.table[text-alignment="right"] {
    --table-text-align: right;
}

.table[text-alignment="center"] {
    --table-text-align: center;
}

.table__caption {
    margin: var(--table-caption-margin);
    text-align: var(--table-text-align);
}

.table__summary {
    display: var(--table-summary-display);
    font-size: var(--table-summary-font-size);
}

thead {
    background-color: var(--table-bg-color-dark);
}

tr {
    border-top: var(--table-row-border);
}

tr:last-child {
    border-bottom: var(--table-row-border);
}

tr:nth-child(even) {
    background-color: var(--table-bg-color-light);
}

tr:nth-child(odd) {
    background-color: var(--table-bg-color-dark);
}

th {
    color: var(--table-head-color);
    padding: var(--table-cell-padding);
}

td {
    padding: var(--table-cell-padding);
}
