@media print {
    .collection-item {
        --collection-item-category-background-color: white;
        --collection-item-category-color: black;
        --collection-item-info-icon-color: black;
        --collection-item-city-color: white;
        --collection-item-country-color: white;
        --collection-item-abstract-color: black;
    }

    .collection-item[element-design="inverted"] {
        --collection-item-bg-color: transparent;
    }

    .collection-item[item-type="product"] {
        color: white !important;
    }

    .collection-item__category .icon {
        background-color: black;
    }

    .fake-fav-item {
        display: none;
    }

    .collection-item a {
        color: black;
    }

    .collection-item__button {
        display: none;
    }

    .collection-item[item-type="product"] .collection-item__bottom {
        background-color: black !important;
    }

    .collection-item[item-type="product"] .collection-item__title {
        color: white !important;
    }
}
